.title {
    margin-bottom: 0px !important;
}

.quickview-body {
    display: flex;
    justify-content: space-between;
}

.delete {
    margin-top: 12px;
    margin-right: 12px;
}

.quickview.is-active {
    right: 0 !important;
}

@media screen and (min-width: 1px) {
    .quickview {
        width: 66%;
        right: -66%;
    }
}