<div id="quickviewDefault" class="quickview">
    <header class="quickview-header">
        <p class="title">{{title}}</p>
        <span class="delete" data-dismiss="quickview"></span>
    </header>

    <div class="quickview-body">
        <div class="quickview-block">
            <app-system-log [sourceName]="source"></app-system-log>
        </div>
    </div>

    <footer class="quickview-footer">

    </footer>
</div>

<!-- <button class="button is-small is-light like-link is-link is-pulled-right" data-show="quickview"
    data-target="quickviewDefault">Show quick logs</button> -->
