.menu-list {
  background-color: white !important;
  margin-right: 1%;
  box-shadow: 0 0 0.1em rgba(85, 85, 85, 0.5);
  overflow-y: auto !important;
  max-height: 92vh;
  height: 100vh; 
}

.menu-toogle-icon {
  display: inline-flex;
  height: 1.2em;
  width: 1.2em;
  background-color: whitesmoke;
  border-radius: 50%;
}

.disabled {
  opacity: .7;
  pointer-events: none;
}

ul:has(section.disabled) {
  cursor: not-allowed;
}

.sidebar-icon {
  vertical-align: 0.1em !important;
}

svg#control-dispatch {
  padding-top: .2rem;
  fill: #4a4a4a;
  width: 19px;
  height: 21px;
  stroke: #4a4a4a;
  stroke-width: 10rem;
}

.menu-text {
  padding-right: 0.15rem;
}

#sidebarToggle {
  display: inline-flex;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 0;
}

.border-0 {
  border: 0;
}

#sidemenu .sidemenu-link i {
  margin-right: 0.25rem;
}

#sidemenu.collapsed {
  overflow: visible;
  width: 6.5rem !important;
}

#sidemenu.collapsed .sidemenu-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 6.5rem;
}

#sidemenu.collapsed .sidemenu-link .sidemenu-text {
  font-size: 0.65rem;
  display: block;
}

#sidemenu.collapsed .submenu-text {
  font-size: 0.65rem;
  display: block;
  text-align: center;
  padding: 0.5rem 0.5rem;
}

#sidemenu.collapsed .sidemenu-link i, #sidemenu.collapsed .sidemenu-link #control-dispatch {
  margin-right: 0 !important;
  text-align: center;
}

#sidemenu.collapsed .sidemenu-link .fa-chevron-down {
  margin-right: 0;
  text-align: center;
}

#sidemenu.collapsed .toggle-submenu-dropdown {
  font-size: 0.5rem;
}

#sidemenu.collapsed .submenu-div {
  position: absolute;
  left: calc(6.5rem + 1.5rem / 2);
  z-index: 1;
  top: 2px;
  animation-name: growIn;
  animation-duration: .2s;
  margin: 0;
}

#sidemenu.collapsed .submenu-list {
  padding: 0.5rem 0;
  min-width: 10rem;
  font-size: 0.85rem;
  margin: 0 0 1rem 0;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  border-radius: 0.35rem;
}
