.menu-list {
  background-color: white !important;
  min-height: 100vh;
  margin-top: 0.25%;
  margin-right: 1%;
  box-shadow: 0 0 0.1em rgba(85, 85, 85, 0.5);
  max-height: 100vh;
  overflow-y: auto !important;
}

.menu-toogle-icon {
  display: inline-flex;
  height: 1.2em;
  width: 1.2em;
  background-color: whitesmoke;
  border-radius: 50%;
}

.disabled {
  opacity: .7;
  pointer-events: none;
}

ul:has(section.disabled) {
  cursor: not-allowed;
}


.schedules_icon {
  vertical-align: 0.1em !important;
}
