.menu-list {
  background-color: white !important;
  margin-right: 1%;
  box-shadow: 0 0 0.1em rgba(85, 85, 85, 0.5);
  overflow-y: auto !important;
  max-height: 92vh;
  height: 100vh; 
}

.menu-toogle-icon {
  display: inline-flex;
  height: 1.2em;
  width: 1.2em;
  background-color: whitesmoke;
  border-radius: 50%;
}

.disabled {
  opacity: .7;
  pointer-events: none;
}

ul:has(section.disabled) {
  cursor: not-allowed;
}

.sidebar-icon {
  vertical-align: 0.1em !important;
}

svg#control-dispatch {
  padding-top: .2rem;
  fill: #4a4a4a;
  width: 19px;
  height: 21px;
  stroke: #4a4a4a;
  stroke-width: 10rem;
}

.menu-text {
  padding-right: 0.15rem;
}
