<ul class="menu-list">
  <li>
    <a id="dashboard" [ngClass]="{'is-active': step==='/dashboard'}" (click)="onToggle('/dashboard')">
      Dashboard
    </a>
  </li>
  <li>
      <a id="north" [ngClass]="{'is-active': step==='/north'}" (click)="onToggle('/north')">
        North
      </a>
    </li>
  <li>
    <a id="asset" [ngClass]="{'is-active': step==='/asset'}" (click)="onToggle('/asset')">
      Assets &amp; Readings
    </a>
  </li>

  <li>
    <a>Logs</a>
    <ul>
      <li>
        <a id="audit" [ngClass]="{'is-active': step==='/audit'}" (click)="onToggle('/audit')">Audit</a>
      </li>
      <li>
        <a id="syslog" [ngClass]="{'is-active': step==='/syslog'}" (click)="onToggle('/syslog')">System</a>
      </li>
    </ul>
  </li>

  <li>
    <a id="configuration" [ngClass]="{'is-active': step==='/configuration'}" (click)="onToggle('/configuration')">
      Configuration
    </a>
  </li>

  <li>
    <a id="scheduled-task" [ngClass]="{'is-active': step==='/scheduled-task'}" (click)="onToggle('/scheduled-task')">
      Scheduled Tasks
    </a>
  </li>

  <li>
    <a id="services" [ngClass]="{'is-active': step==='/services'}" (click)="onToggle('/services')">
      Services
    </a>
  </li>

  <li>
    <a id="certificate" [ngClass]="{'is-active': step==='/certificate'}" (click)="onToggle('/certificate')">
      Certificate Store
    </a>
  </li>

  <li>
    <a id="backup-restore" [ngClass]="{'is-active': step==='/backup-restore'}" (click)="onToggle('/backup-restore')">
      Backup &amp; Restore
    </a>
  </li>

  <li>
    <a id="user-management" *ngIf="isAdmin" [ngClass]="{'is-active': step==='/user-management'}" (click)="onToggle('/user-management')">
      User Management
    </a>
  </li>

  <li>
    <a id="support" [ngClass]="{'is-active': step==='/support'}" (click)="onToggle('/support')">
      Support
    </a>
  </li>

  <li>
    <a id="setting" [ngClass]="{'is-active': step==='/setting'}" (click)="onToggle('/setting')">
      Settings
    </a>
  </li>
</ul>
