table tr td {
    vertical-align: middle;
}

.is-text {
    padding-left: 0;
    padding-right: 0;
}

.ep-name{
    color: #3273dc;
    text-decoration: none;
}

.sub {
    color: #707070;
    font-size: .85rem;
    margin-top: 0rem !important;
}

.ep-tbl {
    display: block;
}

.is-hoverable.ep-tbl tr:hover .context-menu {
    background-color: #fafafa; 
}

span.is-small {
    font-size: 0.9rem;
}

.fa-plus {
    font-size: .65em;
}

.field-body .field {
    margin-bottom: 5px;
}

.label.is-small {
    font-size: 0.85rem !important;
}

.valign-middle {
    vertical-align: middle;
}

::ng-deep .ng-select .ng-select-container,
::ng-deep .ng-select.ng-select .ng-select-container {
  height: 30px !important;
  font-size: 0.8em;
  min-height: 28px !important;
}

::ng-deep ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
  color: #848181 !important;
  font-size: 0.8rem !important;
  max-height: 200px !important;
}

.anonymous-warning {
    font-size: 0.8em;
}

.access-label {
    white-space: nowrap;
}



/* .btn {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */
  
  .btn:hover, .dropdown:hover .btn {
    background-color: rgb(178, 34, 34);;
  }