table tr td {
    vertical-align: middle;
}

.pipeline-name {
    color: #3273dc;
    text-decoration: none;
}

.context-menu {
    border: none;
}

.src-dest-name {
    color: #707070;
    font-size: .85rem;
    margin-top: 0rem !important;
}

.is-hoverable.pipeline-table tr:hover .context-menu {
    background-color: #fafafa;
}

.pipeline-table {
    display: block;
}

.fa-plus {
    font-size: .65em;
}