table tr td {
    vertical-align: middle;
}

.is-text {
    padding-left: 0;
    padding-right: 0;
}

.card-header-title {
    padding: 0.75rem 1.5rem;
}

.fade {
    background-color:#f5f5f5 !important;
}

.pipeline-name {
    color: #3273dc;
}

.context-menu {
    border: none;
}

.source-name, .dest-name {
    color: #707070;
    font-size: .85rem;
}

.is-hoverable.pipeline-table tr:hover .context-menu {
    background-color: #fafafa; 
}

span.is-small {
    font-size: 0.9rem;
}
