<div class="container is-fluid">
  <app-service-warning [service]="serviceInfo" (serviceConfigureModal)="openServiceConfigureModal()"
    (refreshService)="refreshServiceInfo()" [serviceType]="'Dispatcher'"></app-service-warning>
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        Control Pipelines
        <button class="button is-small" id="refresh-check" title="Reload" (click)="getControlPipelines()">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </div>
      <a *ngIf="rolesService?.hasControlAccess()" class="fix-pad button is-light" (click)="addControlPipeline()">
        <p *ngIf="viewPort !== 'mobile'" class="add-btn">Add &nbsp;</p>
        <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
      </a>
      <div *ngIf="serviceInfo?.added" class="cog-icon">
        <app-service-config (serviceConfigureModal)="openServiceConfigureModal()" [from]="'dispatcher'">
        </app-service-config>
      </div>
      <span class="icon is-small tooltip has-tooltip-bottom has-tooltip-arrow is-pulled-right is-hovered help-pad"
        data-tooltip="Help" (click)="goToLink('control-pipeline-management')">
        <i class="far fa-question-circle"></i>
      </span>
    </header>
    <div class="card-content">
      <div class="content">
        <div *ngIf="showSpinner" class="app-loading">
          &nbsp;
          <svg class="spinner" viewBox="0 0 100 100">
            <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </div>
        <ng-container *ngIf="!showSpinner">
          <div class="has-text-centered" *ngIf="pipelines != undefined && pipelines.length === 0">
            <small class="no-rec">No Control Pipelines found.</small>
          </div>
          <ng-container *ngIf="pipelines!= undefined && pipelines.length > 0">
            <table id="pipeline-list" class="table is-fullwidth is-responsive is-hoverable pipeline-table"
              cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th class="align-content">Enabled</th>
                  <th class="align-content">Name</th>

                  <th class="align-content">Source</th>
                  <th></th>
                  <th class="align-content">Destination</th>
                  <th></th>
                  <th class="align-content">Filters</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pipeline of pipelines; let i = index;"
                  [ngClass]="{'fade': (pipeline.enabled == 'false')}">
                  <td class="align-content">
                    <ng-container *ngIf="rolesService.hasControlAccess(); else staticText">
                      <input class="checkbox" type="checkbox" [checked]="pipeline.enabled"
                        (click)="onCheckboxClicked($event, pipeline.id)">
                    </ng-container>
                    <ng-template #staticText>
                      <input disabled class="checkbox" type="checkbox" [checked]="pipeline.enabled">
                    </ng-template>
                  </td>
                  <td class="align-content">
                    <a class="button is-ghost p-0 is-text pipeline-name"
                      [routerLink]="['/control-dispatcher/pipelines', pipeline?.id]">{{pipeline.name}}</a>
                  </td>

                  <td class="align-content">
                    <span class="is-small">{{pipeline.source.type}}</span>
                    <span class="help src-dest-name">{{pipeline.source.name ? pipeline.source.name : '*'}}</span>
                  </td>
                  <td></td>
                  <td class="align-content">
                    <span class="is-small">{{pipeline.destination.type}}</span>
                    <span class="help src-dest-name">{{pipeline.destination.name ? pipeline.destination.name :
                      '*'}}</span>
                  </td>
                  <td></td>
                  <td class="align-content" style="font-size: 0.9rem;">
                    {{getFiltersName(pipeline.filters, pipeline.name).join(', ')}}
                  </td>
                  <td><span class="tag is-rounded">{{pipeline.execution}}</span></td>
                  <td>
                    <div *ngIf="rolesService.hasControlAccess()" id="dropdown-{{i}}"
                      class="dropdown is-left is-hoverable">
                      <div class="dropdown-trigger">
                        <a class="button is-small context-menu" aria-haspopup="true" aria-controls="dropdown-menu">
                          <span class="icon">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-600"></i>
                          </span>
                        </a>
                      </div>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                          <a class="dropdown-item" [appDisableUntilResponse]="reenableButton"
                            (click)="openModal(pipeline.id, pipeline.name, 'deletePipeline', 'Are you sure, You want to delete the control pipeline')">
                            Delete
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-alert-dialog (deletePipeline)='deletePipeline($event)' [childData]='childData'></app-alert-dialog>