<div *ngIf="categoryConfiguration != undefined" class="columns is-multiline">
  <ng-container *ngFor="let configItem of (categoryConfiguration.value | keys)">
    <div *ngIf="!configItem.value.readonly" class="column is-narrow is-half">
      <div class="is-clearfix"></div>
      <ng-container>
        <div class="box">
          <p class="subtitle is-6">
            {{configItem.value.description}}
          </p>
          <div class="content">
            <div class="field">
              <div class="control">
                <p hidden="true"> {{configItem.value.type}} </p>
                <div class="control is-fullwidth">
                  <div>
                    <div *ngIf="getConfigAttributeType(configItem.value.type) == 'BOOLEAN'" class="select is-fullwidth is-small">
                      <select id="select-{{categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase}}" (change)="onTextChange('select-' + categoryConfiguration.key.trim() + '-' + configItem.value.key.trim(), configItem.value.value)"
                        name='configItem.value.value' [(ngModel)]="configItem.value.value">
                        <option [value]="true">true</option>
                        <option [value]="false">false</option>
                      </select>
                    </div>
                    <input *ngIf="getConfigAttributeType(configItem.value.type) === 'TEXT'" id="{{categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase}}"
                      class="input is-small" type="text" [value]='configItem?.value?.value != undefined ? configItem?.value?.value : ""'
                      (input)="onTextChange(categoryConfiguration.key.trim() + '-' + configItem.value.key.trim(), configItem.value.value)"
                      [textContent]='configItem?.value?.value != undefined ? configItem?.value?.value : ""' />
                    <input *ngIf="getConfigAttributeType(configItem.value.type) === 'NUMBER'" id="{{categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase}}"
                      (input)="onTextChange(categoryConfiguration.key.trim() + '-' + configItem.value.key.trim(), configItem.value.value)"
                      type="number" [value]='configItem?.value?.value != undefined ? configItem?.value?.value : ""' class="input is-small"
                      [textContent]='configItem?.value?.value != undefined ? configItem?.value?.value : ""' appNumberOnly />

                    <div class="field">
                      <textarea rows="3" *ngIf="getConfigAttributeType(configItem.value.type) === 'LONG_TEXT'" class="textarea is-small" [value]='configItem?.value?.value != undefined ? configItem?.value?.value : ""'
                        id="{{categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase}}" (input)="onTextChange(categoryConfiguration.key.trim() + '-' + configItem.value.key.trim(), configItem.value.value)"
                        type="text" [textContent]='configItem?.value?.value != undefined ? configItem?.value?.value : ""'>
                    {{configItem?.value?.value}}
                    </textarea>
                      <div *ngIf="!isValidJson && (selectedCategoryId === (categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase)) && (configItem.value.type | uppercase) == 'JSON'"
                        class="help is-danger level-left">Invalid JSON</div>
                      <div *ngIf="isEmptyValue && (selectedCategoryId === (categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase))"
                        class="help is-danger level-left">Field can't left blank</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button id="btn-save-{{categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase}}" class="button is-small is-link"
                  (click)="saveConfigValue(categoryConfiguration.key.trim(), configItem.value.key, configItem?.value?.type)">Save</button>
              </div>
              <div class="control">
                <button id="btn-cancel-{{categoryConfiguration.key.trim() + '-' + configItem.value.key.trim() | lowercase}}" class="button is-small hidden"
                  (click)="restoreConfigFieldValue(configItem.value.key.trim(), categoryConfiguration.key.trim(), configItem.value.value.trim(), configItem.value.type.trim())">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
