.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.columns-fields {
    margin-top: auto;
}

.hidden {
    display: none;
}

.panel {
    background-color: #fff;
    margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .view-content {
    display: block !important;
  }
}

@media screen and (min-width: 769px) {
  label{
    width: 12vw !important;
    margin-right: 2vw;
  }
}

.config-div {
  margin-top: 1vw;
}

.error {
  color: red;
}

.tooltip.is-tooltip-multiline::before {
  min-width: 16rem !important;
}
