<div class="columns is-mobile is-multiline" *ngFor="let categoryData of categoryConfigurationData?.value">
  <div class="column is-narrow is-half" *ngFor="let configItem of (categoryData | keys)">
    <div class="is-clearfix"></div>
    <div class="box">
      <p class="subtitle is-6">
        {{configItem.value.description}}
      </p>
      <div class="content">
        <div class="field">
          <div class="control">
            <p hidden="true"> {{configItem.value.type}} </p>
            <div class="control is-fullwidth">
              <form name="form" id="ngForm" #f="ngForm" novalidate>
                <div>
                  <div *ngIf="getConfigAttributeType(configItem.value.type) == 'BOOLEAN'" class="select is-fullwidth is-small">
                    <select id="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}" (input)="onTextChange(categoryConfigurationData.key.trim() + '-' + configItem.key.trim(), f)"
                      (focus)="oldVal=configItem.value.value" [(ngModel)]="configItem.value.value" name="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}"
                      #configItem.key.trim()="ngModel" (ngModelChange)="onModelChange(oldVal)">
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>
                  </div>
                  <input *ngIf="getConfigAttributeType(configItem.value.type) === 'TEXT'" id="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}"
                    class="input is-small" type="text" (input)="onTextChange(categoryConfigurationData.key.trim() + '-' + configItem.key.trim(), f)"
                    (focus)="oldVal=configItem.value.value" name="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}"
                    (ngModelChange)="onModelChange(oldVal)" [(ngModel)]="configItem.value.value" #configItem.key.trim()="ngModel"
                  />

                  <input *ngIf="getConfigAttributeType(configItem.value.type) === 'NUMBER'" id="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}"
                    (input)="onTextChange(categoryConfigurationData.key.trim() + '-' + configItem.key.trim(), f)" (focus)="oldVal=configItem.value.value"
                    type="number" class="input is-small" name="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}"
                    (ngModelChange)="onModelChange(oldVal)" [(ngModel)]="configItem.value.value" #configItem.key.trim()="ngModel"
                    appNumberOnly />

                  <textarea rows="3" *ngIf="getConfigAttributeType(configItem.value.type) === 'LONG_TEXT'" class="textarea is-small" id="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}"
                    (input)="onTextChange(categoryConfigurationData.key.trim() + '-' + configItem.key.trim(), f)" type="text"
                    name="{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}" (focus)="oldVal=configItem.value.value"
                    (ngModelChange)="onModelChange(oldVal)" [(ngModel)]="configItem.value.value" #configItem.key.trim()="ngModel">{{configItem?.value?.value}}</textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button id="btn-save-{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}" class="button is-small is-primary"
              (click)="saveConfigValue(categoryConfigurationData.key.trim(), configItem?.key, configItem?.value?.type, f)">Save</button>
          </div>
          <div class="control">
            <button id="btn-cancel-{{categoryConfigurationData.key.trim() + '-' + configItem.key.trim() | lowercase}}" class="button is-small is-text hidden"
              (click)="restoreConfigFieldValue(configItem.key.trim(), categoryConfigurationData.key.trim(), f)">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
