<div class="view-content columns">
  <span *ngIf="['south', 'north', 'filter', 'rule', 'notify'].includes(pluginInfo?.type.toLowerCase())"
    class="icon is-small is-tooltip-left tooltip is-pulled-right is-hovered" data-tooltip="Help" (click)="goToLink()">
    <i class="far fa-question-circle"></i>
  </span>
  <ng-container *ngIf="rolesService.hasEditorRole(); else staticView">
    <div class="column">
      <form name="form" (ngSubmit)="saveConfiguration(f)" #f="ngForm" novalidate>
        <ng-container *ngIf="categoryConfiguration && hasEditableConfigItems">
          <ng-container *ngFor="let configItem of (categoryConfiguration | keys)"
            [ngSwitch]="getConfigAttributeType(configItem.value.type)">
            <div class="config-div" *ngIf="configItem.value.readonly != 'true'">
              <div class="field is-horizontal">
                <div class="field-label has-text-left">
                  <label class="label tooltip is-tooltip-right is-tooltip-multiline config-label"
                    [attr.data-tooltip]="configItem.value.description">
                    {{setDisplayName(configItem.value)}}
                  </label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <ng-container *ngSwitchCase="'BOOLEAN'">
                      <label class="checkbox">
                        <input type="checkbox" name='{{configItem.value.key}}' value="setConfigValue(configItem.value)"
                          [ngModel]="setConfigValue(configItem.value) == 'true'"
                          (change)="checkValidityOnChange(configItem.value, $event.target.checked)"
                          [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable" />
                      </label>
                    </ng-container>
                    <div class="field">
                      <input *ngSwitchCase="'TEXT'" name="{{configItem.value.key}}" class="input is-fullwidth is-small"
                        type="text" [ngModel]="setConfigValue(configItem.value)"
                        (input)="checkValidityOnChange(configItem.value, $event.target.value)"
                        [value]='setConfigValue(configItem.value)' [attr.maxLength]="configItem?.value?.length"
                        [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                        [required]="configItem?.value?.hasOwnProperty('mandatory') && configItem?.value?.mandatory=='true'" />
                      <ng-container *ngSwitchCase="'RAW_TEXT'">
                        <ngx-codemirror name="{{configItem.value.key}}"
                          [options]="setEditorConfig(configItem.value.type)" [autoFocus]="true"
                          (input)="checkValidityOnChange(configItem.value, $event.target.value)"
                          [ngModel]="setConfigValue(configItem.value)"
                          [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                          [required]="configItem?.value?.hasOwnProperty('mandatory') && configItem?.value?.mandatory=='true'">
                          {{configItem?.value?.value != undefined ? configItem?.value?.value :
                          configItem?.value?.default}}
                        </ngx-codemirror>
                      </ng-container>
                      <div class="field has-addons " *ngSwitchCase="'PASSWORD'">
                        <div class="control">
                          <input #pwd name="{{configItem.value.key}}" class="input is-fullwidth is-small"
                            type="password" [ngModel]="setConfigValue(configItem.value)"
                            [attr.maxLength]="configItem?.value?.length" placeholder="password"
                            [required]="configItem?.value?.hasOwnProperty('mandatory') && configItem?.value?.mandatory=='true'"
                            (ngModelChange)="checkPasswords(pwd.value, f?.controls['confirm-password']?.value, configItem.value.key)"
                            [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                            trim="blur" />
                        </div>
                        <div class="control">
                          <button type="button" class="button is-small" (click)="togglePassword(pwd)"
                            [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable">
                            <span class="icon is-small">
                              <i class="{{pwd.type === 'password'? 'fa fa-sm fa-eye-slash' : 'fa fa-sm fa-eye'}}"></i>
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="field"
                        *ngIf="getConfigAttributeType(configItem.value.type) === 'PASSWORD' && passwordOnChangeFired">
                        <div class="control">
                          <div id="confirm-password" class="field has-addons">
                            <div class="control">
                              <input #confirmPwd name="confirm-password" class="input is-fullwidth is-small"
                                type="password" [ngModel]="setConfigValue(confirmPwd.value)"
                                [value]='setConfigValue(confirmPwd.value)' [attr.maxLength]="configItem?.value?.length"
                                placeholder="confirm password"
                                [hidden]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                                (ngModelChange)="checkPasswords(f?.controls[configItem.value.key]?.value, confirmPwd.value, configItem.value.key)" />
                            </div>
                          </div>
                        </div>
                        <p *ngIf="passwordMatched.value == false &&
                      passwordMatched.key === configItem.value.key" class="help is-danger">
                          <sup>*</sup>Password mismatch
                        </p>
                      </div>

                      <input *ngSwitchCase="'INTEGER'" name="{{configItem.value.key}}" type="number"
                        [value]='setConfigValue(configItem.value)' class="input is-fullwidth is-small"
                        [minValue]="configItem?.value?.minimum" [maxValue]="configItem?.value?.maximum"
                        [ngModel]="setConfigValue(configItem.value)"
                        (input)="checkValidityOnChange(configItem.value, $event.target.value)"
                        [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                        [required]="configItem?.value?.hasOwnProperty('mandatory') && configItem?.value?.mandatory=='true'"
                        appNumberOnly />

                      <input *ngSwitchCase="'FLOAT'" name="{{configItem.value.key}}" type="number"
                        [value]='setConfigValue(configItem.value)' step="any" class="input is-fullwidth is-small"
                        [minValue]="configItem?.value?.minimum" [maxValue]="configItem?.value?.maximum"
                        [ngModel]="setConfigValue(configItem.value)"
                        (input)="checkValidityOnChange(configItem.value, $event.target.value)"
                        [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                        [required]="configItem?.value?.hasOwnProperty('mandatory') && configItem?.value?.mandatory=='true'"
                        appNumberOnly />

                      <ng-container *ngSwitchCase="'LONG_TEXT'">
                        <ngx-codemirror #jsoneditor name="{{configItem.value.key}}"
                          [ngClass]="{'readonly-editor': configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable}"
                          [options]="setEditorConfig(configItem.value.type)" [autoFocus]="true"
                          [jsonValue]="isValidJson" [ngModel]="JSON.parse(setConfigValue(configItem.value)) | json "
                          [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                          (ngModelChange)="checkValidJson(configItem.value.key, jsoneditor.value)">
                        </ngx-codemirror>
                      </ng-container>

                      <div *ngSwitchCase="'SCRIPT'">
                        <ngx-codemirror #scriptCode
                          [ngClass]="{'readonly-editor': (!configItem?.value?.file && !newFileName) , 'dark-bg-color': !configItem?.value?.file && !newFileName && selectedTheme === 'darcula'}"
                          name="{{configItem.value.key}}" [options]="setEditorConfig(configItem.value.type)"
                          [autoFocus]="true" (ngModelChange)="checkValidityOnChange(configItem.value, scriptCode.value)"
                          [ngModel]="fileContent || setConfigValue(configItem.value)"
                          [disabled]="(configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable)"
                          [required]="configItem?.value?.hasOwnProperty('mandatory') && configItem?.value?.mandatory=='true'">
                        </ngx-codemirror>
                        <p class="help" *ngIf="!newFileName">
                          {{configItem?.value?.file | truncate:"/" }}
                        </p>
                        <span *ngIf="!isValidExtension" class="help is-danger">
                          Invalid file. Please upload file with .py extension.
                        </span>
                        <div class="config-div is-fullwidth">
                          <input #fileInput class="input is-small is-fullwidth" multiple name="{{configItem.value.key}}"
                            type="file" (change)="fileChange($event, configItem.value.key)"
                            [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable" />
                        </div>
                      </div>

                      <div *ngSwitchCase="'ACL'" class="select is-small">
                        <select name='{{configItem.value.key}}' [ngModel]="setConfigValue(configItem.value)"
                          [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                          (change)="checkValidityOnChange(configItem.value, $event.target.value)">
                          <option *ngFor="let acl of acls" [value]='acl.name'>
                            {{acl?.name ? acl?.name : 'None'}}</option>
                        </select>
                      </div>

                      <div *ngSwitchCase="'ENUMERATION'" class="select is-small">
                        <select name='{{configItem.value.key}}' [ngModel]="setConfigValue(configItem.value)"
                          [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                          (change)="checkValidityOnChange(configItem.value, $event.target.value)">
                          <option *ngFor="let configOption of configItem.value.options" [value]='configOption'>
                            {{configOption}}</option>
                        </select>
                      </div>

                      <input *ngSwitchCase="'URL'" name="{{configItem.value.key}}" class="input is-fullwidth is-small"
                        type="url" [ngModel]="setConfigValue(configItem.value)"
                        [value]='setConfigValue(configItem.value)'
                        (input)="checkValidityOnChange(configItem.value, $event.target.value)"
                        [disabled]="configItem?.value?.hasOwnProperty('editable') && !configItem?.value?.editable"
                        [required]="configItem?.value?.hasOwnProperty('mandatory') && configItem?.value?.mandatory=='true'" />
                    </div>
                    <span *ngIf="f?.controls[configItem.value.key]?.hasError('required')" class="help is-danger">
                      <sup>*</sup>required
                    </span>
                    <span *ngIf="f?.controls[configItem.value.key]?.hasError('minValue')" class="help is-danger">
                      <sup>*</sup>Value should not be less than {{configItem?.value?.minimum}}.
                    </span>
                    <span *ngIf="f?.controls[configItem.value.key]?.hasError('maxValue')" class="help is-danger">
                      <sup>*</sup>Value should not be greater than {{configItem?.value?.maximum}}.
                    </span>
                    <span *ngIf="f?.controls[configItem.value.key]?.hasError('jsonValue')" class="help is-danger">
                      Invalid JSON
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!hasEditableConfigItems && pageId == 'wizard'">
          <div class="has-text-centered">
            <small class="no-rec">No configurable item found, Please click Next</small>
          </div>
        </ng-container>
        <div class="field is-horizontal">
          <div class="field-label has-text-left">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div style="padding-top: 1rem;">
              <ng-container *ngIf="checkButtonProxy()">
                <button id="vci" type="submit"  class="button is-small is-link is-pulled-left">Save</button>
              </ng-container>

              <button *ngIf="useProxy == 'true'" id="vci-proxy" type="submit"
                 class="hidden button is-small is-link is-pulled-right">Save</button>

              <button *ngIf="useFilterProxy == 'true'" [attr.id]="formId" type="submit"
                class="hidden button is-small is-link is-pulled-right vci-proxy-filter">Save</button>

              <button *ngIf="useChildrenProxy == 'true'" [attr.id]="formId" type="submit"
                class="hidden button is-small is-link is-pulled-right vci-proxy-children">Save</button>

              <button *ngIf="useRuleProxy == 'true'" type="submit"
                class="hidden button is-small is-link is-pulled-right vci-proxy-rule" [attr.id]="rule">Save</button>

              <button *ngIf="useDeliveryProxy == 'true'" type="submit"
                class="hidden button is-small is-link is-pulled-right vci-proxy-delivery"
                [attr.id]="delivery">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
  <!-- Read only form for View user -->
  <ng-template #staticView>
    <div class="column">
      <ng-container *ngIf="categoryConfiguration && hasEditableConfigItems">
        <ng-container *ngFor="let configItem of (categoryConfiguration | keys)"
          [ngSwitch]="getConfigAttributeType(configItem.value.type)">
          <div class="config-div">
            <div class="field is-horizontal">
              <div class="field-label has-text-left">
                <label class="label tooltip is-tooltip-right is-tooltip-multiline config-label"
                  [attr.data-tooltip]="configItem.value.description">
                  {{setDisplayName(configItem.value)}}
                </label>
              </div>
              <div class="field-body">
                <div class="field">
                  <ng-container *ngSwitchCase="'BOOLEAN'">
                    <label class="checkbox">
                      <input type="checkbox" name='{{configItem.value.key}}' [disabled]="true"
                        [ngModel]="setConfigValue(configItem.value) == 'true'" />
                    </label>
                  </ng-container>
                  <ng-container *ngSwitchCase="'LONG_TEXT'">
                    <ngx-codemirror name="{{configItem.value.key}}" class="readonly-editor"
                      [options]="{ readOnly: true, className: 'readOnly', lineNumbers: true,lineWrapping: true,foldGutter: true}"
                      [disabled]="true" [ngModel]="JSON.parse(setConfigValue(configItem.value)) | json ">
                    </ngx-codemirror>
                  </ng-container>
                  <ng-container *ngSwitchCase="'SCRIPT'">
                    <ngx-codemirror name="{{configItem.value.key}}" class="readonly-editor"
                      [options]="{ readOnly: true, className: 'readOnly', lineNumbers: true,lineWrapping: true,foldGutter: true}"
                      [disabled]="true" [ngModel]="fileContent || setConfigValue(configItem.value)">
                    </ngx-codemirror>
                  </ng-container>

                  <div class="field" *ngSwitchDefault>
                    <input name="{{configItem.value.key}}" class="input is-fullwidth is-small is-static" type="text"
                      [ngClass]="{'has-text-grey-light': configItem.value.value === '' && configItem.value.default === ''}"
                      [value]='configItem.value? (configItem.value.value ? configItem.value.value : "None")  : (configItem.value.default ? configItem.value.default : "None") '
                      readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</div>
