.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.columns-fields {
  margin-top: auto;
}

.hidden {
  display: none;
}

.panel {
  background-color: #fff;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .view-content {
    display: block !important;
  }
}

@media screen and (min-width: 769px) {
  .field-body {
    flex-grow: 2 !important;
  }
}

:host ::ng-deep json-editor div.jsoneditor {
  border: thin solid lightgray !important;
}
:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 21rem;
}

.config-div {
  margin-top: 1vw;
}

.error {
  color: red;
}

.tooltip.is-tooltip-multiline::before {
  min-width: 16rem !important;
}

#confirm-password {
  margin-top: 2%;
}

#confirm-password input {
  padding-right: 2rem;
}

[hidden] {
display: none !important;
}
