.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.columns-fields {
  margin-top: auto;
}

.hidden {
  display: none;
}

.panel {
  background-color: #fff;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .view-content {
    display: block !important;
  }
}

@media screen and (min-width: 769px) {
  .field-body {
    flex-grow: 2 !important;
  }
}

.config-div {
  margin-top: 1vw;
}

.error {
  color: red;
}

.tooltip.is-tooltip-multiline::before {
  min-width: 16rem !important;
}

#confirm-password {
  margin-top: 2%;
}

#confirm-password input {
  padding-right: 2rem;
}

:host ::ng-deep ngx-codemirror .CodeMirror-wrap {
  border: 1px solid lightgray;
  border-radius: 2px;
}

:host ::ng-deep ngx-codemirror.readonly-editor .CodeMirror-wrap  {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

:host ::ng-deep ngx-codemirror.dark-bg-color .CodeMirror-wrap  {
  background-color: #2B2B2B !important;
}

:host ::ng-deep ngx-codemirror.readonly-editor .CodeMirror-cursors  {
  visibility: hidden !important;
}

:host ::ng-deep ngx-codemirror.readonly-editor .CodeMirror-lines  {
  border-color: #f5f5f5;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

[hidden] {
  display: none !important;
}
