a {
  color: black;
}

.accordion.card {
  margin: 0% !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.accordion.card:last-child {
  border: none;
}

.filter-list.cdk-drop-list-dragging .accordion.card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fa-bars {
  opacity: 0.5;
}

.fa-trash-alt.fa-lg {
  opacity: 0.8;
}

.cursor-default {
  cursor: default !important;
}

.cursor-move {
  cursor: move !important;
}

.help-icon {
  cursor: pointer !important;
  padding-top: 1rem;
}

.filter-title {
  display: block !important;
}

.card-header {
  min-height: 3.5rem;
}

.plugin-name {
  font-weight: initial;
}

.custom-width:has(div .accordion.card.is-active) {
  width: 67.5%;
}
