<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Support Bundles &nbsp;
        <button (click)="getBundles()" class="button is-small" id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </p>
      <div>
        <div class="columns">
          <div class="column fix-pad">
            <a *ngIf="rolesService.hasEditPermissions()" class="button is-light" (click)="requestNewBundle()">
              <p *ngIf="viewPort !== 'mobile'">Request New &nbsp;</p>
              <i class="fa fa-sm fa-file-archive" aria-hidden="true"></i>
            </a>
          </div>
          <div class="column help-pad">
            <span class="icon is-small tooltip is-tooltip-left is-hovered" data-tooltip="Help" (click)="goToLink()">
              <i class="far fa-question-circle"></i>
            </span>
          </div>
        </div>
      </div>
    </header>
    <div class="card-content">
      <table class="table is-narrow scroll is-responsive is-hoverable" cellpadding="0" cellspacing="0">
        <tbody>
          <tr *ngFor="let bundle of bundlesData">
            <td style="vertical-align: middle;">{{ bundle }}</td>
            <td>
              <a (click)="downloadBundle(bundle)" class="button is-text text-btn">
                download
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
