<div id="fileUpload" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-6">Import File</p>
      <button class="delete" aria-label="close" (click)="formReset()"></button>
    </header>
    <section class="modal-card-body">
      <input #fileImport class="input is-small is-fullwidth" type="file" accept="'.csv'" (change)="loadFile($event)">
      <template [ngTemplateOutlet]="invalidFileTemplate"></template>
      <table class="table is-responsive" *ngIf="tableData">
        <thead>
          <tr>
            <th *ngFor="let prop of tableData[0].split(',')">{{prop}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData; let i = index;">
            <ng-container *ngIf="i!=0">
              <td *ngFor="let val of row.split(',')">
                {{val}}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </section>

    <footer class="modal-card-foot">
      <button class="button is-small" (click)="appendFileData()" [disabled]="!isFileLoaded">Append</button>
      <button class="button is-small is-info" (click)="overrideFileData()" [disabled]="!isFileLoaded">Override</button>
    </footer>
  </div>
</div>

<ng-template #invalidFileTemplate>
  <span *ngIf="!isValidFileExtension" class="invalid has-text-danger mt-1">
    Cannot recognise, upload a valid *.csv extension file
  </span>
  <span *ngIf="isValidFileExtension && !isValidFile" class="invalid has-text-danger mt-1">
    Invalid File
  </span>
</ng-template>