<div class="container is-fluid">
    <app-service-warning [service]="serviceInfo" (serviceConfigureModal)="openServiceConfigureModal()"
        (refreshService)="refreshServiceInfo()" [serviceType]="'Dispatcher'"></app-service-warning>
    <div class="card">
        <header class="card-header">
            <div id="control-api-flow" class="card-header-title">
                Control API Entry Points
                <button class="button is-small" id="refresh-check" title="Reload" (click)="getAPIFlows()">
                    <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
                </button>
            </div>
            <a *ngIf="rolesService.hasControlAccess()" class="fix-pad button is-light"
                [routerLink]="['/control-dispatcher/entry-points/add']">
                <p *ngIf="viewPort !== 'mobile'" class="add-btn">Add &nbsp;</p>
                <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
            </a>
            <div *ngIf="serviceInfo?.added" class="cog-icon">
                <app-service-config (serviceConfigureModal)="openServiceConfigureModal()" [from]="'dispatcher'">
                </app-service-config>
            </div>
            <span class="icon is-small tooltip has-tooltip-bottom has-tooltip-arrow is-pulled-right is-hovered help-pad"
                data-tooltip="Help" (click)="goToLink('api-control-invocation')">
                <i class="far fa-question-circle"></i>
            </span>
        </header>
        <div class="card-content api-card-content card-data">
            <table class="table is-responsive is-hoverable ep-tbl" *ngIf="apiFlows.length > 0; else nothing">
                <thead>
                    <tr>
                        <th class="align-content"> Name </th>
                        <th class="align-content"> Description </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let ep of apiFlows; let i = index">
                        <tr id="select{{i}}">
                            <td class="align-content">
                                <a *ngIf="ep.permitted && rolesService.hasEditPermissions()" class="button is-ghost ep-name mx-0 px-0"
                                    (click)="getAndExecuteAPIFlow(ep.name);">
                                    {{ep.name}}
                                </a>
                                <span *ngIf="!ep.permitted || !rolesService.hasEditPermissions()">{{ep.name}} </span>
                            </td>
                            <td class="description">
                                <ng-container *ngIf="rolesService.hasControlAccess(); else noEditDescription">
                                    <div *ngIf="editMode.name != ep.name" (click)='setEdit(ep.name, true)' class="cell">
                                        {{ep.description}}</div>
                                    <textarea *ngIf="editMode.name == ep.name && editMode.edit == true" class="textarea"
                                        rows="2" cols="50" placeholder="Entry Point Description"
                                        (focusout)="setEdit(ep.name, false)" (keydown.enter)='$event.target.blur()'
                                        [ngModel]='ep.description' (ngModelChange)="descriptionChange($event)"
                                        appAutofocus>{{ep.description}}
                                    </textarea>
                                </ng-container>
                                <ng-template #noEditDescription>
                                    {{ep.description}}
                                </ng-template>
                            </td>

                            <td>
                                <div class="dropdown is-left is-hoverable">
                                    <div class="dropdown-trigger">
                                        <a class="button is-small context-menu" aria-haspopup="true"
                                            aria-controls="dropdown-menu">
                                            <span class="icon">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-600"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <a class="dropdown-item"
                                                [routerLink]="['/control-dispatcher/entry-points', ep?.name, 'details']">
                                                Details
                                            </a>
                                            <a *ngIf="rolesService.hasControlAccess()" class="dropdown-item"
                                                (click)="openModal('confirmation-delete-dialog', ep)">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <ng-template #nothing>
                <div class="has-text-centered">
                    <small class="text-secondary has-text-grey-light">No Control API Entry Points found.</small>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<app-confirmation-dialog id="confirmation-execute-dialog">
    <header class="modal-card-head p-3">
        <span class="modal-card-title title-name">
            Request {{epName}} Execution
            <p class="help has-text-grey description-text pt-1">{{description}}</p>
        </span>
        <button type="button" class="delete" aria-label="close"
            (click)="closeModal('confirmation-execute-dialog')"></button>
    </header>
    <section class="modal-card-body">
        <div class="columns is-mobile">
            <div class="column is-1"></div>
            <div class="column py-5">
                <form [formGroup]="apiFlowForm">
                    <div class="field is-horizontal execute-field-body">
                        <div class="field-body">
                            <div class="field">
                                <ng-container formArrayName="variables">
                                    <div *ngIf="getFormControls('variables').length === 0" class="has-text-centered">
                                        <small class="text-secondary has-text-grey-light">
                                            There are no variable parameters associated with this entry point.
                                        </small>
                                    </div>
                                    <ng-container *ngFor="let v of getFormControls('variables'); let i = index">
                                        <div class="field is-horizontal">
                                            <div class="field-body columns" [formGroupName]="i">
                                                <div class="column is-4">
                                                    <div class="control">
                                                        <label
                                                            class="label has-text-left pt-1">{{v.value.vName}}</label>
                                                    </div>
                                                </div>
                                                <div class="column is-4">
                                                    <div class="control">
                                                        <input formControlName="vValue" placeholder="Variable value"
                                                            class="input is-small" name="value" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer class="modal-card-foot p-3">
        <button class="button is-small" type="button"
            (click)="closeModal('confirmation-execute-dialog')">Cancel</button>
        <button class="button is-small is-info" type="button" (click)="requestAPIFlow(epName, apiFlowForm.value)"
            [appDisableUntilResponse]="reenableButton">Execute</button>
    </footer>
</app-confirmation-dialog>

<app-confirmation-dialog id="confirmation-delete-dialog">
    <header class="modal-card-head">
        <p class="modal-card-title is-size-6">Delete</p>
        <button type="button" class="delete" aria-label="close"
            (click)="closeModal('confirmation-delete-dialog')"></button>
    </header>
    <section class="modal-card-body">
        Are you sure, You want to delete the Control Entry Point <b>{{epName}}</b>?
    </section>
    <footer class="modal-card-foot">
        <button type="button" class="button is-small" (click)="closeModal('confirmation-delete-dialog')">Cancel</button>
        <button type="button" class="button is-small is-danger" (click)="deleteAPIFlow('confirmation-delete-dialog')"
            [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
</app-confirmation-dialog>