.media-content {
  overflow: hidden;
}

.card {
  overflow: visible;
}

@media only screen and (min-width: 768px) {
  .card-content {
    overflow: visible;
  }
}

#refresh-check {
  margin-left: 3px;
}

.auto-refresh {
  margin-right: 30px;
  font-size: 0.75rem;
  color: #363636;
  font-weight: 700;
}

.checkmark {
  vertical-align: middle !important;
}

.card-header-title {
  max-height: 45px !important;
}