.media-content {
  overflow: hidden;
}

.card {
  overflow: visible;
}

@media only screen and (min-width: 768px) {
  .card-content {
    overflow: visible;
  }
}

#refresh-check {
  margin-left: 3px;
}

.auto-refresh {
  margin-right: 30px;
  font-size: 0.75rem;
  color: #363636;
  font-weight: 700;
}

.checkmark {
  vertical-align: middle !important;
}

.card-header-title {
  max-height: 45px !important;
}

.custom-quickview-card {
  box-shadow: none;
}

.breadcrumb-container {
  display: flex;
  align-items: stretch;
}

.breadcrumb {
  display: flex;
  flex-grow: 1;
  margin-left: 1.5rem;
  padding-top: 0.85rem;
}

.fix-pad {
  padding-top: 1.1rem;
}

.quickview-breadcrumb {
  font-size: 0.95rem;
  margin-bottom: 0.25rem !important;
}

.quickview-label {
  font-weight: 400 !important;
}
