.columns-fields {
    margin-top: auto;
}

@media screen and (min-width: 769px) {
    .field-body {
        flex-grow: 2 !important;
    }
}

[hidden] {
    display: none !important;
}

.is-margin {
    margin-bottom: 0.5rem;
}