:host {
  display: block;
}

.menu-list>li {
  border-bottom: 1px solid #ddd;
}

.scrollable-readings {
  max-height: 250px;
  /* adjust as needed */
  overflow-y: auto;
  padding-right: 0.5rem;
  margin-right: -0.5rem;
}

.scrollable-json {
  max-height: 400px;
  /* adjust as needed */
  overflow-y: auto;
  padding-right: 0.5rem;
  margin-right: -0.5rem;
}