:host {
  display: block;
}

.menu-list>li {
  border-bottom: 1px solid #ddd;
}

.scrollable-readings {
  max-height: 250px;
  /* adjust as needed */
  overflow-y: auto;
}

.scrollable-json {
  max-height: 400px;
  /* adjust as needed */
  overflow-y: auto;
  padding-right: 0.5rem;
  margin-right: -0.5rem;
}

.tooltip.has-tooltip-multiline::before {
  min-width: 16rem !important;
}

.quoted-block {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin: 8px 0;
  color: #333;
  font-style: normal;
}

.scrollable-readings,
.scrollable-json {
  font-size: 13px;
  line-height: 1.5;
}