.panel.is-mobile {
    margin-top: 10px;
}

#settings { overflow: visible;}
#settings-content { overflow: visible; }


@media screen and (min-width: 769px) {
  #connection-content { overflow: visible; }
}

.card-header-title {
  padding: 0.75rem 1.5rem;
}

.conn-info {
  text-align: right;
  font-size: .85em;
  color: darkgray;
}

.alert-box {
  margin-top: 1rem !important;
}
