<div class="title" data-testid="title">
    <span>{{data.label}}</span>
    <ng-container *ngIf="data.label!=='Applications' && data.label!=='Storage'">
        <ng-container *ngIf="data.label!=='South_service'; else southServiceTemplate">
            <span class="is-pulled-right">
                <input class="checkbox" type="checkbox" [checked]='isEnabled'
                (click)="toggleEnabled($event.target.checked)">
                <button class="btn small-btn config-gear" (click)="navToSouthService()">
                    <span class="ml-2 has-tooltip-bottom has-tooltip-arrow tooltip is-hovered"
                        data-tooltip="Configuration">
                        <i class="bi bi-gear-wide-connected"></i>
                    </span>
                </button>
            </span>
        </ng-container>
        <ng-template #southServiceTemplate>
            <button class="btn small-btn add-btn is-pulled-right" (click)="addSouthService()">
                <span class="ml-2 has-tooltip-bottom has-tooltip-arrow tooltip is-hovered" data-tooltip="Choose plugin">
                    <i class="bi bi-plus-circle plus-icon bi-md" aria-hidden="true"></i>
                </span>
            </button>
        </ng-template>
    </ng-container>
    <span *ngIf="data.label!=='Storage'" class="help">{{helpText}}</span>
</div>
<div class="output" *ngFor="let output of data.outputs | keyvalue: sortByIndex"
    [attr.data-testid]="'output-'+output.key">
    <div class="output-title" data-testid="output-title">
        {{output.value?.label}}
    </div>
    <div class="output-socket" refComponent
        [data]="{type: 'socket', side: 'output', key: output.key, nodeId: data.id, payload: output.value?.socket, seed: seed }"
        [emit]="emit" data-testid="output-socket"></div>
</div>
<div class="control" *ngFor="let control of data.controls | keyvalue: sortByIndex" refComponent
    [data]="{type: 'control', payload: control.value }" [emit]="emit" [attr.data-testid]="'control-'+control.key"></div>
<div class="input" *ngFor="let input of data.inputs | keyvalue: sortByIndex" [attr.data-testid]="'input-'+input.key">
    <div class="input-socket" refComponent
        [data]="{type: 'socket', side: 'input', key: input.key, nodeId: data.id, payload: input.value?.socket, seed: seed }"
        [emit]="emit" data-testid="input-socket"></div>
    <div class="input-title" data-testid="input-title" *ngIf="!input.value?.control || !input.value?.showControl">
        {{input.value?.label}}
    </div>
    <div class="input-control" [style.display]="input.value?.control && input.value?.showControl ? '' : 'none'"
        refComponent [data]="{type: 'control', payload: input.value?.control }" [emit]="emit"
        data-testid="input-control"></div>
</div>