<div id="modal-box" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section *ngIf="childData" class="modal-card-body">
      {{childData.message}}
      <span *ngIf="childData.name != ''" class="has-text-black has-text-weight-semibold">{{childData.name}}</span>
      <span>?</span>
    </section>
    <section *ngIf="shutDownServiceData" class="modal-card-body">
      {{shutDownServiceData.message}}?
    </section>
    <footer class="modal-card-foot">
      <button class= "button is-small" [ngClass]="childData.key === 'deleteUser' ? 'is-danger' : 'is-info'"  (click)="triggerAction()">{{childData.actionButtonValue}}</button>
      <button class="button is-small" (click)="toggleModal(false)">Cancel</button>
    </footer>
  </div>
</div>