{
    "presets": [
      ["env", {
        "useBuiltIns": true,
        "targets": {
          "browsers": ["last 2 versions", "safari > 10", "not ie < 11"]
        }
      }]
    ],
    "plugins": [
        "lodash"
    ]
  }