// Path to Bulma's sass folder
@use "bulma/sass" with ($radius-small: 2px,
  $card-header-weight: 500,
  $link: #485fc7,
  $card-header-color: #363636,
  $card-header-background-color: #f5f5f5,
  $card-radius: 0.25rem,
  $label-weight: 500,
  $size-normal: 0.9rem,
  $body-font-size: 0.9rem,
  $modal-card-title-size: 0.9rem,
  $modal-card-head-padding: 20px,
  $modal-card-head-background-color: #f5f5f5,
  $modal-card-head-radius: 6px,
  $modal-card-foot-radius: 6px,
  $modal-card-body-padding: 20px,
  $button-weight: 400,
  $primary: #485fc7,
  $info: #485fc7,
  $success: #23d160,
  $warning: #ffdd57,
  $danger: #ff3860,
  $radius: 2px,
  $weight-medium: 400,
  $weight-bold: 500);