$blue: #485fc7;
$radius-sm: 2px;
$radius-medium: 6px;
$fw-500: 500;
$fw-400: 400;
$fs-normal: 0.9rem;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $radius-small: $radius-sm,
  $card-header-weight: $fw-500,
  $link: $blue,
  $card-header-color: #363636,
  $card-header-background-color: #f5f5f5,
  $card-radius: 0.25rem,
  $label-weight: $fw-500,
  $size-normal: $fs-normal,
  $body-font-size: $fs-normal,
  $modal-card-title-size: $fs-normal,
  $modal-card-head-padding: 20px,
  $modal-card-head-background-color: #f5f5f5,
  $modal-card-head-radius: $radius-medium,
  $button-weight: $fw-400
);
