<div id="chart_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div [hidden]='!isValidData' class="columns is-variable is-2">
        <div class="column is-6">
          <p class="modal-card-title">{{assetCode}}</p>
        </div>
        <div class="column is-4">
          <number-input-debounce placeholder="Limit(max 1000)" #limit (value)="plotReadingsGraph(assetCode, limit.inputValue, offset.inputValue)"
            max="1000"></number-input-debounce>
          <p *ngIf='isInvalidLimit' class='help is-danger'>Limit must be in range 1 - 1000</p>
        </div>
        <div class="column is-2">
          <number-input-debounce placeholder="offset" #offset (value)="plotReadingsGraph(assetCode, limit.inputValue, offset.inputValue)"></number-input-debounce>
          <p *ngIf='isInvalidOffset' class='help is-danger'>Offset must be in range 1 - 2147483647</p>
        </div>
      </div>
      <div class="close">
        <button class="delete" aria-label="close" (click)="toggleModal(false); clearField(limit, offset)"></button>
      </div>
    </header>
    <section class="modal-card-body">
      <div *ngIf='isValidData'>
        <div class="field is-grouped is-grouped-multiline" *ngFor="let readings of assetReadingSummary">
          <div class="control">
            <div class="tags has-addons" *ngFor="let reading of readings.summary">
              <span>
                <b>{{readings.key}} &nbsp;</b>
              </span>
              <span class="tag is-light"> Avg </span>
              <span class="tag is-info">{{reading.average}}</span> &nbsp;
              <span class="tag is-light"> Min </span>
              <span class="tag is-info">{{reading.min}}</span> &nbsp;
              <span class="tag is-light"> Max </span>
              <span class="tag is-info">{{reading.max}}</span> &nbsp;
            </div>
          </div>
        </div>
      </div>
      <br>
      <p *ngIf='(isInvalidOffset || isInvalidLimit || !isValidData || !isReadingsAvailable)'> Not Available </p>
      <chart *ngIf='(!isInvalidOffset && !isInvalidLimit && isValidData  && isReadingsAvailable)' [type]="assetChart" [data]="assetReadingValues" [options]=""></chart>
    </section>
  </div>
</div>