<section class="is-success">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
    [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
  </ng-progress>
  <div class="has-text-centered">
    <div class="column is-4 is-offset-4">
      <div class="box">
        <form name="form" (ngSubmit)="f.form.valid && resetPassword(f)" #f="ngForm" novalidate>
          <div class="field">
              <div class="control has-icons-left">
                  <input type="password" class="input is-small" placeholder="current password" name='currentPassword' [(ngModel)]="userRecord.currentPassword" #currentPassword="ngModel"
                  required/>
                  <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                  </span>
              </div>
              <small *ngIf="f.submitted && !currentPassword.valid" class="help is-danger level-left">Wrong password</small>
          </div>

          <div class="field">
              <div class="control has-icons-left">
                  <input type="password" class="input is-small" placeholder="new password" name='password' [(ngModel)]="userRecord.password" #password="ngModel"
                  validateEqual="confirmPassword" reverse="true" required />
                  <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                  </span>
              </div>
              <small *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required(minium 6 character)</small>
          </div>
          <div class="field">
              <div class="control has-icons-left">
                  <input type="password" class="input is-small" placeholder="confirm password" name='confirmPassword' [(ngModel)]="userRecord.confirmPassword"
                  #confirmPassword="ngModel" validateEqual="password" required />
                  <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                  </span>
              </div>
              <small *ngIf="f.submitted && !confirmPassword.valid" class="help is-danger level-left">Password mismatch</small>
          </div>
          <div class="field is-grouped">
              <div class="control">
                  <button class="button is-small is-small is-info">Reset Password</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
