<div class="field has-addons">
  <p class="control">
    <button class="button is-small tooltip has-tooltip-right has-tooltip-arrow toggle-btn"
      [attr.data-tooltip]="activeView === 'list' ? null : 'Tabular view'" (click)="setCurrentView('list')"
      [disabled]="activeView === 'list'">
      <span class="icon is-small">
        <i class="bi bi-xs bi-list-task"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small tooltip has-tooltip-right has-tooltip-arrow toggle-btn"
      [attr.data-tooltip]="activeView === 'detailed' ? null : 'Detailed view'" (click)="setCurrentView('detailed')"
      [disabled]="activeView === 'detailed'">
      <span class="icon is-small">
        <i class="bi bi-xs bi-view-list"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small tooltip has-tooltip-right has-tooltip-arrow toggle-btn"
      [attr.data-tooltip]="activeView === 'json' ? null : 'JSON view'" (click)="setCurrentView('json')"
      [disabled]="activeView === 'json'">
      <span class="icon">
        <i class="bi bi-sm bi-filetype-json"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small tooltip has-tooltip-right has-tooltip-arrow toggle-btn"
      [attr.data-tooltip]="activeView === 'csv' ? null : 'CSV view'" (click)="setCurrentView('csv')"
      [disabled]="activeView === 'csv'">
      <span class="icon">
        <i class="bi bi-sm bi-filetype-csv"></i>
      </span>
    </button>
  </p>
</div>