.panel {
    background-color: #fff;
}

.columns {
  margin-top: 0px;
}

.card {
  margin-top: 0px !important;
}

.column {
  padding-top: 0px !important;
}

#root-children {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.no-cat {
  justify-content: center;
}

.empty-tree {
  display: none;
}

.save-btn {
  margin-left: 10px !important;
}

.panel-block {
  align-items: unset !important;
  display: flow !important;
}

#refresh-check {
  padding-left: 2px;
}
