.panel {
    background-color: #fff;
}

.columns {
  margin-top: 10px;
}

.card {
  margin-top: 0px !important;
}

.column {
  padding-top: 0px !important;
}

#root-children {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
