<div class="container is-fluid">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
    [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
  </ng-progress>
  <!-- cards to be rendered as config.categories.count-->

  <div class="columns is-multiline">
    <div class="column is-one-quarter">
      <nav class="panel">
        <div class="panel-heading">
          <div class="select is-rounded is-fullwidth">
            <select (change)="getChildren($event.target.value, true)">
              <option *ngFor="let rootCategory of rootCategories" [selected]='rootCategory.key === selectedRootCategory' [value]='rootCategory.key'>{{ rootCategory.key }}</option>
            </select>
          </div>
        </div>
        <div id="root-children"></div>
        <div class="panel-block">
          <button class="button is-text is-fullwidth" (click)="resetAllFilters()">
            <small>reset all filters</small>
          </button>
        </div>
      </nav>
    </div>
    <div class="column is-two-thirds">
      <div class="card" *ngFor="let category of categoryData">
        <header class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">{{ category.description }}
                  <a class="button is-small" (click)="refreshCategory(category.key, category.description)">
                    <span class="icon is-small">
                      <i class="fa fa-refresh"></i>
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div>
            <a class="button is-light" (click)="openAddConfigItemModal(category?.description, category?.key)">Add &nbsp;
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
              <app-view-config-item [categoryConfigurationData]="category"></app-view-config-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-add-config-item (notify)='onNotify($event)'></app-add-config-item>
  <app-add-category-child (notify)='onAddChild($event)'></app-add-category-child>
</div>
