<div class="container is-fluid">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
    [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
  </ng-progress>
  <!-- cards to be rendered as config.categories.count-->

  <div class="columns is-multiline">
    <div class="column is-one-quarter">
      <nav class="panel">
        <div class="panel-heading">
          <div class="select is-fullwidth">
            <select (change)="getChildren($event.target.value, true)">
              <option *ngFor="let rootCategory of rootCategories" [selected]='rootCategory.key === selectedRootCategory' [value]='rootCategory.key'>{{ rootCategory.key }}</option>
            </select>
          </div>
        </div>
        <!-- <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search">
            <span class="icon is-small is-left">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div> -->
        <div *ngFor="let childCategory of childCategories; let i = index;" class="panel-block">
          <input type="checkbox" (change)="getCategory(childCategory.key, childCategory.description, $event); getSelectedIndex(i, childCategory.key)"
            [checked]="childCategory.is_selected == 'true'" [value]="childCategory.key">
          <div>
            <!-- <p class="title is-6"> {{ childCategory.key }}</p> -->
            <!-- <p class="subtitle is-6"><small>{{ childCategory.description }}</small></p> -->
            <p class="subtitle is-6">{{ childCategory.description }}</p>
          </div>
        </div>
        <div class="panel-block">
          <button class="button is-text is-fullwidth" (click)="getRootCategories(true)">
            <small>reset all filters</small>
          </button>
        </div>
      </nav>
    </div>
    <div class="column is-two-thirds">
      <div class="card" *ngFor="let category of categoryData">
        <header class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-6">{{ category.description }}
                  <a class="button is-small" (click)="refreshCategory(category.key, category.description)">
                    <span class="icon is-small">
                      <i class="fa fa-refresh"></i>
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div>
            <a class="button is-light" (click)="openAddConfigItemModal(category?.description, category?.key)">Add &nbsp;
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </div>
        </header>
        <div class="card-content">
          <div class="content">
              <app-view-config-item [categoryConfigurationData]="category"></app-view-config-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-add-config-item (notify)='onNotify($event)'></app-add-config-item>
</div>
