<div id="upload_certificate_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">Upload Certificate</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
        <form [formGroup]="form" id="ngForm" (ngSubmit)="uploadCertificate()" novalidate>
          <div class="columns">
            <div class="column">
              <div class="field is-horizontal">
                <div class="field-label has-text-left">
                  <label class="label">Key</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="file">
                      <label class="file-label">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fa fa-upload"></i>
                          </span>
                          <input type="file" required id="key" (change)="onKeyChange($event)" formControlName="key" #fileInput>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <small *ngIf="!keyExtension" class="help is-danger level-left">Not a 'key' file.</small>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field is-horizontal">
                <div class="field-label has-text-left">
                  <label class="label">Certificate</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="file">
                      <label class="file-label">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fa fa-upload"></i>
                          </span>
                          <input type="file" required id="cert" (change)="onCertChange($event)" formControlName="cert" #fileInput>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <small *ngIf="!certExtension" class="help is-danger level-left">Not a 'cert' file.</small>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input *ngIf="checkedStatus" checked type="checkbox" ng-model="overwrite" (change)="onOverwriteChange($event)">
                    <input *ngIf="!checkedStatus" type="checkbox" ng-model="overwrite" (change)="onOverwriteChange($event)"> Overwrite
                  </label>
                </div>
                <p class="help">Overwrite allows to replace the certificate with existing name and key</p>
              </div>
            </div>
          </div>
        </form>
    </section>
    <footer class="modal-card-foot">
        <button id="save" type="submit" form="ngForm" class="button is-info is-small">Import</button>
      </footer>
  </div>
</div>
