<div id="update_user_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p *ngIf="updateSection === 'role'" class="modal-card-title is-size-5">Update User Role</p>
      <p *ngIf="updateSection === 'password'" class="modal-card-title is-size-5">Update User Password</p>
      <p *ngIf="updateSection === 'auth'" class="modal-card-title is-size-5">Update Authentication Method</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <form name="form" id="updateForm" (ngSubmit)="updateUser()" #f="ngForm" novalidate>
        <div class="columns">
          <div class="column is-6">
            <label class="label is-small">Username</label>
            <p class="control is-fullwidth">
              <input [disabled]='true' type="text" class="input is-small" placeholder="username" name='username'
                [(ngModel)]="userRecord.username" #username="ngModel" minlength="4" maxlength="8" required />
            </p>
          </div>
        </div>
        <div *ngIf="updateSection === 'role'" class="columns">
          <div class="column is-6">
            <label class="label is-small">Role</label>
            <div id="update-user-dropdown" class="dropdown is-up">
              <div class="dropdown-trigger">
                <button type="button" class="button is-fullwidth is-small" aria-haspopup="true"
                  aria-controls="dropdown-menu" (click)="toggleDropDown('update-user-dropdown')">
                  <span>{{selectedRole}}</span>
                  <span class="icon is-small">
                    <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" *ngFor="let role of userRole"
                    (click)="toggleDropDown('update-user-dropdown');setUserRole(role)">
                    {{role.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="updateSection === 'auth'">
          <div class="columns">
            <div class="column is-6">
              <label class="label is-small">Name</label>
              <p class="control is-fullwidth">
                <input type="text" class="input is-small" placeholder="Real Name" name='realName'
                  [(ngModel)]="userRecord.realName" #realname="ngModel" />
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-6">
              <label class="label is-small">Authentication Method</label>
              <div id="update-auth-dropdown" class="dropdown is-up">
                <div class="dropdown-trigger">
                  <button type="button" class="button is-fullwidth is-small" aria-haspopup="true"
                    aria-controls="dropdown-menu" (click)="toggleDropDown('update-auth-dropdown')">
                    <span>{{selectedAuthMethod}}</span>
                    <span class="icon is-small">
                      <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" *ngFor="let authMethod of authMethods"
                      (click)="toggleDropDown('update-auth-dropdown');setAuthMethod(authMethod)">
                      {{authMethod.text}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-6">
              <label class="label is-small">Description</label>
              <p class="control is-fullwidth">
                <textarea rows="3" type="text" class="textarea is-small" placeholder="description" name='description'
                  [(ngModel)]="userRecord.description" #description="ngModel"></textarea>
              </p>
            </div>
          </div>
        </ng-container>
        <div *ngIf="updateSection === 'password'" class="columns">
          <div class="column is-6">
            <label class="label is-small">Password</label>
            <p class="control is-fullwidth">
              <input type="password" class="input is-small" placeholder="password" name='password'
                [(ngModel)]="userRecord.password" #password="ngModel" validateEqual="confirmPassword" reverse="true"
                required />
            </p>
            <small *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required(minimum
              6 character)</small>
          </div>
        </div>
        <div *ngIf="updateSection === 'password'" class="columns">
          <div class="column is-6">
            <label class="label is-small">Confirm Password</label>
            <p class="control is-fullwidth">
              <input type="password" class="input is-small" placeholder="confirm password" name='confirmPassword'
                [(ngModel)]="userRecord.confirmPassword" #confirmPassword="ngModel" validateEqual="password" required />
            </p>
            <small *ngIf="f.submitted && !confirmPassword.valid" class="help is-danger level-left is-small">Password
              mismatch</small>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button id="update" form="updateForm" type="submit" class="button is-info is-small">Update</button>
    </footer>
  </div>
</div>