.box {
  box-shadow: 0 0 0 0 !important;
}

.is-hidden {
  display: none;
}

.align {
  vertical-align: middle;
}

label{
  width: 12vw !important;
  margin-right: 2vw;
}

[hidden] {
  display: none !important;
}

.dndPlaceholder {
  min-height: 72px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

a { color: black; }

.toggle::before{
  top:.3em !important;
  content:'\25BC' !important;
}

.btnDelete {
  margin: 2px;
}

.switch-icon > .fa + .fa,
.switch-icon:hover > .fa {
  display: none;
}

.switch-icon:hover > .fa + .fa {
  display: inherit;
}
