.box {
  box-shadow: 0 0 0 0 !important;
}

.is-hidden {
  display: none;
}

.align {
  vertical-align: middle;
}

label{
  width: 12vw !important;
  margin-right: 2vw;
}

[hidden] {
  display: none !important;
}

.dndPlaceholder {
  min-height: 72px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

a { color: black; }

.toggle::before{
  content:'\25BC' !important;
  padding: 4px 3px 0 3px !important;
  text-align: center !important;
}

.accordions .accordion.is-active .accordion-header .toggle::before{
  content:'\25B2' !important;
}

.filter-header:hover{
  cursor: move;
}

.btnDelete {
  margin: 2px;
}

.fa-bars {
  opacity: 0.5;
}

.fa-trash.fa-lg {
  opacity: 0.8;
}

.add-application{
  opacity: 0.7;
}
