<div class="steps">
  <div class="step-item is-active is-success" id="1">
    <div class="step-marker">1</div>
    <div class="step-details">
      <p>Plugin Name</p>
    </div>
  </div>
  <div class="step-item" id="2">
    <div class="step-marker">2</div>
    <div class="step-details">
      <p>Review Configuration</p>
    </div>
  </div>
  <div class="steps-content">
    <form [formGroup]="serviceForm" validate>
      <div class="box step-content  is-active" id="c-1">

        <ng-container *ngIf="!plugins || plugins.length === 0">
          <div *ngIf="!show" class="has-text-centered">
            <small class="no-rec">No plugin installed.&nbsp;<a (click)="toggleAvailablePlugins()">Install from available
                plugins</a></small>
          </div>

          <ng-container *ngIf="show">
            <div class="field is-horizontal form-group">
              <div class="field-label is-normal">
                <div class="column">
                  <label class="label">Plugin</label>
                </div>
              </div>
              <div class="field-body">
                <div class="column">
                  <ngx-select-dropdown #plugin [config]="config" [options]="pluginData"
                    (change)="filterSelectionChanged($event)" formControlName="pluginToInstall"></ngx-select-dropdown>
                  <small *ngIf="!isValidPlugin" class="help is-danger level-left">* Please select a valid plugin</small>
                </div>
              </div>
            </div>
          </ng-container>
          <p id="requestInProgress" class="help has-text-centered"></p>

          <ng-container *ngIf="show">
            <div class="field is-horizontal form-group">
              <div class="field-label is-normal">
                <div class="column">
                  <label class="label">Name</label>
                </div>
              </div>
              <div class="field-body">
                <div class="column">
                  <div class="field">
                    <div class="control">
                      <input class="input" id="name" type="text" placeholder="name" formControlName="name" required
                        (input)="validateServiceName($event)">
                      <small *ngIf="!isValidName" class="help is-danger level-left">Application name is required</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="plugins.length > 0">
          <div class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">Plugin</label>
            </div>
            <div class="field-body">
              <div class="select is-multiple">
                <select #selectedPlugin multiple name="type" formControlName="plugin"
                  (change)="getDescription(selectedPlugin.value)" required>
                  <option *ngFor="let p of plugins" [value]="p.name"> {{ p.name }}</option>
                </select>
              </div>
              &nbsp;
              <small *ngIf="selectedPluginDescription && isValidPlugin && isSinglePlugin"
                class="help description level-left">{{ selectedPluginDescription }}</small>
              <small *ngIf="!isSinglePlugin" class="help is-danger level-left">* Please select a single plugin</small>
            </div>
          </div>

          <div class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <small class="no-rec" *ngIf="requestInProgress">Install from available plugins</small>
                  <small><a *ngIf="!requestInProgress" (click)="toggleAvailablePlugins()">Install from available
                      plugins</a></small>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <div class="column" style="padding: 0;">
                <ngx-select-dropdown *ngIf="show" #plugin [config]="config" (change)="filterSelectionChanged($event)"
                  [options]="pluginData" formControlName="pluginToInstall">
                </ngx-select-dropdown>
                <small *ngIf="!isValidPlugin" class="help is-danger level-left">* Please select a valid plugin</small>
                <p id="requestInProgress" class="help has-text-centered"></p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" id="name" type="text" placeholder="name" formControlName="name" required
                    (input)="validateServiceName($event)">
                  <small *ngIf="!isValidName" class="help is-danger level-left">Application name is required</small>
                </div>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
      <div class="box step-content" id="c-2">
        <app-view-config-item [hidden]="!configurationData" [categoryConfigurationData]="configurationData"
          [useProxy]="useProxy" (onConfigChanged)="getChangedConfig($event)" [pageId]="'wizard'"></app-view-config-item>
      </div>
    </form>
  </div>
  <div class="steps-actions">
    <div class="steps-action">
      <button (click)="movePrevious()" data-nav="previous" class="button" id="previous">Back</button>
    </div>
    <div class="steps-action">
      <button (click)="gotoNext()" data-nav="next" class="button is-link" id="next">Next</button>
    </div>
  </div>
</div>
