<div class="steps">
  <div class="step-item is-active is-success" id="1">
    <div class="step-marker">1</div>
    <div class="step-details">
      <p>Plugin Name</p>
    </div>
  </div>
  <div class="step-item" id="2">
    <div class="step-marker">2</div>
    <div class="step-details">
      <p>Review Configuration</p>
    </div>
  </div>
  <div class="steps-content">
    <form [formGroup]="serviceForm" validate>
      <div class="box step-content  is-active" id="c-1">
        <div *ngIf="!plugins || plugins.length === 0" class="has-text-centered">
          <small class="no-rec">No plugin found</small>
        </div>
        <div *ngIf="plugins.length > 0" class="field is-horizontal form-group">
          <div class="field-label is-normal">
            <label class="label">Plugin</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-multiple">
                  <select #selectedPlugin multiple name="type" formControlName="plugin" (change)="getDescription(selectedPlugin.value)" required>
                    <option *ngFor="let p of plugins" [value]="p.name"> {{ p.name }}</option>
                  </select>
                </div>
                <small *ngIf="selectedPluginDescription" class="help level-left">* {{ selectedPluginDescription }}</small>
                <small *ngIf="!isValidPlugin" class="help is-danger level-left">Please select a valid plugin</small>
                <small *ngIf="!isSinglePlugin" class="help is-danger level-left">Please select a single plugin</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="plugins.length > 0" class="field is-horizontal form-group">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" id="name" type="text" placeholder="name" formControlName="name" required (input)="validateServiceName($event)">
                <small *ngIf="!isValidName" class="help is-danger level-left">Application name is required</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box step-content" id="c-2">
        <app-view-config-item [hidden]="!configurationData" [categoryConfigurationData]="configurationData"
        [useProxy]="useProxy" (onConfigChanged)="getChangedConfig($event)"></app-view-config-item>
      </div>
    </form>
  </div>
  <div class="steps-actions">
    <div class="steps-action">
      <button (click)="movePrevious()" data-nav="previous" class="button" id="previous">Back</button>
    </div>
    <div class="steps-action">
      <button (click)="moveNext()" data-nav="next" class="button is-link" id="next" [disabled]="plugins.length === 0">Next</button>
    </div>
  </div>
</div>
