<div id="chart_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card animated fadeIn">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">{{assetCode}}
      </p>
      <div class="close">
        <button class="delete" aria-label="close" (click)="toggleModal(false);loadPage = false"></button>
      </div>
    </header>
    <section class="modal-card-body">
      <ng-container *ngIf="loadPage; else tabs">
        <div class="app-loading">
          &nbsp;
          <svg class="spinner animated fadeIn fadeOut" viewBox="0 0 100 100">
            <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </div>
      </ng-container>
      <ng-template #tabs>
        <plotly-plot #assetChart (relayout)="dragGraph($event)" (afterPlot)="calculateDragTime()" (legendClick)="legendClick($event)"
          [data]="numReadings" [layout]="layout" [config]="config"></plotly-plot>
      </ng-template>
    </section>
  </div>
</div>
