<div id="chart_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">{{assetCode}}
      </p>
      <div class="close">
        <button class="delete" aria-label="close" (click)="toggleModal(false); clearField(limit)"></button>
      </div>
    </header>
    <section class="modal-card-body">
      <div [hidden]='!showGraph' class="columns is-mobile">
        <div class="column">
          <app-number-input-debounce placeholder="number of readings" #limit (value)="plotReadingsGraph(assetCode, limit.inputValue)"
            max="{{MAX_RANGE}}"></app-number-input-debounce>
          <p *ngIf='isInvalidLimit' class='help is-danger'>Number of readings must be in range 1 - {{MAX_RANGE}}</p>
        </div>
      </div>
      <div [hidden]='!showGraph' class="field is-grouped is-grouped-multiline" *ngFor="let readings of assetReadingSummary; let i = index">
        <div class="control">
          <div class="tags has-addons" *ngFor="let reading of readings.summary">
            <span>
              <b>{{readings.key}} &nbsp;</b>
            </span>
            <span class="tag is-light"> Avg </span>
            <span class="tag is-info" [ngStyle]="{'background-color': '#85C1E9'}">{{roundTo(reading.average,
              5)}}</span> &nbsp;
            <span class="tag is-light"> Min </span>
            <span class="tag is-info" [ngStyle]="{'background-color': '#85C1E9'}">{{roundTo(reading.min, 5)}}</span> &nbsp;
            <span class="tag is-light"> Max </span>
            <!-- readKeyColorLabel[i][readings.key]} -->
            <span class="tag is-info" [ngStyle]="{'background-color': '#85C1E9'}">{{roundTo(reading.max, 5)}}</span> &nbsp;
          </div>
        </div>
      </div>
      <p *ngIf='!showGraph'> Not Available </p>
      <app-chart *ngIf='showGraph' [type]="assetChartType" [data]="assetReadingValues" [options]=""></app-chart>
    </section>
  </div>
</div>
