[hidden] {
  display: none !important;
}

.modal-card-head {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  padding: 15px !important;
}

.modal-card-body {
  padding: 15px !important;
}

::ng-deep .button.is-small {
  font-size: 0.90rem !important;
}

::ng-deep .input.is-small {
  font-size: 0.90rem !important;
}

.no-data {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 769px) {
  .modal-card {
    width: 85%;
  }
  :host ::ng-deep .chart-container canvas[style] {
    height: calc(100vh - 181px) !important;
  }

  :host ::ng-deep .svg-container {
    height: calc(100vh - 181px) !important;
  }
}

@media screen and (max-width: 769px) {
  .chart-container {
    position: relative;
    width: 736px;
    height: 397px;
  }
  .summary {
    width: 736px;
  }
}

.summary,
.summary .table {
  background-color: #f8f9f9;
  border-radius: 5px;
}

.is-info {
  background-color: #85c1e9 !important;
}

table.is-borderless tr a {
  padding-left: 0;
}

table.is-borderless td,
table.is-borderless tr {
  border: 0 !important;
  vertical-align: middle;
}

.data-table {
  width: 100%;
}

.app-loading {
  min-height: 50vh;
}

.overflow {
  overflow: visible;
}

.range-wrap {
  position: relative;
  margin: -30px 2px 0 0;
  padding-right: 3px;
  top: 0;
}

::ng-deep .ng-select > div > div > div:nth-child(2) > span.ng-value-icon.left {
  display: none !important;
}

.playback-button {
  vertical-align: middle;
  background: none;
  border: none;
  color: #36454f;
}

.time-dropdown{
  min-width: 200px;
}

.help{
  display: inline;
  color: grey;
  font-size: 0.68rem;
}

.close{
  padding-left: 0.9em;
}

.asset-name{
  height: 36px;
  display: flex;
}

.asset-code{
  display: flex;
  align-items: center;
}