.media-content {
  overflow: hidden;
}

.s-log {
  font: normal normal normal normal 14px monospace;
  box-sizing: border-box;
  visibility: visible;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 4px;
  background: white;
  word-break: break-word;
}

.pagination-section {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.card {
  overflow: visible;
}

.card-content {
  overflow: visible;
}

#refresh-check {
  margin-left: 3px;
}

.auto-refresh {
  margin-right: 30px;
  font-size: .75rem;
  color: #363636;
  font-weight: 700;
}

.checkmark {
  vertical-align: middle !important;
}

.card-header-title {
  max-height: 45px !important;
}

.config-gear {
  vertical-align: top;
  background: none;
  border: none;
  padding-bottom: 0px !important;
  font-size: 14px;
}

.custom-quickview-card {
  box-shadow: none;
}

.breadcrumb-container {
  display: flex;
  align-items: stretch;
}

.breadcrumb {
  display: flex;
  flex-grow: 1;
  margin-left: 1.5rem;
  padding-top: 0.85rem;
}

.fix-pad {
  padding-top: 1.1rem;
}

.quickview-breadcrumb {
  font-size: 0.95rem;
  margin-bottom: 0.25rem !important;
}

.quickview-label {
  font-weight: 400 !important;
}