.media-content {
    overflow: hidden;
}

.s-log {
  font: normal normal normal normal 14px monospace;
  box-sizing: border-box;
  visibility: visible;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 4px;
  background: white;
  word-break: break-word;
}

.pagination-section {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.card { overflow: visible;}
.card-content { overflow: visible; }

#refresh-check {
  margin-left: 3px;
}

.auto-refresh {
  margin-right: 30px;
  font-size: .75rem;
  color: #363636;
  font-weight: 700;
}

.checkmark {
  vertical-align: middle !important;
}

.card-header-title {
  max-height: 45px !important;
}

.config-btn {
  float:right;
  margin-top:-2px;
  font-size: 0.7rem;
}

.config-gear {
  vertical-align: top;
  background: none;
  border: none;
  padding-top: 3px !important;
  padding-bottom: 0px !important;
}