<div id="user_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">Add New User</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false, f)"></button>
    </header>
    <section class="modal-card-body">
      <div class="card-content">
        <form name="form" id="ngForm" (ngSubmit)="createUser(f)" #f="ngForm" novalidate>
          <div class="columns">
            <div class="column">
              <label class="label is-small">Name</label>
              <p class="control is-fullwidth">
                <input type="text" class="input is-small" placeholder="Real Name" name='real_name'
                  [(ngModel)]="model.real_name" trim="blur" #realname="ngModel">
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="label is-small">Role</label>
              <div id="create-user-dropdown" class="dropdown">
                <div class="dropdown-trigger">
                  <button type="button" class="button is-fullwidth is-small" aria-haspopup="true"
                    aria-controls="dropdown-menu" (click)="toggleDropDown('create-user-dropdown')">
                    <span>{{selectedRole}}</span>
                    <span class="icon is-small">
                      <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" *ngFor="let role of userRole"
                      (click)="toggleDropDown('create-user-dropdown');setRole(role)">
                      {{setRoleName(role.id)}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="label is-small">Authentication Method</label>
              <div id="access-method-dropdown" class="dropdown">
                <div class="dropdown-trigger">
                  <button type="button" class="button is-fullwidth is-small" aria-haspopup="true"
                    aria-controls="dropdown-menu" (click)="toggleDropDown('access-method-dropdown')">
                    <span>{{selectedAuthMethod}}</span>
                    <span class="icon is-small">
                      <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" *ngFor="let authMethod of authMethods"
                      (click)="toggleDropDown('access-method-dropdown');setAuthMethod(authMethod)">
                      {{authMethod.text}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="label is-small">Username</label>
              <p class="control is-fullwidth">
                <input type="text" class="input is-small" placeholder="username" name='username'
                  [(ngModel)]="model.username" #username="ngModel" minlength="4" required trim="blur" />
              </p>
              <small *ngIf="f.submitted && !username.valid" class="help is-danger level-left"> Username is required
                (minimum 4 characters)</small>
            </div>
          </div>
          <ng-container *ngIf="selectedAuthMethod !== 'Certificate'">
            <div class="columns">
              <div class="column">
                <label class="label is-small">Password</label>
                <p class="control is-fullwidth">
                  <input type="password" class="input is-small" placeholder="password" name='password'
                    [(ngModel)]="model.password" #password="ngModel" validateEqual="confirmPassword" reverse="true"
                    trim="blur" required />
                </p>
                <small *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required
                  (minimum 6 characters)</small>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <label class="label is-small">Confirm Password</label>
                <p class="control is-fullwidth">
                  <input type="password" class="input is-small" placeholder="confirm password" name='confirmPassword'
                    [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" validateEqual="password" trim="blur"
                    required />
                </p>
                <small *ngIf="f.submitted && !confirmPassword.valid" class="help is-danger level-left">Password
                  mismatch</small>
              </div>
            </div>
          </ng-container>
          <div class="columns">
            <div class="column">
              <label class="label is-small">Description</label>
              <p class="control is-fullwidth">
                <textarea rows="3" type="text" class="textarea is-small" placeholder="description" name='description'
                  [(ngModel)]="model.description" trim="blur" #description="ngModel"></textarea>
              </p>
            </div>
          </div>
        </form>
      </div>
    </section>
    <footer class="modal-card-foot user-card-footer">
      <button id="save" type="submit" form="ngForm" class="button is-info is-small">Add</button>
    </footer>
  </div>
</div>
