<div id="user_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">Create User</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false, f)"></button>
    </header>
    <section class="modal-card-body">
      <div class="card-content">
        <form name="form" id="ngForm" (ngSubmit)="f.form.valid && createUser(f)" #f="ngForm" novalidate>
          <div class="columns">
            <div class="column">
              <label class="label">Role</label>
              <div class="select is-fullwidth is-small">
                <select name='role_id' (change)="setRole($event.target.value)" [(ngModel)]="model.role_id">
                  <option *ngFor="let role of userRole" [value]='role.id'>{{role.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p class="control is-fullwidth">
                <input type="text" class="input is-small" placeholder="username" name='username' [(ngModel)]="model.username" #username="ngModel"
                  minlength="4" maxlength="8" required/>
              </p>
              <small *ngIf="f.submitted && !username.valid" class="help is-danger level-left"> Username is required (minimum 4 characters)</small>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p class="control is-fullwidth">
                <input type="password" class="input is-small" placeholder="password" name='password' [(ngModel)]="model.password" #password="ngModel"
                  validateEqual="confirmPassword" reverse="true" required />
              </p>
              <small *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required(minium 6 character)</small>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p class="control is-fullwidth">
                <input type="password" class="input is-small" placeholder="confirm password" name='confirmPassword' [(ngModel)]="model.confirmPassword"
                  #confirmPassword="ngModel" validateEqual="password" required />
              </p>
              <small *ngIf="f.submitted && !confirmPassword.valid" class="help is-danger level-left">Password mismatch</small>
            </div>
          </div>
        </form>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button id="save" type="submit" form="ngForm" class="button is-info is-small">Save</button>
    </footer>
  </div>
</div>
