<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <div class="navbar-burger" (click)="toggleClick()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div *ngIf="viewPort !== 'mobile'">
      <div class="navbar-item">
        <div class="foglamp-logo"></div>
        &nbsp;&nbsp;
        <b>
          <a href="/" style="color: #363636;">FogLAMP</a>
        </b>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div *ngIf="pingInfo.isAuth || !pingInfo.isAlive">
      <div *ngIf="viewPort == 'mobile'" class="navbar-item">
        <b>FogLAMP
        </b>
      </div>
    </div>
    <div *ngIf="!pingInfo.isAlive" class="navbar-item">
      <span class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
        <i class="fa fa-circle"> </i>
      </span>
      <b style="color:gray;">&nbsp;DOWN</b>
    </div>
    <div *ngIf="viewPort == 'tablet'" class="navbar-item">
      <!-- tablet -->
      <div *ngIf="pingInfo.isAlive && !pingInfo.isAuth" class="dropdown is-left" id="foglamp-info" (click)="toggleInfoDropdown()">
        <div class="dropdown-trigger">
          <a id="hover-link" (click)="getServiceStatus()">
            <span class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
              <i class="fa fa-circle"> </i>
            </span>
            <b *ngIf="pingData['hostName'] && pingData['serviceName']">{{pingInfo.hostName}}/{{pingData['serviceName']}}</b>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <table>
                <tr>
                  <td class="has-text-left">Received:&nbsp;</td>
                  <td>
                    <b>{{pingData['dataRead'] | number}}</b>
                  </td>
                </tr>
                <tr>
                  <td class="has-text-left">Sent: </td>
                  <td>
                    <b>{{pingData['dataSent'] | number}}</b>
                  </td>
                </tr>
                <tr>
                  <td class="has-text-left">Uptime: </td>
                  <td>
                    <b>{{uptime}}</b>
                  </td>
                </tr>
              </table>
            </div>
            <hr class="dropdown-divider">
            <div *ngIf="showSpinner" class="app-loading">
              &nbsp;
              <svg class="spinner" viewBox="0 0 10 100">
                <circle class="path" cx="50%" cy="50%" r="8" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
            </div>
            <ng-container *ngIf="!showSpinner">
              <div class="dropdown-item">
                <table>
                  <tr *ngFor="let s of servicesRecord">
                    <td class="has-text-left">
                      <span class="icon" [ngClass]="applyServiceStatusCustomCss(s.status)">
                        <i class="fa fa-circle"></i>
                      </span>
                      {{s.name}}&nbsp;
                    </td>
                    <td>
                      <b>{{s.status}}</b>
                    </td>
                  </tr>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="viewPort == 'mobile'" class="navbar-item">
      <!-- mobile -->
      <div *ngIf="pingInfo.isAlive && !pingInfo.isAuth" class="dropdown is-left" id="foglamp-info" (click)="toggleInfoDropdown()">
        <div class="dropdown-trigger">
          <a id="hover-link" (click)="getServiceStatus()">
            <span class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
              <i class="fa fa-circle"> </i>
            </span>
            <b *ngIf="pingData['hostName']  && pingData['serviceName']">{{pingInfo.hostName.substr(0,
              8)}}/{{pingData['serviceName'].substr(0, 8)}}</b>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <b>{{pingInfo.hostName}}/{{pingData['serviceName']}}</b>
              <table>
                <tr>
                  <td class="has-text-left">Received:&nbsp;</td>
                  <td>
                    <b>{{pingData['dataRead'] | number}}</b>
                  </td>
                </tr>
                <tr>
                  <td class="has-text-left">Sent: </td>
                  <td>
                    <b>{{pingData['dataSent'] | number}}</b>
                  </td>
                </tr>
                <tr>
                  <td class="has-text-left">Uptime: </td>
                  <td>
                    <b>{{uptime}}</b>
                  </td>
                </tr>
              </table>
            </div>
            <hr class="dropdown-divider">
            <div *ngIf="showSpinner" class="app-loading">
              &nbsp;
              <svg class="spinner" viewBox="0 0 10 100">
                <circle class="path" cx="50%" cy="50%" r="8" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
            </div>
            <ng-container *ngIf="!showSpinner">
              <div class="dropdown-item">
                <table>
                  <tr *ngFor="let s of servicesRecord">
                    <td class="has-text-left">
                      <span class="icon" [ngClass]="applyServiceStatusCustomCss(s.status)">
                        <i class="fa fa-circle"></i>
                      </span>
                      {{s.name}}&nbsp;
                    </td>
                    <td>
                      <b>{{s.status}}</b>
                    </td>
                  </tr>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewPort == 'desktop'" class="navbar-menu">
    <!-- desktop (show in navbar-menu, not in navbar-brand) -->
    <div *ngIf="pingInfo.isAlive && !pingInfo.isAuth" class="navbar-start">
      <div class="navbar-item">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="dropdown is-hoverable" id="foglamp-info">
              <div class="dropdown-trigger">
                <a id="hover-link" (mouseover)="getServiceStatus()">
                  <span class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
                    <i class="fa fa-circle"> </i>
                  </span>
                  <b *ngIf="pingData['hostName']  && pingData['serviceName']">{{pingInfo.hostName}}/{{pingData['serviceName']}}</b>
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <div *ngIf="showSpinner" class="app-loading">
                    &nbsp;
                    <svg class="spinner" viewBox="0 0 10 100">
                      <circle class="path" cx="50%" cy="50%" r="8" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                  </div>
                  <ng-container *ngIf="!showSpinner">
                    <div class="dropdown-item">
                      <table>
                        <tr *ngFor="let s of servicesRecord">
                          <td class="has-text-left">
                            <span class="icon" [ngClass]="applyServiceStatusCustomCss(s.status)">
                              <i class="fa fa-circle"></i>
                            </span>
                            {{s.name}}&nbsp;
                          </td>
                          <td>
                            <b>{{s.status}}</b>
                          </td>
                        </tr>
                      </table>

                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div *ngIf='pingInfo.isAlive' class="control">
            Received:
            <b>{{pingData['dataRead'] | number}}</b>
          </div>
          <div *ngIf='pingInfo.isAlive' class="control">
            Sent:
            <b>{{pingData['dataSent'] | number}}</b>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div *ngIf='pingInfo.isAlive' class="control">
            Uptime:
            <b>{{uptime}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <div *ngIf='isUserLoggedIn' class="navbar-item">
      <div class="dropdown is-right" id="dropdown-box" (click)="toggleDropdown()">
        <div class="dropdown-trigger">
          <a class="navbar-link">
            <b class="has-text-grey">{{userName}}</b>
            <span class="icon is-small is-hidden-desktop">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </div>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a *ngIf='isUserLoggedIn' (click)="showProfile()" class="dropdown-item">
              <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Profile
            </a>
            <a *ngIf='isUserLoggedIn' (click)="logout()" class="dropdown-item">
              <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Log Out
            </a>
            <a *ngIf="pingInfo.isAlive && isUserLoggedIn" (click)="openModal()" class="dropdown-item">
              <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp; Shut Down
            </a>
            <a id="restart" *ngIf="pingInfo.isAlive && isUserLoggedIn" (click)="openRestartModal()" class="dropdown-item">
              <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp; Restart
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-item">
      <div *ngIf="pingInfo.isAlive && isAuthOptional">
        <span class="icon has-text-danger is-small">
          <a class="tooltip is-tooltip-left" data-tooltip="Shut Down FogLAMP" (click)="openModal()">
            <i class="fa fa-power-off" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>
    <div class="navbar-item">
      <div *ngIf="pingInfo.isAlive && isAuthOptional">
        <span class="icon has-text-danger is-small">
          <a id="restart" class="tooltip is-tooltip-left" data-tooltip="Restart FogLAMP" (click)="openRestartModal()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <app-shutdown-modal (shutdown)='shutdown()' [shutDownData]='shutDownData'></app-shutdown-modal>
  <app-restart-modal (restart)='restart()' [restartData]='restartData'></app-restart-modal>
</nav>
