<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div id="menu-toggle" class="navbar-burger" (click)="toggleClick()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div *ngIf="viewPort !== 'mobile'">
      <div class="navbar-item">
        <img src="assets/fledge.png" alt="" width="32" />
        &nbsp;
        <b>
          <a *ngIf="!pingInfo.version" href="/" style="color: #363636;">Fledge</a>
          <a *ngIf="pingInfo.version" id="hover-link" class="tooltip has-tooltip-bottom has-tooltip-arrow"
            [attr.data-tooltip]="'v'+pingInfo.version" href="/" style="color: #363636;">Fledge</a>
        </b>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
    <div *ngIf="pingInfo.isAuth || !pingInfo.isAlive">
      <div *ngIf="viewPort == 'mobile'" class="navbar-item">
        <b>Fledge
        </b>
      </div>
    </div>
    <div *ngIf="!pingInfo.isAlive" class="navbar-item">
      <span class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
        <i class="bi bi-circle-fill parent-icon"> </i>
      </span>
      <b style="color:gray;">&nbsp;DOWN</b>
    </div>
    <div *ngIf="viewPort == 'tablet'" class="navbar-item">
      <!-- tablet -->
      <div class="control">
        <ng-container *ngIf="pingInfo.isAlive && !pingInfo.isAuth; else elseTabTemplate">
          <div class="dropdown is-left" id="fledge-info" (click)="toggleInfoDropdown()">
            <div class="dropdown-trigger">
              <a id="hover-link" (click)="getServiceStatus()">
                <span id="service-status" class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
                  <i class="bi bi-circle-fill parent-icon"> </i>
                </span>
                <b
                  *ngIf="pingData['hostName'] && pingData['serviceName']">{{pingInfo.hostName}}/{{pingData['serviceName']}}</b>
                <span class="icon is-small">
                  <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                </span>
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <table>
                    <tr id="received-reading">
                      <td class="has-text-left">Received:&nbsp;</td>
                      <td>
                        <b>{{pingData['dataRead'] | number}}</b>
                      </td>
                    </tr>
                    <tr id="sent-reading">
                      <td class="has-text-left">Sent: </td>
                      <td>
                        <b>{{pingData['dataSent'] | number}}</b>
                      </td>
                    </tr>
                    <tr id="uptime">
                      <td class="has-text-left">Uptime: </td>
                      <td>
                        <b>{{uptime}}</b>
                      </td>
                    </tr>
                  </table>
                </div>
                <hr class="dropdown-divider" *ngIf="servicesRecord.length !== 0">
                <div *ngIf="showSpinner" class="app-loading">
                  &nbsp;
                  <svg class="spinner" viewBox="0 0 10 100">
                    <circle class="path" cx="50%" cy="50%" r="8" fill="none" stroke-width="2" stroke-miterlimit="10" />
                  </svg>
                </div>
                <ng-container *ngIf="!showSpinner && servicesRecord.length !== 0">
                  <div class="dropdown-item">
                    <table>
                      <tr *ngFor="let s of servicesRecord">
                        <td class="has-text-left">
                          <span class="icon" [ngClass]="applyServiceStatusCustomCss(s.status)">
                            <i class="bi bi-circle-fill child-icon"></i>
                          </span>
                          {{s.name}}&nbsp;
                        </td>
                        <td>
                          <b>{{s.status}}</b>
                        </td>
                      </tr>
                    </table>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
        <span *ngIf="isManualRefresh" class="help">&nbsp;&nbsp;Auto refresh
          disabled</span>
      </div>
      <ng-template #elseTabTemplate>
        <div *ngIf="pingInfo.isAuth" class="field is-grouped is-grouped-multiline">
          <div class="control">
            <span class="icon has-text-success tooltip has-tooltip-right has-tooltip-arrow"
              data-tooltip="Authentication required.">
              <i class="bi bi-circle-fill parent-icon"> </i>
            </span>
          </div>
        </div>
      </ng-template>
      &nbsp;
      <span *ngIf="pingInfo.isSafeMode" class="tag is-dark is-rounded">SAFE MODE</span>
    </div>
    <div *ngIf="viewPort == 'mobile'" class="navbar-item">
      <!-- mobile -->
      <div class="columns">
        <div class="column">
          <ng-container *ngIf="pingInfo.isAlive && !pingInfo.isAuth; else elseMobileTemplate">
            <div class="dropdown is-left" id="fledge-info" (click)="toggleInfoDropdown()">
              <div class="dropdown-trigger">
                <a id="hover-link" (click)="getServiceStatus()">
                  <span id="service-status" class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
                    <i class="bi bi-circle-fill parent-icon"> </i>
                  </span>
                  <b *ngIf="pingData['hostName']  && pingData['serviceName']">{{pingInfo.hostName.substr(0,
                    8)}}/{{pingData['serviceName'].substr(0, 8)}}</b>
                  <span class="icon is-small">
                    <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <b>{{pingInfo.hostName}}/{{pingData['serviceName']}}</b>
                    <hr class="dropdown-divider">
                    <table>
                      <tr id="received-reading">
                        <td class="has-text-left">Received:&nbsp;</td>
                        <td>
                          <b>{{pingData['dataRead'] | number}}</b>
                        </td>
                      </tr>
                      <tr id="sent-reading">
                        <td class="has-text-left">Sent: </td>
                        <td>
                          <b>{{pingData['dataSent'] | number}}</b>
                        </td>
                      </tr>
                      <tr id="uptime">
                        <td class="has-text-left">Uptime: </td>
                        <td>
                          <b>{{uptime}}</b>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <hr class="dropdown-divider" *ngIf="servicesRecord.length !== 0">
                  <div *ngIf="showSpinner" class="app-loading">
                    &nbsp;
                    <svg class="spinner" viewBox="0 0 10 100">
                      <circle class="path" cx="50%" cy="50%" r="8" fill="none" stroke-width="2"
                        stroke-miterlimit="10" />
                    </svg>
                  </div>
                  <ng-container *ngIf="!showSpinner && servicesRecord.length !== 0">
                    <div class="dropdown-item">
                      <table>
                        <tr *ngFor="let s of servicesRecord">
                          <td class="has-text-left">
                            <span class="icon" [ngClass]="applyServiceStatusCustomCss(s.status)">
                              <i class="bi bi-circle-fill child-icon"></i>
                            </span>
                            {{s.name.length <= 18 ? s.name : s.name.substr(0,18) + '..' }}&nbsp; </td>
                          <td>
                            <b>{{s.status}}</b>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <span *ngIf="isManualRefresh" class="help">&nbsp;&nbsp; Auto refresh
              disabled</span>
          </ng-container>
          <ng-template #elseMobileTemplate>
            <div *ngIf="pingInfo.isAuth" class="field is-grouped is-grouped-multiline">
              <div class="control">
                <span class="icon has-text-success tooltip has-tooltip-right has-tooltip-arrow"
                  data-tooltip="Authentication required.">
                  <i class="bi bi-circle-fill parent-icon"> </i>
                </span>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="column">
          <small *ngIf="pingInfo.isSafeMode" class='safe-mode'>SAFE MODE</small>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewPort == 'desktop'" class="navbar-menu">
    <!-- desktop (show in navbar-menu, not in navbar-brand) -->
    <div class="navbar-start">
      <div class="navbar-item">
        <ng-container *ngIf="pingInfo.isAlive && !pingInfo.isAuth; else elseTemplate">
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="dropdown is-hoverable" id="fledge-info">
                <div class="dropdown-trigger">
                  <a id="hover-link" (mouseover)="getServiceStatus()"
                    [ngClass]="{'default-cursor': this.servicesRecord.length === 0}">
                    <div>
                      <span id="service-status" class="icon" [ngClass]="applyPingStatusCustomCss(pingInfo)">
                        <i class="bi bi-circle-fill parent-icon"> </i>
                      </span>
                      <b *ngIf="pingData['hostName']  && pingData['serviceName']">
                        {{pingInfo.hostName}}/{{pingData['serviceName']}}
                      </b>
                    </div>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div *ngIf="servicesRecord.length !== 0" class="dropdown-content">
                    <div *ngIf="showSpinner" class="app-loading">
                      &nbsp;
                      <svg class="spinner" viewBox="0 0 10 100">
                        <circle class="path" cx="50%" cy="50%" r="8" fill="none" stroke-width="2"
                          stroke-miterlimit="10" />
                      </svg>
                    </div>
                    <ng-container *ngIf="!showSpinner">
                      <div class="dropdown-item">
                        <table>
                          <tr *ngFor="let s of servicesRecord">
                            <td class="has-text-left">
                              <span class="icon" [ngClass]="applyServiceStatusCustomCss(s.status)">
                                <i class="bi bi-circle-fill child-icon"></i>
                              </span>
                              <ng-container
                                *ngIf="servicesToShow.includes(s.type.toLowerCase()); else elseServiceTemplate">
                                <a class="ghost" (click)="navToServiceConfiguration(s)">{{s.name}}</a>
                              </ng-container>
                              <ng-template #elseServiceTemplate>
                                <span>{{s.name}}</span>
                              </ng-template>
                              &nbsp;
                            </td>
                            <td>
                              <ng-container *ngIf="['failed', 'unresponsive'].includes(s.status.toLowerCase())">
                                <span
                                  class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-hovered mr-2 ml-2"
                                  data-tooltip="Show logs" (click)="navToSyslogs(s)">
                                  <i class="far fa-sm fa-file-alt"></i>
                                </span>
                              </ng-container>
                            </td>
                            <td>
                              <b>{{s.status}}</b>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <span *ngIf="isManualRefresh" class="help">&nbsp;&nbsp; Auto refresh
                disabled</span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span *ngIf="pingInfo.isSafeMode" class="tag is-dark is-rounded">SAFE MODE</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div id="received-reading" *ngIf='pingInfo.isAlive' class="control">
              Received:
              <b>{{pingData['dataRead'] | number}}</b>
            </div>
            <div id="sent-reading" *ngIf='pingInfo.isAlive' class="control">
              Sent:
              <b>{{pingData['dataSent'] | number}}</b>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div id="uptime" *ngIf='pingInfo.isAlive' class="control">
              Uptime:
              <b>{{uptime}}</b>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div *ngIf="pingInfo.isAuth" class="field is-grouped is-grouped-multiline">
            <div class="control">
              <span class="icon has-text-success tooltip has-tooltip-right has-tooltip-arrow"
                data-tooltip="Authentication required.">
                <i class="bi bi-circle-fill bi-sm"> </i>
              </span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div
        *ngIf="pingInfo.isAlive && !pingInfo.isSafeMode && !rolesService.hasDataViewRole() && (isAuthOptional || isUserLoggedIn)">
        <app-system-alert [alertsCount]='pingInfo.alertsCount' [isManualRefresh]='isManualRefresh'></app-system-alert>
      </div>
    </div>
    <div *ngIf='isUserLoggedIn' class="navbar-item user-dropdown">
      <div [ngClass]="{'is-hoverable': viewPort == 'desktop'}" class="dropdown is-right" id="dropdown-box"
        (click)="viewPort !== 'desktop'? toggleDropdown(): false">
        <div class="dropdown-trigger">
          <a class="navbar-link">
            <b class="has-text-grey">{{userName}}</b>
          </a>
        </div>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content" [ngClass]="{'disabled': !pingInfo.isAlive}">
            <a *ngIf='isUserLoggedIn' (click)="showProfile()" class="dropdown-item user-content">
              <i class="bi-person-badge bi-sm" aria-hidden="true"></i>&nbsp; Profile
            </a>
            <a *ngIf='isUserLoggedIn' (click)="logout()" class="dropdown-item user-content">
              <i class="bi bi-box-arrow-right bi-sm logout-icon" aria-hidden="true"></i>&nbsp; Log Out
            </a>
            <ng-container *ngIf="pingInfo.isAlive && isUserLoggedIn && rolesService?.hasEditPermissions()">
              <a (click)="openModal()" class="dropdown-item user-content">
                <span class="icon"><i class="bi bi-power bi-sm" aria-hidden="true"></i>
                </span>&nbsp;Shut Down
              </a>
              <a id="restart" (click)="openRestartModal()" class="dropdown-item user-content">
                <span class="icon"><i class="bi bi-arrow-repeat bi-sm" aria-hidden="true"></i></span>&nbsp; Restart
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-item">
      <div *ngIf="pingInfo.isAlive && isAuthOptional">
        <span class="icon has-text-danger is-small">
          <a class="tooltip has-tooltip-left has-tooltip-arrow" data-tooltip="Shut Down Fledge" (click)="openModal()">
            <i class="bi bi-power bi-lg" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>
    <div class="navbar-item">
      <div *ngIf="pingInfo.isAlive && isAuthOptional">
        <span class="icon has-text-danger is-small">
          <a id="restart" class="tooltip has-tooltip-left has-tooltip-arrow" data-tooltip="Restart Fledge"
            (click)="openRestartModal()">
            <i class="bi bi-arrow-repeat bi-lg" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <app-shutdown-modal (shutdown)='shutdown()' [shutDownData]='shutDownData'></app-shutdown-modal>
  <app-restart-modal (restart)='restart()' [restartData]='restartData'></app-restart-modal>
</nav>