svg {
    overflow: visible !important;
    position: absolute;
    pointer-events: none;
    width: 9999px;
    height: 9999px;
}

svg path {
    fill: none;
    stroke-width: 1px;
    stroke: steelblue;
    pointer-events: auto;
}