svg {
  overflow: visible;
  position: absolute;
  pointer-events: none;
}

svg path {
  fill: none;
  stroke-width: 1px;
  stroke: steelblue;
  pointer-events: auto;
}

svg path.selected {
  stroke: rgb(255, 217, 44);
}

.hover-path {
  stroke-width: 14px !important;
  stroke: transparent !important;
}

.connection-status {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 0px;
  width: auto;
  height: auto;
  cursor: pointer;
}