<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div id="south-service" class="card-header-title">
        South Services
        <button *ngIf="!isAlive" (click)="getSouthboundServices(true)" title="Reload" class="button is-small"
          id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </div>
      <a *ngIf="rolesService?.hasEditPermissions()" id="add_south_service" class="fix-pad button is-light"
        (click)="addSouthService()">
        <p *ngIf="viewPort !== 'mobile'" class="add-btn">Add &nbsp;</p>
        <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <div *ngIf="showSpinner" class="app-loading">
          &nbsp;
          <svg class="spinner" viewBox="0 0 100 100">
            <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </div>
        <ng-container *ngIf="!showSpinner">
          <div class="has-text-centered" *ngIf="southboundServices != undefined && southboundServices.length === 0">
            <small class="no-rec">No Record</small>
          </div>
          <ng-container *ngIf="southboundServices!= undefined && southboundServices.length > 0">
            <table id="south-service-list" class="table is-fullwidth scroll is-responsive is-hoverable" cellpadding="0"
              cellspacing="0">
              <thead>
                <tr>
                  <th class="align-th">Name</th>
                  <th class="align-th">Status</th>
                  <th class="align-th">Plugin</th>
                  <th class="align-th">Version</th>
                  <th class="align-th">
                    <table class="table is-responsive">
                      <tr>
                        <td class="border-fix">Assets</td>
                        <td *ngIf="developerFeaturesService.getDeveloperFeatureControl()" class="border-fix"></td>
                        <td class="border-fix align-right">Readings</td>
                      </tr>
                    </table>
                  </th>
                  <th class="align-th"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let svc of southboundServices" [ngClass]="{'fade': (svc.schedule_enabled === false)}"
                  class="parent">
                  <td class="align-content">
                    <a class="button is-text service-name" (click)="openSouthServiceModal(svc)">{{svc.name}}</a>
                  </td>
                  <td class="align-content content-pad">
                    <div class="tags has-addons">
                      <ng-container *ngIf="!svc.schedule_enabled">
                        <span class="tag">disabled</span> <!-- This also take care of shutdown status-->
                      </ng-container>
                      <ng-container *ngIf="svc.schedule_enabled">
                        <span *ngIf="svc.status == 'running'" class="tag is-light is-success">enabled</span>
                        <span *ngIf="svc.status == 'failed'" class="tag is-light is-danger">{{svc.status}}</span>
                        <span *ngIf="svc.status == 'unresponsive'" class="tag is-light is-warning">{{svc.status}}</span>
                      </ng-container>
                    </div>
                  </td>
                  <td class="align-content content-pad">
                    <small>{{svc?.plugin?.name}}</small>
                  </td>
                  <td class="align-content content-pad">
                    <small>{{svc?.plugin?.version}}</small>
                  </td>
                  <td class="align-content">
                    <table class="table is-narrow is-responsive" [ngClass]="{'is-borderless': !svc.expanded}">
                      <tr *ngFor='let data of svc.assets; let i = index'
                        [ngClass]="{' fade': (svc.schedule_enabled===false)}">
                        <!-- Section to show asset & readings if asset == 1 -->
                        <ng-container *ngIf="i==0;else expandedTable">
                          <td>
                            <a *ngIf="developerFeaturesService.getDeveloperFeatureControl() && rolesService.hasEditPermissions()"
                              id="deprecate_event_div"
                              (click)="selectAsset(svc.name, data?.asset);openModal('asset-tracking-dialog')">
                              <span class="icon is-small tooltip has-tooltip-right has-tooltip-arrow"
                                data-tooltip="Deprecate asset">
                                <i class="fa fa-sm fa-eraser" aria-hidden="true"></i>
                              </span>
                            </a>
                            <small>{{data.asset}}</small>
                          </td>
                          <td>
                          </td>
                          <td class="readings-count">
                            <small class="level-right">{{data.count | number}}</small>
                          </td>
                        </ng-container>
                        <!-- Section to show asset & readings if assets > 1 -->
                        <ng-template #expandedTable>
                          <ng-container *ngIf="svc.expanded">
                            <td>
                              <a *ngIf="developerFeaturesService.getDeveloperFeatureControl() && rolesService.hasEditPermissions()"
                                id="deprecate_event_div"
                                (click)="selectAsset(svc.name, data?.asset);openModal('asset-tracking-dialog')">
                                <span class="icon is-small tooltip has-tooltip-right has-tooltip-arrow"
                                  data-tooltip="Deprecate asset">
                                  <i class="fa fa-sm fa-eraser" aria-hidden="true"></i>
                                </span>
                              </a>
                              <small>{{data.asset}}</small>
                            </td>
                            <td>
                            </td>
                            <td class="readings-count">
                              <small class="level-right">{{data.count | number}}</small>
                            </td>
                          </ng-container>
                        </ng-template>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <span *ngIf="svc?.assets?.length > 1" (click)="showHideAsset(svc)"
                      [ngClass]="{'open': svc.expanded}"
                      class="icon is-small tooltip has-tooltip-right has-tooltip-arrow tooltip-help is-pulled-right is-hovered"
                      [attr.data-tooltip]="svc.expanded ? 'Hide other assets' : 'Show all assets'">
                      <i class="fas fa-xs fa-angle-right"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-view-logs></app-view-logs>
<app-confirmation-dialog id="asset-tracking-dialog">
  <header class="modal-card-head">
    <span class="modal-card-title is-size-6">Deprecate</span>
    <button class="delete" aria-label="close" (click)="closeModal('asset-tracking-dialog')"></button>
  </header>
  <section class="modal-card-body">
    Are you sure, <b>{{selectedAsset}}</b> will be deprecated if this action is continued?
  </section>
  <footer class="modal-card-foot">
    <button class="button is-small" (click)="closeModal('asset-tracking-dialog')">Cancel</button>
    <button class="button is-small is-danger" (click)="deprecateAsset(selectedAsset)">Yes</button>
  </footer>
</app-confirmation-dialog>