<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div id="south-service" class="card-header-title">
        South Services
      </div>
      <a id="add_south_service" class="fix-pad button is-light" (click)="addSouthService()">
        <p *ngIf="viewPort !== 'mobile'">Add &nbsp;</p>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <div *ngIf="showSpinner" class="app-loading">
          &nbsp;
          <svg class="spinner" viewBox="0 0 100 100">
            <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </div>
        <ng-container *ngIf="!showSpinner">
          <div class="has-text-centered" *ngIf="southboundServices != undefined && southboundServices.length === 0">
            <small class="no-rec">No Record</small>
          </div>
          <ng-container *ngIf="southboundServices!= undefined && southboundServices.length > 0">
            <table id="south-service-list" class="table is-fullwidth scroll is-responsive" cellpadding="0"
              cellspacing="0">
              <thead>
                <tr>
                  <th class="align-th">Name</th>
                  <th class="align-th">Status</th>
                  <th class="align-th">Plugin</th>
                  <th class="align-th">Version</th>
                  <th class="align-th">
                    <table class="table is-responsive">
                      <tr>
                        <td class="border-fix">Assets</td>
                        <td class="border-fix align-right">Readings</td>
                      </tr>
                    </table>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let svc of southboundServices">
                  <td class="align-content">
                    <a class="button is-text" (click)="openSouthServiceModal(svc)">{{svc.name}}</a>
                  </td>
                  <td class="align-content content-pad">
                    <div class="tags has-addons">
                      <ng-container *ngIf="!svc.schedule_enabled">
                        <span class="tag">disabled</span> <!-- This also take care of shutdown status-->
                      </ng-container>
                      <ng-container *ngIf="svc.schedule_enabled">
                        <span *ngIf="svc.status == 'running'" class="tag is-success">enabled</span>
                        <span *ngIf="svc.status == 'failed'" class="tag is-danger">{{svc.status}}</span>
                        <span *ngIf="svc.status == 'unresponsive'" class="tag is-warning">{{svc.status}}</span>
                      </ng-container>
                    </div>
                  </td>
                  <td class="align-content content-pad">
                    <small>{{svc?.plugin?.name}}</small>
                  </td>
                  <td class="align-content content-pad">
                    <small>{{svc?.plugin?.version}}</small>
                  </td>
                  <td class="align-content">
                    <table class="table is-narrow is-responsive">
                      <tr *ngFor='let data of svc.assets'>
                        <td>
                          <small>{{data.asset}}</small>
                        </td>
                        <td>
                          <small class="level-right">{{data.count | number}}</small>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-south-service-modal (notify)='onNotify()' [service]="service"></app-south-service-modal>
<app-view-logs></app-view-logs>
