<div id="add-category-child" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">Add Parent Child Relationship</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <form name="form" (ngSubmit)="f.form.valid && addChild(f)" #f="ngForm" id="addChildForm" novalidate>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Parent Category</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select [(ngModel)]="parentCategory" name="parentCategory" (change)="changeParent($event.target.value)">
                    <option *ngFor="let category of parentCategories" [value]="category.key" [selected]="category.key == parentCategory">{{ category.description }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Child Category</label>
              <div class="control">
                <div class="select is-fullwidth is-multiple">
                  <select multiple [(ngModel)]="selectedChildren" name="childCategory">
                    <option *ngFor="let child of childCategories" [value]="child.key">{{ child.description }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button id="save" type="submit" form="addChildForm" class="button is-success">Add</button>
    </footer>
  </div>
</div>
