<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Category</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <div id="category-dropdown" class="dropdown is-left">
          <div class="dropdown-trigger">
            <button (click)="toggleDropDown('category-dropdown')" class="button is-small" aria-haspopup="true"
              aria-controls="dropdown-menu">
              <span>{{config?.category}}</span>
              <span class="icon is-small">
                <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <tree-root #tree [nodes]="nodes" [options]="options"
                (activate)="onNodeActive($event); toggleDropDown('category-dropdown')"></tree-root>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal" *ngIf="this.config?.item; else noconfig">
  <div class="field-label is-small">
    <label class="label">Item</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <div class="control">
          <div id="config-dropdown" class="dropdown is-left">
            <div class="dropdown-trigger">
              <button (click)="toggleDropDown('config-dropdown')" class="button is-small" aria-haspopup="true"
                aria-controls="dropdown-menu">
                <span>{{this.config?.item}}</span>
                <span class="icon is-small">
                  <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a (click)="chooseConfigItem(c); toggleDropDown('config-dropdown')" *ngFor="let c of configItems"
                  class="dropdown-item">{{c.key}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-narrow">
      <div class="control">
        <input class="input is-small name-control" type="text" placeholder="value" [value]="config?.value">
      </div>
    </div>
  </div>
</div>
<ng-template #noconfig>
  <div class="field is-horizontal">
    <div class="field-label is-small">
      <label class="label"></label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <small class="text-secondary has-text-grey-light">No configuration found for the selected
          category.</small>
      </div>
    </div>
  </div>
</ng-template>
