<div class="buttons m-0">
  <button *ngIf="activeTab != 0" class="tab-navigation button is-small is-ghost p-0 mx-0 my-2 pr-1" (click)="prevTab()">
    <span><i class="bi bi-chevron-left"></i> Previous{{activeTab === 0 ?'': ':' }} {{ tabs[activeTab -
      1].name}}</span>
  </button>
  <button *ngIf="!isLastTab()" class="tab-navigation button is-small is-ghost p-0 mx-0 my-2 pl-1" (click)="nextTab()">
    <span>Next: {{tabs[activeTab + 1].name}} <i class="bi bi-chevron-right"></i></span>
  </button>
</div>