<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      Tasks &nbsp;
      <button (click)="getTasks(selectedTaskType)" class="button is-small">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
    <a class="card-header-icon">
      <div class="select is-small">
        <select [ngModel]="selectedTaskType" (ngModelChange)="getTasks($event)" id="task-state">
          <option value='Latest'>Latest</option>
          <option value='Running'>Running</option>
        </select>
      </div>
      <a id="add_task" class="button is-light" (click)="addTask()">Add North Task &nbsp;
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </a>
  </header>
  <div class="card-content">
    <table class="table scroll is-responsive">
      <thead>
        <tr>
          <th>Process</th>
          <th>State</th>
          <th>Start time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tr *ngFor="let task of tasksData">
        <td>
          <small>{{task.name}}</small>
        </td>
        <td>
          <small>{{task.state}}</small>
        </td>
        <td>
          <small>{{task.startTime != 'None' ?(task.startTime | dateparser: 'DD-MM-YYYY HH:mm:ss') : task.startTime}}</small>
        </td>
        <td>
          <small>{{task.endTime != 'None'?(task.endTime | dateparser: 'DD-MM-YYYY HH:mm:ss') : task.endTime}}</small>
        </td>
        <td>
          <button *ngIf="'RUNNING' == (task.state | uppercase)" class="button is-small is-text" (click)="cancelRunninTask(task.id)">cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>