<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      Tasks &nbsp;
      <button (click)="getTasks(selectedTaskType)" class="button is-small">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
    <a class="card-header-icon">
      <div class="select is-small is-rounded">
        <select [ngModel]="selectedTaskType" (ngModelChange)="getTasks($event)" id="task-state">
          <option value='Latest'>Latest</option>
          <option value='Running'>Running</option>
        </select>
      </div>
      <a id="add_task" class="button is-light is-small" (click)="addTask()"><b>Add North Task</b> &nbsp;
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </a>
  </header>
  <div class="card-content">
    <table class="table scroll is-responsive">
      <thead>
        <tr>
          <th>Process</th>
          <th>State</th>
          <th>Start time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tr *ngFor="let task of tasksData">
        <td>
          <small>{{task.name}}</small>
        </td>
        <td>
          <small>{{task.state}}</small>
        </td>
        <td>
          <span class="tag is-rounded">{{task.startTime != 'None' ? (task.startTime | dateparser: 'DD-MM-YYYY HH:mm:ss') : task.startTime}}</span>
        </td>
        <td>
          <span *ngIf="task.endTime != ''" class="tag is-rounded">{{task.endTime != '' ? (task.endTime | dateparser: 'DD-MM-YYYY HH:mm:ss') : task.endTime}}</span>
        </td>
        
        <button *ngIf="'RUNNING' == (task.state | uppercase)" class="button is-small is-text cancel-btn" (click)="cancelRunninTask(task.id)">Cancel</button>
      </tr>
    </table>
  </div>
</div>