<div class="card">
  <header class="card-header">
    <div class="card-header-title" style="flex-grow: 0;">
      Tasks &nbsp;
      <!-- <button (click)="getTasks(selectedTaskType)" class="button is-small">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button> -->
    </div>
    <a class="card-header-icon">
      <div class="select is-small is-rounded">
        <select [ngModel]="selectedTaskType" (ngModelChange)="getTasks($event)" id="task-state">
          <option value='Latest'>Latest</option>
          <option value='Running'>Running</option>
        </select>
      </div>
    </a>
  </header>
  <div class="card-content">
    <table class="table scroll is-responsive">
      <thead>
        <tr>
          <th>Process</th>
          <th>State</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let task of tasksData">
        <td>
          <small>{{task.name}}</small>
        </td>
        <td>
          <small>{{task.state}}</small>
        </td>
        <td>
          <small>{{task.startTime != 'None' ? (task.startTime | dateparser: 'DD-MM-YYYY HH:mm:ss') : task.startTime}}</small>
        </td>
        <td>
          <small *ngIf="task.endTime != ''">{{task.endTime != '' ? (task.endTime | dateparser: 'DD-MM-YYYY HH:mm:ss') : task.endTime}}</small>
        </td>
        <td>
          <button *ngIf="'RUNNING' == (task.state | uppercase)" class="button" (click)="cancelRunninTask(task.id)">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>