<table class="table scroll is-responsive is-hoverable" *ngIf="controlAcls.length > 0; else noacl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Usage</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let acl of controlAcls">
      <td>
        <a [routerLink]="['acl', acl?.name]">
          {{acl?.name}}
        </a>
      </td>
      <td></td>
      <td>
        <button *ngIf="sharedService.checkAuth()" (click)="setACL(acl);openModal('confirmation-dialog')"
          class="button is-small btn-delete">
          <span class="icon is-small">
            <i class="far fa-trash-alt"></i>
          </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noacl>
  <div class="field-body">
    <div class="field is-narrow">
      <small class="text-secondary has-text-grey-light"> No control ACLs found.</small>
    </div>
  </div>
</ng-template>
<app-confirmation-dialog id="confirmation-dialog">
  <section class="modal-card-body">
    Are you sure, you want to delete the ACL <b>{{acl}}</b>?
  </section>
  <footer class="modal-card-foot">
    <button class="button is-small" (click)="closeModal('confirmation-dialog')">Cancel</button>
    <button class="button is-small is-danger" (click)="deleteAcl(acl)">Delete</button>
  </footer>
</app-confirmation-dialog>
