.btn-delete {
  border-color: transparent !important;
  opacity: 0;
}

tr:hover .btn-delete {
  opacity: 1;
}

.child-table th {
  padding-left: 0.1em !important;
  padding-top: 0.1em !important;
  padding-bottom: 0.1em !important;
}

.acl-usage {
  padding: 0.1em 0.7em;
}

.is-hovered {
  cursor: pointer !important;
}

.btn-margin {
margin: 20px 10px;
}

.context-menu {
  border: none;
}

.fix-margin {
  margin-top: 8px;
}

.is-hoverable.acl-table tr:hover .context-menu {
  background-color: #fafafa; 
}
