<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>
        <a class="is-link link-btn" [routerLink]="['/control-dispatcher']">Scripts</a>
      </li>
      <li class="is-active"><a href="#" aria-current="page">{{scriptName}}</a></li>
    </ul>
  </nav>
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span>Control Service Scripts</span>
        &nbsp;
        <button (click)="showControlScript(scriptName)" class="button is-small" id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </div>
    </header>
    <div class="card-content step-content">
      <div class="column is-four-fifths">
        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input is-small" type="text" placeholder="Name" [value]="controlScript?.name">
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-small">
            <label class="label">Steps</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="view-content columns">
                  <div class="column">
                    <ng-container>
                      <div class="steps-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
                        <div class="accordion card" *ngFor="let step of controlScript?.steps; let i = index"
                          [attr.id]="i" cdkDrag [cdkDragDisabled]="controlScript?.steps?.length < 2"
                          [ngClass]="{'cursor-pointer': controlScript?.steps?.length < 2}">
                          <header class="card-header" cdkDragHandle
                            [ngClass]="{'cursor-default': controlScript?.steps?.length < 2,'cursor-move':controlScript?.steps?.length >= 2 }">
                            <p class="card-header-title">
                              <ng-container *ngIf="controlScript?.steps?.length > 1">
                                <i class="fa fa-sm fa-bars"></i>&nbsp;
                              </ng-container>
                              {{step.key}}
                            </p>
                            <a (click)="toggleAccordion(i)" class="card-header-icon">
                              <span class="icon">
                                <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </a>
                          </header>
                          <div class="card-content step-content" hidden>
                            <div class="content">
                              <app-write-control *ngIf="step?.key === 'write'" [config]="step?.value">
                              </app-write-control>
                              <app-delay *ngIf="step?.key === 'delay'" [config]="step?.value">
                              </app-delay>
                              <app-config *ngIf="step?.key === 'configure'" [config]="step?.value">
                              </app-config>
                              <app-operation *ngIf="step?.key === 'operation'" [config]="step?.value">
                              </app-operation>
                              <app-script *ngIf="step?.key === 'script'" [config]="step?.value">
                              </app-script>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-four-fifths">
        <div class="field is-grouped is-pulled-right">
          <p class="control">
            <button [routerLink]="['/control-dispatcher']" class="button is-small">Cancel</button>
          </p>
          <p class="control">
            <button (click)="updateControlScript()" class="button is-small is-link">Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
