<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-hidden-desktop" href="/">
      <b>FogLAMP</b>
    </a>
    <a class="navbar-item is-hidden-mobile" href="/">
      <b>FogLAMP Management</b>
    </a>
  </div>
  <div class="navbar-start">
    <a class="navbar-item"></a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item">
      <span [ngClass]="ping_info.is_alive?'tag is-success':'tag is-danger'">{{ping_info.service_status}}</span>
    </a>
    <a class="navbar-item">
      <button *ngIf="ping_info.is_alive" class="button is-danger is-small" (click)="openModal()">
        <i class="fa fa-power-off" aria-hidden="true"></i>
      </button>
    </a>
  </div>
  <div class="navbar-burger" (click)="toggleClick()">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <app-modal (shutdown)='shutdown($event)' [childData]='childData'></app-modal>
</nav>