<div id="chart_modal" class="modal" id="image-control-modal">
  <div class="modal-background"></div>
  <div class="modal-card animated fadeIn">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">{{assetCode}}</p>
      <div class="close">
        <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <div class="column">
          <ng-container *ngIf="showSpinner; else DataDiv">
            <div class="app-loading">
              &nbsp;
              <svg class="spinner animated fadeIn fadeOut" viewBox="0 0 100 100">
                <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
            </div>
          </ng-container>
          <ng-template #DataDiv>
            <div class="has-text-centered">
              <div id="tab-content">
                <img [src]="image" [alt]="assetCode">
              </div>
              <small class="text-secondary has-text-grey-light">{{assetCode}}, Timestamp: {{timestamp}} </small>
            </div>
          </ng-template>
        </div>


      </div>
    </section>
  </div>
</div>
