<div class="container is-fluid">
  <div class="navbar-item">
    <nav class="breadcrumb mb-0" aria-label="breadcrumbs">
      <ul>
        <li><a [routerLink]="['/developer/options']">Developer</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">
            Performance Monitors
          </a>
        </li>
        <button (click)="getMonitors()" class="button is-small" title="Reload" id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </ul>
    </nav>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="content">

        <!-- <div>{{ counters | json }}</div> -->
        <form>
          <div class="form-group">
            <label for="">Services</label> &nbsp;
            <select class="form-control form-control-sm" #counter (change)="setCounter($event)">
              <option value="All">
                All
              </option>
              <option *ngFor="let c of counters" [value]="c">
                {{c}}
              </option>
            </select>
          </div>
        </form>
        <hr />
        <div class="has-text-centered" *ngIf="perfMonitors.length === 0">
          <small class="no-rec">No data</small>
        </div>

        <ng-container *ngIf="perfMonitors.length > 0">
          <table class="table is-fullwidth scroll is-responsive is-hoverable is-narrow">
            <tbody>
              <tr></tr>
              <tr *ngFor="let pm of perfMonitors" class="parent">
                <ng-container *ngIf="selectedCounter === 'All'">
                  <td class="align-content content-pad">
                    <small><b>{{pm?.key}}</b></small>
                  </td>
                </ng-container>
                <td class="align-content content-pad">
                  <div *ngFor="let pmv of pm?.value">
                    <pre>{{ pmv | json }}</pre>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
