<div class="container is-fluid">
  <app-service-warning [service]="serviceInfo" (serviceConfigureModal)="openServiceConfigureModal()"
    (refreshService)="refreshServiceInfo()" [serviceType]="'Notification'"></app-service-warning>
  <div class="card">
    <header class="card-header">
      <div id="notification-service" class="card-header-title">
        <p>
          Notifications
          <a class="button is-small" (click)="getNotificationInstance()" title="Reload" id="refresh-check">
            <span class="icon is-small">
              <i class="fa fa-sm fa-sync"></i>
            </span>
          </a>
        </p>
      </div>

      <button *ngIf="rolesService?.hasControlAccess()" [disabled]="!isNotificationServiceEnabled"
        class="fix-pad button is-light mr-0 mt-0" (click)="addNotificationInstance()">
        <p *ngIf="viewPort !== 'mobile'" class="add-btn">Create Notification Instance &nbsp;</p>
        <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
      </button>
      <div *ngIf="notificationServiceInstalled && isNotificationServiceEnabled" class="cog-icon">
        <app-service-config (serviceConfigureModal)="openServiceConfigureModal()"
          [from]="notification"></app-service-config>
      </div>
      <span *ngIf="isNotificationServiceEnabled" class="icon is-small tooltip is-pulled-right is-hovered help-pad"
        data-tooltip="Help" (click)="goToLink('using-the-notification-service')">
        <i class="far fa-question-circle"></i>
      </span>
    </header>
    <div class="card-content">
      <div class="content">
        <div *ngIf="showSpinner" class="app-loading">
          &nbsp;
          <svg class="spinner" viewBox="0 0 100 100">
            <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </div>
        <ng-container *ngIf="!showSpinner">
          <div class="has-text-centered"
            *ngIf="notificationInstances != undefined && notificationInstances.length === 0">
            <small class="no-rec">No Record</small>
          </div>
          <ng-container *ngIf="notificationInstances!= undefined && notificationInstances.length > 0">
            <table class="table is-fullwidth scroll is-responsive is-hoverable" cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th class="align-content">Name</th>
                  <th class="align-content">Channel</th>
                  <th class="align-content">Rule</th>
                  <th class="align-content">Type</th>
                  <th class="align-content">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let instance of notificationInstances" [ngClass]="{'fade': (instance.enable == 'false')}">
                  <td class="align-content">
                    <a class="button is-text" (click)="openNotificationInstanceModal(instance)">{{instance.name}}</a>
                  </td>
                  <td class="align-content">
                    {{instance.channel}}
                  </td>
                  <td class="align-content">
                    {{instance.rule}}
                  </td>
                  <td class="align-content">
                    {{instance.notificationType}}
                  </td>
                  <td class="align-content">
                    <div class="tags has-addons">
                      <span *ngIf="instance.enable === 'false'" class="tag is-light">disabled</span>
                      <span *ngIf="instance.enable === 'true'" class="tag is-light is-success"
                        [ngClass]="{'disable-tag': this.isNotificationServiceAvailable && !this.isNotificationServiceEnabled}">enabled</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-notification-modal (notify)='onNotify()' [notification]="notification"></app-notification-modal>
<app-view-logs></app-view-logs>