.align-content {
  vertical-align: middle;
}

.delete {
  margin: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.is-text {
  padding-left: 0;
  padding-right: 0;
}

.custom-pad {
  margin-top: 6px;
}

.disable-tag {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#refresh-check {
  margin: auto;
}