.align-content {
  vertical-align: middle;
}

.delete {
  margin: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.is-text {
  padding-left: 0;
  padding-right: 0;
}

.is-hidden {
  display: none;
}

.disable-tag {
 opacity: 0.5;
 filter: alpha(opacity=50);
}

button {
  margin-top: 0.5rem;
  margin-right: 0.2rem;
}

#refresh-check {
  margin: auto;
}

.card-header-title {
  padding: 0.75rem 1.5rem;
}

.message.is-warning {
  margin-top: 10px;
}