<div class="container is-fluid">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
    [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
  </ng-progress>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <table class="table is-striped is-narrow scroll is-responsive">
          <thead>
            <tr>
              <th>Asset</th>
              <th>Readings</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets">
              <td>{{asset.assetCode}}</td>
              <td>
                <small>{{asset.count}}</small>
              </td>
              <td>
                <a (click)="showAssetChart(asset.assetCode)" class="is-pulled-right">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tbody>
        </table>
      </div>
    </div>
  </div>
  <app-readings-graph></app-readings-graph>
</div>