<div class="container is-fluid">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <table class="table is-striped is-narrow scroll is-responsive">
          <thead>
            <tr>
              <th>Asset</th>
              <th>Readings</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of assets">
              <td>{{asset.assetCode}}</td>
              <td>{{asset.count | number}}</td>
              <td>
                <a (click)="showAssetChart(asset.assetCode)" class="is-pulled-right">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tbody>
        </table>
      </div>
    </div>
  </div>
  <app-readings-graph></app-readings-graph>
</div>
