<div id="shutdownModal-box" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-size-6">Shut Down FogLAMP</p>
        </header>
        <section class="modal-card-body">
            {{ shutDownData.message }}
        </section>
        <footer class="modal-card-foot">
            <button class="button is-small" (click)="toggleModal(false)">Cancel</button>
            <button class="button is-small is-danger" (click)="triggerAction()">Shut Down</button>
        </footer>
    </div>
</div>