<div id="plugin-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">{{data.type}} Plugins</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <ng-container>
        <div class="columns">
          <div class="column">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <ngx-select-dropdown #plugin [config]="config" [options]="plugins" [disabled]="!plugins.length"></ngx-select-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p id="requestInProgress" class="help has-text-centered">fetching available plugins ...</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field is-grouped is-pulled-right">
              <p class="control">
                <button class="button is-small" (click)="toggleModal(false)">Cancel</button>
              </p>
              <p class="control">
                <button class="button is-small is-link" (click)="installPlugin(plugin.value)" [disabled]="!installButtonEnabled">Install</button>
              </p>
            </div>
          </div>
        </div>
      </ng-container>

    </section>
  </div>
</div>
