<div id="certificate-login-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" style="flex-grow:0;">
      <p class="modal-card-title is-size-6">Login with Certificate</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="form" id="ngForm" (ngSubmit)="LoginWithCertificate()" novalidate>
        <div class="columns">
          <div class="column">
            <div class="field">
              <div class="certificate-input-container">
                <div *ngIf="showBrowseCertificate" class="file has-name is-fullwidth">
                  <label class="file-label">
                    <input class="file-input" type="file" required id="certificate" (change)="onCertificateChange($event)"
                      formControlName="certificate" #fileInput>
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="bi bi-sm bi-upload"></i>
                      </span>
                      <span class="file-label">Drag and Drop a File or Browse</span>
                    </span>
                    <span class="file-name">
                      {{ fileInput?.files?.length ? fileInput.files[0].name : 'No file chosen' }}
                    </span>
                  </label>
                  <small *ngIf="!isCertificateExt" class="help is-danger level-left"> &nbsp; Invalid file</small>
                </div>
                <textarea *ngIf="!showBrowseCertificate" placeholder="Certificate text..." cols="60" style="height: 120px; resize: vertical;" formControlName="certificateText"></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-space-between is-align-items-flex-start">
      <div class="buttons mb-0">
        <button class="button is-small" (click)="toggleModal(false)">Cancel</button>
        <button id="save" type="submit" form="ngForm" class="button is-link is-small">Log In</button>
      </div>
      <button class="button is-small is-ghost"(click)="selectOptionOfCertificateLogin()">
        <span class="icon is-small"><i [ngClass]="showBrowseCertificate ? 'bi bi-copy' : 'bi bi-upload'"></i>
        </span>
        <span>{{loginCertButtonText}}</span>
      </button>
    </footer>
  </div>
</div>