<ng-container *ngIf="isEnabled === false">
    <article class="message is-warning">
        <div class="message-body">
            <span *ngIf="isInstalled === false">{{serviceType}} service is not installed.</span>
            <span *ngIf="isInstalled && isAvailable === false">{{serviceType}} service is not
                added.</span>
            <span *ngIf="isAvailable && isEnabled === false">{{serviceType}} service is not
                enabled.</span>
            &nbsp;<a *ngIf="rolesService.hasEditPermissions() && (isInstalled === false || isAvailable === false || isEnabled === false)"
            (click)="openConfigureModal()"><strong>Configure</strong></a>
            <button (click)="refreshServiceInfo()" class="button is-small" id="refresh-check">
                <span class="icon">
                <i class="fa fa-sm fa-sync" aria-hidden="true" title="Recheck"></i>
                </span>
            </button>
        </div>
    </article>
</ng-container>
  