#repeat_day{
    float: left;
    width: 20%;
}

#repeat_time{
    width: 50%;
    margin-left: 1%;
}

.modal {
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .modal-card {
    min-height: 57% !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .modal-card {
    min-height: 75% !important;
  }
}

@media screen and (min-width: 1920px) {
  .modal-card {
    min-height: 47% !important;
  }
}
