<div id="update_schedule_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title title-name">
        {{ rolesService.hasEditPermissions() ? 'Update Schedule' : 'View Schedule'}}
      </p>
      <button class="delete" aria-label="close" (click)="navToSchedulesPage()"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="form" novalidate>
        <ng-container *ngIf="rolesService.hasEditPermissions(); else staticForm">
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <div class="form-group">
                  <label class="label">Name</label>
                  <!-- Name field is not editable for STARTUP schedule -->
                  <ng-container *ngIf="schedule?.type?.name != 'STARTUP'; else staticName">
                    <p class="control is-fullwidth">
                      <input type="text" class="input is-small" formControlName="name" placeholder="name" required
                        trim="blur" title="No single quotes and double quotes!"
                        [pattern]="QUOTATION_VALIDATION_PATTERN" />
                    </p>
                    <small *ngIf="form?.controls['name']?.hasError('required') && form?.controls['name']?.touched"
                      class="help is-danger level-left">Name is required</small>
                  </ng-container>
                  <ng-template #staticName>
                    <p class="control is-fullwidth">
                      <input type="text" class="input is-small is-static" formControlName="name" readonly />
                    </p>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label class="label">Exclusive</label>
                <div class="control">
                  <input type="checkbox" checked formControlName="exclusive">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label class="label">Enabled</label>
                <div class="control">
                  <input type="checkbox" checked formControlName="enabled">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <label class="label">Type</label>
                <!-- Schedule type STARTUP can't be changed to other type -->
                <ng-container *ngIf="schedule?.type?.name != 'STARTUP'; else staticType">
                  <div class="control">
                    <ng-select [items]="scheduleTypes" bindLabel="name" bindValue="index" formControlName="type"
                      [searchable]="false" [clearable]="false" labelForId="type" [compareWith]="compareSelectItem"
                      (change)="setScheduleType($event)">
                    </ng-select>
                  </div>
                </ng-container>
                <ng-template #staticType>
                  <div class="control">
                    <input type="text" class="input is-small is-static" [value]="scheduleType()" readonly />
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Process</label>
                <div class="control">
                  <input formControlName="processName" readonly type="text" class="input is-small is-static"
                    placeholder="process" />
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-mobile" *ngIf="scheduleType() == 'TIMED'">
            <!-- Show Day & Time field for "Timed" type schedule -->
            <div class="column">
              <div class="field">
                <label class="label">Day
                  <!-- &nbsp; -->
                  <span class="tooltip has-tooltip-right has-tooltip-arrow" data-tooltip="ISO Days (Monday-Sunday/1-7)">
                    <i class="far fa-sm fa-question-circle"></i>
                  </span>
                </label>
                <div class="control">
                  <ng-select [items]="days" bindLabel="name" formControlName="day" [searchable]="false"
                    bindValue="index" [compareWith]="compareSelectItem" [clearable]="false" labelForId="day"
                    (change)="setDay($event)">
                  </ng-select>

                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Time</label>
                <p class="control is-fullwidth">
                  <input class="input is-small" type='text' placeholder="HH:mm:ss" mask="00:00:00"
                    formControlName="time" (input)="matchTimeTypeField($event, 'time')">
                </p>
                <small *ngIf="!form.controls.time.valid" class="help is-danger level-left">&nbsp; Time must be in range
                  00:00:00 - 23:59:59</small>
              </div>
            </div>
          </div>
          <div class="columns" *ngIf="scheduleType() == 'TIMED' || scheduleType() == 'INTERVAL'">
            <!-- Show "Repeat (Interval)" field for "Interval" and "TIMED" type schedule -->
            <div class="column">
              <div class="field">
                <label class="label">Repeat Interval
                  <!-- &nbsp; -->
                  <span class="tooltip has-tooltip-right has-tooltip-arrow"
                    data-tooltip="Repeat every n (0-365) days/HH:mm:ss hours">
                    <i class="far fa-sm fa-question-circle"></i>
                  </span>
                </label>
                <div class="columns">
                  <div class="column">
                    <input id="repeat_day" class="input is-small" appIntegerOnly min="0" max="365" placeholder="days"
                      autocomplete="off" formControlName="repeatDay" required>
                    <input id="repeat_time" class="input is-small" type='text' placeholder="HH:mm:ss"
                      formControlName="repeat" mask='00:00:00' (input)="matchTimeTypeField($event, 'repeat')" required>
                  </div>
                  <div class="column"></div>
                </div>
                <small *ngIf="form.controls.repeatDay.invalid" class="help is-danger level-left">&nbsp; Repeat days must
                  be in range 0 - 365</small>
                <small *ngIf="form.controls.repeat.invalid" class="help is-danger level-left">&nbsp; Repeat hours must
                  be
                  in range 00:00:00 - 23:59:59</small>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Static Form for View role -->
        <ng-template #staticForm>
          <div class="columns">
            <div class="column">
              <div class="field">
                <div class="form-group">
                  <label class="label">Name</label>
                  <p class="control is-fullwidth">
                    <input type="text" class="input is-small is-static" formControlName="name" readonly />
                  </p>
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label class="label">Exclusive</label>
                <div class="control">
                  <input type="checkbox" checked formControlName="exclusive" [attr.disabled]="true">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label class="label">Enabled</label>
                <div class="control">
                  <input type="checkbox" checked formControlName="enabled" [attr.disabled]="true">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <label class="label">Type</label>
                <div class="control">
                  <input type="text" class="input is-small is-static" [value]="form.get('type')?.value?.name"
                    readonly />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Process</label>
                <div class="control">
                  <input formControlName="processName" type="text" class="input is-small is-static" readOnly>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="scheduleType() == 'TIMED'" class="columns is-mobile">
            <!-- Show Day & Time field for "Timed" type schedule -->
            <div class="column">
              <div class="field">
                <label class="label">Day
                  <span class="tooltip has-tooltip-right has-tooltip-arrow" data-tooltip="ISO Days (Monday-Sunday/1-7)">
                    <i class="far fa-sm fa-question-circle"></i>
                  </span>
                </label>
                <div class="control">
                  <input type="text" class="input is-small is-static" [value]="form.get('day')?.value?.name" readonly />
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Time</label>
                <p class="control is-fullwidth">
                  <input class="input is-small is-static" type='text' [value]="form.get('time')?.value" readonly>
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="scheduleType() == 'TIMED' || scheduleType() == 'INTERVAL'" class="columns">
            <!-- Show "Repeat (Interval)" field for "Interval" and "TIMED" type schedule -->
            <div class="column">
              <div class="field">
                <label class="label is-small">Repeat Interval
                  <!-- &nbsp; -->
                  <span class="tooltip has-tooltip-right has-tooltip-arrow"
                    data-tooltip="Repeat every n (0-365) days/HH:mm:ss hours">
                    <i class="far fa-sm fa-question-circle"></i>
                  </span>
                </label>
                <div class="columns">
                  <div class="column">
                    <input id="repeat_day" class="input is-small is-static" type='number' formControlName="repeatDay"
                      readonly>
                    <input id="repeat_time" class="input is-small is-static" type='text' formControlName="repeat"
                      readonly>
                  </div>
                  <div class="column"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button type="button" id="cancel" class="button is-small" (click)="navToSchedulesPage()">Cancel</button>
      <button *ngIf="rolesService.hasEditPermissions()" id="save" type="submit" class="button is-info is-small"
        [disabled]="form?.invalid || (!form.dirty && form.pristine)" (click)="form?.valid && updateSchedule()"
        [appDisableUntilResponse]="reenableButton">Save</button>
    </footer>
  </div>
</div>