#repeat_day{
    float: left;
    width: 18%;
}

#repeat_time{
    width: 81%;
    margin-left: 1%;
}

.modal {
  position: absolute;
}

.modal-card { overflow: visible;}
.modal-card-body { overflow: visible; }

@media screen and (min-width: 769px) {
  .modal-card {
    width: 50%;
  }
}
