#repeat_day{
    float: left;
    width: 20%;
}

#repeat_time{
    width: 50%;
    margin-left: 1%;
}

.modal {
  position: absolute;
}

.modal-card { overflow: visible;}
.modal-card-body { overflow: visible; }
