#repeat_day{
    float: left;
    width: 20%;
}

#repeat_time{
    width: 50%;
    margin-left: 1%;
}

.modal {
  position: absolute;
}

@media screen and (min-width: 769px) {
  .modal-card {
    height: 75%;
  }
}
