<ng-container *ngIf="!darkAlerts">
    <article id="alert" *ngIf="message" class="message" [ngClass]="{'is-success': message.type === 'success', 'is-info': message.type === 'info', 'is-danger': message.type === 'error', 'is-warning': message.type === 'warning' }">
        <button class="delete" (click)=closeMessage()></button>
        <div class="message-body" [innerHTML]="message.text"></div>
    </article>
</ng-container>
<ng-container *ngIf="darkAlerts">
    <div id="alert" *ngIf="message" class="notification" [ngClass]="{'is-success': message.type === 'success', 'is-info': message.type === 'info', 'is-danger': message.type === 'error', 'is-warning': message.type === 'warning' }">
        <button class="delete" (click)=closeMessage()></button>
        <span [innerHTML]="message.text"></span>
    </div>
</ng-container>