#alert {
    position: fixed; 
    padding: 1.5em; 
    bottom: 0.1%; 
    right: 0.1%;
    z-index: 9999999;     
}

.delete {
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 0;
}