.field-body .field {
  margin-bottom: 5px;
}

.field-label {
  text-align: left;
}

.tree-dropdown {
  padding-left: 5px;
}

::ng-deep .tree-children .toggle-children,
::ng-deep .node-wrapper .toggle-children {
  opacity: 0.4;
}