<div id="south-service-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p *ngIf="service != undefined" class="modal-card-title is-size-6">{{service.name}} South Service</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <form name="form" id="ngForm" (ngSubmit)="f.form.valid && saveConfiguration(f)" #f="ngForm" novalidate>
        <div class="columns is-multiline" *ngFor="let categoryData of category?.value">
          <div class="column is-narrow is-half" *ngFor="let configItem of (categoryData | keys)">
            <div class="is-clearfix"></div>
            <div class="box">
              <div class="content">
                <div class="field">
                  <div class="control">
                    <p class="subtitle is-6">
                      {{configItem.value.description}}
                    </p>
                    <p hidden="true"> {{configItem.value.type}} </p>
                    <input *ngIf="configItem.value.type.toUpperCase() !== 'JSON'" class="input is-small" type="text" [value]='configItem?.value?.value != undefined ? configItem?.value?.value : "" '
                      name="{{configItem.key}}" [(ngModel)]="configItem.value.value" />
                    <textarea rows="3" *ngIf="configItem.value.type.toUpperCase() === 'JSON'" class="textarea is-small" name='configItem.key'
                      [(ngModel)]="configItem.value.value">{{configItem?.value?.value.trim()}}</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="columns">
        <div *ngIf="service != undefined" class="column">
          <div class="box">
            <b>Service Info:</b> &nbsp;	
            <span class="has-text-grey">{{service.protocol}}://{{service.address}}:{{service.management_port}}</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <input id="switchRoundedOutlinedSuccess" type="checkbox" name="switchRoundedOutlinedSuccess" class="switch is-rounded is-outlined is-success"
              checked="checked">
            <label for="switchRoundedOutlinedSuccess"></label>
          </div>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <div class="control">
        <button id="save" type="submit" class="button is-small is-success" form="ngForm">Save</button>
      </div>
      <div class="control">
        <button class="button is-small is-text hidden">Cancel</button>
      </div>
    </footer>
  </div>
</div>