<div id="dropdown-{{index}}" class="dropdown is-left is-hoverable">
  <div class="dropdown-trigger pl-3">
    <a class="button is-small context-menu" aria-haspopup="true" aria-controls="dropdown-menu">
      <span class="icon mt-3">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-600"></i>
      </span>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
    <div class="dropdown-content">
      <a *ngIf="service?.added" class="dropdown-item" (click)="viewLogs(service?.name)">
        <span>View Logs</span>
      </a>
      <a *ngIf="sharedService.checkAuth() && service?.added" class="dropdown-item"
        (click)="openModal('confirmation-dialog')">
        <span>{{ ["shutdown", "disabled"].includes(service.state) ? "Enable" : "Disable" }}</span>
      </a>
      <a *ngIf="sharedService.checkAuth()" class="dropdown-item"
        (click)="openModal('delete-confirmation-dialog')">
        <span>Delete</span>
      </a>
    </div>
  </div>
</div>
