input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0px;
}

input[type="range"]:focus {
  outline: none;
}

.range:not(:hover) + .range-bubble {
  display: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(31, 119, 180, 0.8);
  border-radius: 25px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(31, 119, 180, 0.8);
  border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(31, 119, 180, 0.8);
}

input[type="range"]:focus::-moz-range-track {
  background: rgb(31, 119, 180, 0.8);
}

.range-bubble {
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: rgb(31, 119, 180, 0.8);
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 100%;
  top: 70%;
  transform: translate(-70%, 0);
  border-radius: 6px;
}

.range-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid rgb(31, 119, 180, 0.8);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

#alpha {
  font-size: 0.75rem;
  display: block;
}
