<div class="node-container" (mouseover)="showPluginName = true" (mouseleave)="showPluginName = false">
  <ng-container *ngIf="data.label==='Notification'; else addNotificationTemplate">
    <div class="title" data-testid="title">
      <div class="is-flex is-justify-content-space-between is-align-items-baseline">
        <div class="is-inline-flex is-align-items-baseline">    
          <i [ngClass]="notification.enable ? 'bulb-on': 'has-text-grey-light'" class="fa-regular fa-lightbulb icon-rule pr-1"></i>
          <span class="description-text">
            <span [title]="data.controls?.nameControl?.name">{{data.controls?.nameControl?.name}}</span>
            <p class="onhover-text">
              <span class="help-text pt-1" [hidden]="!showPluginName">{{notification.rule}}</span>
            </p>
          </span>
        </div>
        <div class="is-inline-flex">
          <label class="checkbox">
            <input type="checkbox" [checked]="notification.enable" (click)="toggleState($event)" [disabled]="!rolesService.hasEditPermissions()"/>
          </label>
          <button class="btn btn-icon pt-0" data-show="quickview" data-target="quickviewDefault" data-toggle="quickview"
            (click)="showConfigurationInQuickview()">
            <span class="has-tooltip-bottom has-tooltip-arrow tooltip is-hovered" data-tooltip="Configuration">
              <i class="bi bi-gear-wide-connected bi-sm"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-half">
        <span>
          <i class="is-custom-center bi bi-lightning-charge bi-lg no-hover" [ngClass]="notification.isDeliveryEnabled === 'true' ? 'has-text-info': 'has-text-grey-light'"></i>
        </span>
      </div>
    </div>
    <div class="columns mb-0 is-centered">
      <div class="column is-half">
        <span class="is-hovered has-text-grey-light">
          <span class="is-custom-center onhover-text help-text" [hidden]="!showPluginName">{{notification.channel}}</span>
        </span>
      </div>
    </div>
    <div class="pt-1">
      <div class="is-pulled-left ml-2 icon-margin">
        <span class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-pulled-left is-hovered"
          data-tooltip="Help" (click)="goToLink()">
          <i class="bi bi-question-circle bi-xs"></i>
        </span>
        <span *ngIf="isNotificationNode"
          class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-pulled-left is-hovered help-icon ml-3"
          data-tooltip="Show logs" data-show="quickview" data-target="quickviewDefault" (click)="showLogsInQuickview()">
          <i class="bi bi-file-earmark-text bi-xs"></i>
        </span>     
      </div>
      <div class="is-custom-center">
        <span class="help-text">{{notification.notificationType | titlecase}}</span>
      </div>
      <div class="is-pulled-right">
        <div class="dropdown is-hoverable" *ngIf="rolesService.hasEditPermissions()">
          <div class="dropdown-trigger">
            <button class="button is-white is-small pt-0 pb-0 dropdown-button" aria-haspopup="true"
              aria-controls="dropdown-menu3">
              <span class="icon is-small">
                <i class="fas fa-ellipsis-v fa-xs fa-fw" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div *ngIf="rolesService.hasEditPermissions()" class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a *ngIf="notification.isServiceEnabled" class="dropdown-item" (click)="deleteNotification()">
                <span>Delete</span>
              </a>
              <a class="dropdown-item" (click)="toggleState()">
                <span>{{notification.enable ? 'Disable' : 'Enable'}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #addNotificationTemplate>
    <div class="add-notification" [ngClass]="{'disabled-node': !rolesService.hasEditPermissions() || !notification.isServiceEnabled}">
      <span class="has-tooltip-bottom has-tooltip-arrow tooltip" [ngClass]="rolesService.hasEditPermissions() && notification.isServiceEnabled ? 'is-hovered': 'disabled'" data-tooltip="Add Notification Instance"
        (click)="navToAddNotificationPage()">
        <i class="bi bi-plus-circle plus-icon" aria-hidden="true"></i>
      </span>
    </div>
  </ng-template>
</div>
