<div class="node-container">
  <ng-container *ngIf="data.label==='Notification'; else addNotificationTemplate">
    <div class="title" data-testid="title">
      <div class="is-flex is-justify-content-space-between is-align-items-baseline">
        <div class="is-inline-flex is-align-items-baseline">    
          <span>{{data.controls?.nameControl?.name}}
            <i class="fa-regular fa-lightbulb icon-rule has-text-grey-light" (mouseover)="showRule = true" (mouseleave)="showRule = false"></i>
            <p class="onhover-text">
              <span class="help-text" [hidden]="!showRule">{{notification.rule}}</span>
            </p>
          </span>
        </div>
        <div class="is-inline-flex">
          <button class="btn btn-icon pt-0" data-show="quickview" data-target="quickviewDefault" data-toggle="quickview"
            (click)="showConfigurationInQuickview()">
            <span class="has-tooltip-bottom has-tooltip-arrow tooltip is-hovered" data-tooltip="Configuration">
              <i class="bi bi-gear-wide-connected bi-sm"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="is-flex is-justify-content-center">
        <span class="is-hovered has-text-grey-light">
          <p class="onhover-text">
            <span class="help-text" [hidden]="!showChannel">{{notification.channel}}</span>
          </p>
          <i class="bi bi-lightning-charge bi-lg no-hover pl-3" (mouseover)="showChannel = true" (mouseleave)="showChannel = false"></i>
          <span class="help-text">{{data.controls?.notificationTypeControl?.type}}</span>
        </span>
             
      </div>
    </div>
    <div>
      <div class="is-pulled-left ml-2 icon-margin">
        <span class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-pulled-left is-hovered"
          data-tooltip="Help" (click)="goToLink()">
          <i class="bi bi-question-circle bi-xs"></i>
        </span>
        <span *ngIf="isNotificationNode"
          class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-pulled-left is-hovered help-icon ml-3"
          data-tooltip="Show logs" data-show="quickview" data-target="quickviewDefault" (click)="showLogsInQuickview()">
          <i class="bi bi-file-earmark-text bi-xs"></i>
        </span>
      </div>
      <div class="is-pulled-right">
        <div class="dropdown is-hoverable" *ngIf="!source || rolesService.hasEditPermissions()">
          <div class="dropdown-trigger">
            <button class="button is-white is-small pt-0 pb-0 dropdown-button" aria-haspopup="true"
              aria-controls="dropdown-menu3">
              <span class="icon is-small">
                <i class="fas fa-ellipsis-v fa-xs fa-fw" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <ng-container *ngIf="!source">
              </ng-container>
              <a *ngIf="rolesService.hasEditPermissions()" class="dropdown-item" (click)="deleteNotification()">
                <span>Delete</span>
              </a>
              <a *ngIf="rolesService.hasEditPermissions()" class="dropdown-item" (click)="toggleState()">
                <span>{{isEnabled ? 'Disable' : 'Enable'}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #addNotificationTemplate>
    <div class="add-notification">
      <span class="has-tooltip-bottom has-tooltip-arrow tooltip is-hovered" data-tooltip="Add Notification Instance"
        (click)="navToAddNotificationPage()">
        <i class="bi bi-plus-circle plus-icon" aria-hidden="true"></i>
      </span>
    </div>
  </ng-template>
</div>
