<div class="columns">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
    [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
  </ng-progress>
  <div class="column is-offset-1 is-four-fifths">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Profile
        </p>
      </header>
      <div class="card-content">
        <table class="table scroll is-responsive">
          <thead id="head">
            <tr>
              <th>Name</th>
              <th>Role</th>
            </tr>
          </thead>
          <tr *ngFor="let user of userRecord">
            <td>
              {{user.userName}}
            </td>
            <td>
              {{user.roleName}}
            </td>
            <td>
              <span (click)="openModal(user.userId, '', 'clearSessions', 'Are you sure, You want to clear your all active sessions?')" class="button is-text">logout active sessions</span>
            </td>
          </tr>
        </table>
        <app-modal (logoutAllUserSessionsService)='clearAllSessions($event)' [childData]='childData'></app-modal>
      </div>
    </div>
  </div>
</div>