<div class="columns">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
    [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
  </ng-progress>
  <div class="column is-offset-1 is-four-fifths">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Profile
        </p>
      </header>
      <div class="card-content">
        <div id="edit_profile">
            <div class="columns">
              <div class="column is-6">
                <label class="label">Username</label>
                <p class="control is-fullwidth">
                    <input [disabled]='true' type="text" class="input" placeholder="username" name='username' [(ngModel)]="userRecord.userName"/>
                </p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <label class="label">Role</label>
                <p class="control is-fullwidth">
                    <input [disabled]='true' type="text" class="input" placeholder="role" name='role' [(ngModel)]="userRecord.roleName">
                </p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <a (click)="toggleModal(true)">change password</a>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3">
                <div class="control">
                  <span (click)="openModal(userRecord.userId, '', 'clearSessions', 'Are you sure, You want to clear your all active sessions')"
                    class="button is-warning">Logout Active Sessions</span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal (logoutAllUserSessionsService)='clearAllSessions($event)' [childData]='childData'></app-modal>
<div class="modal" id="user_profile_modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">Reset Password</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <form name="form" (ngSubmit)="f.form.valid && changePassword(f, userRecord.userName)" #f="ngForm" novalidate>
        <div class="columns">
          <div class="column is-6">
            <input type="password" class="input" placeholder="current password" name='currentPassword' [(ngModel)]="userRecord.currentPassword" #currentPassword="ngModel" required/>
          </div>
          <small *ngIf="f.submitted && !currentPassword.valid" class="help is-danger level-left">Wrong password</small>
        </div>
        <div class="columns">
          <div class="column is-6">
            <input type="password" class="input" placeholder="new password" name='password' [(ngModel)]="userRecord.password" #password="ngModel"
              validateEqual="confirmPassword" reverse="true" required />
          </div>
          <small *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required(minium 6 character)</small>
        </div>
        <div class="columns">
          <div class="column is-6">
            <input type="password" class="input" placeholder="confirm password" name='confirmPassword' [(ngModel)]="userRecord.confirmPassword"
              #confirmPassword="ngModel" validateEqual="password" required />
          </div>
          <small *ngIf="f.submitted && !confirmPassword.valid" class="help is-danger level-left">Password mismatch</small>
        </div>
        <div class="columns">
          <div class="column is-3">
            <div class="control">
              <button id="update" type="submit" class="button is-success">Save</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
