<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Values</label>
  </div>
  <div class="field-body">
    <div class="field">
      <ng-container *ngFor="let control of valueControlsList; let i = index">
        <div class="field is-horizontal">
          <div class="field">
            <div class="control">
              <input placeholder="key" class="input is-small" required type="text" #key="ngModel" name="key-{{i}}"
                [ngModel]="parameters.key" (ngModelChange)="setKey(i, $event)">
            </div>
            <div *ngIf="key.invalid && (key.dirty || key.touched)" class="help is-danger">
              <div *ngIf="key.errors?.['required']">
                Key is required.
              </div>
            </div>
          </div>
          &nbsp;
          <div class="field">
            <div class="control">
              <input placeholder="value" class="input is-small" type="text" required #val="ngModel" name="val-{{i}}"
                [ngModel]="parameters.value" (ngModelChange)="setValue(i, $event)">
            </div>
            <div *ngIf="val.invalid && (val.dirty || val.touched)" class="help is-danger">
              <div *ngIf="val.errors?.['required']">
                Value is required.
              </div>
            </div>
          </div>
          &nbsp;
          <div *ngIf="i > 0" class="field">
            <button (click)="deleteControl(i)" class="delete is-small">
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label"></label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button (click)="addValueControl()" class="button is-small is-light like-link is-link">
          <span class="icon is-small">
            <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
          </span>
          <span>Add Value</span>
        </button>
      </div>
    </div>
  </div>
</div>
