<div class="field has-addons button-container">
  <p class="control">
    <button class="button is-small tooltip has-tooltip-bottom has-tooltip-arrow" data-tooltip="Add new item" (click)="addItem()">
      <span class="icon is-small">
        <i class="fas fa-xs fa-plus"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small tooltip has-tooltip-bottom has-tooltip-arrow" data-tooltip="Expand All"
     (click)="expandAllItems()">
      <span class="icon is-small">
        <i class="fas fa-xs fa-angles-up"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small tooltip has-tooltip-bottom has-tooltip-arrow" data-tooltip="Collapse All"
     (click)="collapseAllItems()">
      <span class="icon is-small">
        <i class="fas fa-xs fa-angles-down"></i>
      </span>
    </button>
  </p>
</div>
