<app-confirmation-dialog id="update-task-schedule-dialog" *ngIf="rolesService.hasEditPermissions()">
  <header class="modal-card-head">
    <span class="modal-card-title is-size-6">{{taskSchedule?.name}}</span>
    <button class="delete" aria-label="close" (click)="closeModal('update-task-schedule-dialog')"></button>
  </header>
  <section class="modal-card-body">
    <ng-container>
      <form #f="ngForm">
        <div class="field is-horizontal">
          <div class="field-label has-text-left">
            <label class="label">Exclusive</label>
          </div>
          <div class="field-body">
            <div class="field">
              <input class="checkbox" name="exclusive" type="checkbox" [checked]="taskSchedule.exclusive"
                [(ngModel)]="taskSchedule.exclusive" [disabled]="!rolesService.hasEditPermissions()">
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label has-text-left">
            <label class="label">Interval</label>
          </div>
          <div class="field-body">
            <div class="field">
              <input name="repeatDays" class="input is-small"
                [ngClass]="{'is-static': !rolesService.hasEditPermissions()}" type='number' appNumberOnly min="0"
                max="365" placeholder="days" [(ngModel)]="taskSchedule.repeatDays"
                [readOnly]="!rolesService.hasEditPermissions()">
            </div>
            <div class="field">
              <input #repeatTime="ngModel" class="input is-small"
                [ngClass]="{'is-static': !rolesService.hasEditPermissions()}" name="repeatTime" type="text"
                [pattern]='regExp' placeholder="HH:mm:ss" mask="00:00:00" [(ngModel)]="taskSchedule.repeatTime" required
                (change)="getTimeIntervalValue($event)" [readOnly]="!rolesService.hasEditPermissions()">
              <span *ngIf="repeatTime.invalid" class="help is-danger">
                <sup>*</sup>Repeat hours must be in range 00:00:00 - 23:59:59.
              </span>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-small" (click)="closeModal('update-task-schedule-dialog')">Cancel</button>
    <button class="button is-small is-link" type="button" (click)="updateTaskSchedule(f.value)"
      [appDisableUntilResponse]="reenableButton">Save</button>
  </footer>
</app-confirmation-dialog>