<div class="container is-fluid">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <a routerLink="/developer/python/package/list">Manage Python packages</a>
            <span class="help">View/install Python packages</span>
          </div>
          <div class="column">
            <a routerLink="/developer/manage-services">Configure Additional Services</a>
            <span class="help">
              Add, remove, disable or enable services that can extend the functionality of Fledge.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
