<div class="container is-fluid">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <span>
              <a routerLink="/developer/options/python/package">Manage Python Packages</a>
              <span class="icon pl-4 is-small tooltip has-tooltip-right has-tooltip-arrow tooltip-help is-hovered"
                data-tooltip="Help" (click)="goToLink('importing-python-packages')">
                <i class="far fa-question-circle fa-sm"></i>
              </span>
            </span>
            <span class="help">View or install Python Packages</span>
          </div>
          <div class="column">
            <span>
              <a routerLink="/developer/options/additional-services">Additional Services</a>
              <span class="icon pl-4 is-small tooltip has-tooltip-right has-tooltip-arrow tooltip-help is-hovered"
                data-tooltip="Help" (click)="goToLink('additional-services')">
                <i class="far fa-question-circle fa-sm"></i>
              </span>
            </span>
            <span class="help">
              Add, remove, disable, enable or configure services <br /> that can extend the functionality of Fledge
            </span>
          </div>
          <!-- <div class="column">
            <span>
              <a routerLink="/developer/perfmon">Performance Monitors</a>
              <span class="icon pl-4 is-small tooltip has-tooltip-right has-tooltip-arrow tooltip-help is-hovered"
                data-tooltip="Help" (click)="goToLink('?')">
                <i class="far fa-question-circle fa-sm"></i>
              </span>
            </span>
            <span class="help">
              In-built performance monitoring tool to look into <br /> the performance of Fledge Services
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>