<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div id="north-tasks" class="card-header-title">
        North Instances
        <button *ngIf="!isAlive" (click)="getNorthTasks(true)" class="button is-small" title="Reload"
          id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </div>
      <a *ngIf="rolesService?.hasEditPermissions()" id="add_task" class="button is-light" (click)="addNorthInstance()"
        role="'admin'">
        <p *ngIf="viewPort !== 'mobile'" class="add-btn">Add &nbsp;</p>
        <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <div *ngIf="showSpinner" class="app-loading">
          &nbsp;
          <svg class="spinner" viewBox="0 0 100 100">
            <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </div>
        <ng-container *ngIf="!showSpinner">
          <div class="has-text-centered" *ngIf="tasks != undefined && tasks.length === 0">
            <small class="no-rec">No Record</small>
          </div>
          <ng-container *ngIf="tasks!= undefined && tasks.length > 0">
            <table class="table is-fullwidth scroll is-responsive is-hoverable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th></th>
                  <th>Status</th>
                  <th>Plugin</th>
                  <th>Version</th>
                  <th>Sent</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of tasks" [ngClass]="{'fade': !t.enabled}">
                  <td class="align-content">
                    <a class="button is-text" (click)="openNorthTaskModal(t)">{{t.name}}</a>
                  </td>
                  <td class="align-content">
                    <span *ngIf="t?.processName === 'north_C'" class="tag is-light is-rounded">Service</span>
                  </td>
                  <td>
                    <span *ngIf="t.enabled == true" class="tag is-light is-success">enabled</span>
                    <span *ngIf="t.enabled == false" class="tag is-light">disabled</span>
                  </td>
                  <td>
                    <small>{{t?.plugin?.name}}</small>
                  </td>
                  <td>
                    <small>{{t?.plugin?.version}}</small>
                  </td>
                  <td>
                    <small *ngIf="t.sent >= '0'" class="level-right">{{t.sent | number}}</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-view-logs></app-view-logs>