<div [ngClass]="{'scrollable': listItems.controls?.length > 0}">
  <div class="table-wrapper">
    <div *ngIf="listItems.controls?.length>0" class="button-bar">
      <app-button-panel [isFormValid]="listItems.valid && validConfigurationForm" [isListView]="true"
        (addnewItem)="addListItem()" (importFile)="openModal()" (exportFile)="openExportFileModal()"
        [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length)" />
    </div>
    <div class="virtual-table" [formGroup]="listItemsForm">
      <!-- Table Header -->
      <div class="table-header">
        <div *ngIf="rolesService.hasAccessPermission(configuration?.permissions)" class="cell action-cell"></div>

        <ng-container *ngIf="listType == 'kvlist'">
          <div class="cell tooltip has-tooltip-multiline has-tooltip-arrow has-tooltip-bottom"
            [attr.data-tooltip]="configuration.keyDescription">
            {{ configuration.keyName || 'Key' }}
          </div>
        </ng-container>

        <div *ngFor="let prop of configuration?.properties | keyvalue: originalOrder"
          class="cell tooltip has-tooltip-multiline has-tooltip-arrow has-tooltip-bottom"
          [attr.data-tooltip]="prop.value?.description">
          {{ prop.value?.displayName || prop.key }}
        </div>
      </div>

      <ng-container *ngIf="listItems.controls?.length>0">
        <!-- Virtual Scroll Rows -->
        <cdk-virtual-scroll-viewport itemSize="60" class="viewport"
          [formArrayName]="listType === 'list' ? 'listItems' : 'kvListItems'">

          <div *cdkVirtualFor="let item of listItems.controls; let i = index; trackBy: trackByIndex;" class="table-row"
            [formGroupName]="i" id="table-row-{{configuration.key}}-{{i}}-{{from}}">

            <!-- Trash Icon -->
            <div *ngIf="rolesService.hasAccessPermission(configuration?.permissions)" class="cell action-cell">
              <span class="icon is-small delete-icon" (click)="removeListItem(i)">
                <i class="bi bi-xs bi-trash"></i>
              </span>
            </div>

            <!-- Key/Value Form -->
            <ng-container *ngIf="listType === 'kvlist'; else listTemplate">
              <!-- Key input or static -->
              <div class="cell">
                <ng-container
                  *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticKeyControl">
                  <input formControlName="key" placeholder="key" class="input is-small is-fullwidth" type="text" />
                  <span *ngIf="item?.controls['key']?.invalid" class="help is-danger">
                    <sup>*</sup>required
                  </span>
                </ng-container>
                <ng-template #staticKeyControl>
                  <span class="help">
                    {{ item?.controls['key']?.value }}
                  </span>
                </ng-template>
              </div>

              <!-- Value cells -->
              <div *ngFor="let val of item.controls['value'].controls | keyvalue: originalOrder" class="cell">
                <app-property-configuration [permissions]="configuration?.permissions"
                  [configuration]="configuration.properties[val.key]" [control]="val.value" />
              </div>
            </ng-container>

            <!-- List form (non-keyed) -->
            <ng-template #listTemplate>
              <div *ngFor="let val of item.controls | keyvalue: originalOrder" class="cell">
                <app-property-configuration [permissions]="configuration?.permissions"
                  [configuration]="configuration.properties[val.key]" [control]="val.value" />
              </div>
            </ng-template>
          </div>
        </cdk-virtual-scroll-viewport>
      </ng-container>
    </div>


    <div class="has-text-centered"
      *ngIf="!rolesService.hasAccessPermission(configuration?.permissions) && listItems.controls?.length === 0">
      <small class="no-rec">No Items</small>
    </div>
  </div>
</div>