<div class="custom-viewport" [ngClass]="{'scrollable': listItems.controls?.length > 0}">
  <div class="table-wrapper">
    <div *ngIf="listItems.controls?.length>1" class="button-bar">
      <app-button-panel [isFormValid]="listItems.valid && validConfigurationForm" [isListView]="true"
        (addnewItem)="addListItem()" (importFile)="openModal()" (exportFile)="openExportFileModal()"
        [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length)" />
    </div>
    <table class="table is-responsive is-hoverable mb-0 form-group" [formGroup]="listItemsForm">
      <thead class="sticky-header">
        <tr>
          <th *ngIf="rolesService.hasAccessPermission(configuration?.permissions)"></th>
          <ng-container *ngIf="from=='kvlist'">
            <th class="tooltip has-tooltip-multiline has-tooltip-bottom has-tooltip-arrow"
              [ngClass]="{'has-tooltip-right':listItems.controls?.length <1}"
              [attr.data-tooltip]="configuration.keyDescription">{{configuration.keyName ? configuration.keyName :
              "Key"}}</th>
          </ng-container>
          <th *ngFor="let prop of configuration?.properties | keyvalue: originalOrder;"
            class="tooltip has-tooltip-multiline has-tooltip-bottom has-tooltip-arrow"
            [ngClass]="{'has-tooltip-right':listItems.controls?.length <1}"
            [attr.data-tooltip]="prop.value?.description">{{prop.value?.displayName ||
            prop.key}}</th>
        </tr>
      </thead>
      <tbody [formArrayName]="from=='list'? 'listItems':'kvListItems'">
        <tr *ngFor="let item of listItems.controls; let i = index;" [formGroupName]="i">
          <td *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
            <span class="icon is-small delete-icon" (click)="removeListItem(i)">
              <i class="bi bi-xs bi-trash"></i>
            </span>
          </td>
          <ng-container *ngIf="from=='kvlist';else listTemplate">
            <td>
              <ng-container *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticKeyControl">
                <input formControlName="key" placeholder="key" class="input is-small is-fullwidth" type="text">
                <span *ngIf="item?.controls['key']?.invalid" class="help is-danger">
                  <sup>*</sup>required
                </span>
              </ng-container>
              <ng-template #staticKeyControl>
                <span class="help">
                  {{item?.controls['key']?.value}}
                </span>
              </ng-template>
            </td>
            <td *ngFor="let val of item.controls['value'].controls | keyvalue: originalOrder;">
              <app-property-configuration [permissions]="configuration?.permissions"
                [configuration]="configuration.properties[val.key]" [control]="val.value" />
            </td>
          </ng-container>
          <ng-template #listTemplate>
            <td *ngFor="let val of item.controls | keyvalue: originalOrder;">
              <app-property-configuration [permissions]="configuration?.permissions"
                [configuration]="configuration.properties[val.key]" [control]="val.value" />
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
    <div class="has-text-centered"
      *ngIf="!rolesService.hasAccessPermission(configuration?.permissions) && listItems.controls?.length === 0">
      <small class="no-rec">No Items</small>
    </div>
  </div>
</div>