.sticky-header {
  position: sticky;
  top: 0px;
  background: white;
  z-index: 10;
}

table thead th {
  font-size: 0.825rem !important;
}

.delete-icon {
  visibility: hidden;
}

tr:hover .delete-icon {
  visibility: visible;
}

.custom-viewport {
  max-width: 65vw;
  max-height: 45vh;
  overflow: auto;
}