.kv-column:last-child {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media screen and (min-width: 769px) {
  .field-body {
    flex-grow: 2 !important;
  }
}

.kvlist-divider {
  background-color: #ededed;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0 0 0;
}

.info-icon {
  color: gray;
}