<ng-container *ngIf="configuration.items == 'object' && kvListItems.controls.length>0">
  <div class="is-flex toggle-btn-container">
    <app-toggle-switch (currentView)="setCurrentView($event)" />
  </div>
</ng-container>
<div [formGroup]="kvListItemsForm" class="items-container">
  <div formArrayName="kvListItems">
    <ng-container *ngIf="configuration.items == 'object' && kvListItems.controls.length>1">
      <div class="btn-panel-container is-flex-direction-row-reverse">
        <div class="btn-panel upper-btn-panel">
          <app-button-panel [isFormValid]="kvListItems.valid && validConfigurationForm" [isListView]="isListView"
            (addnewItem)="addListItem(true)" (expandAll)="expandAllItems()" (collapseAll)="collapseAllItems()"
            (importFile)="openModal()" (exportFile)="openExportFileModal()"
            [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != kvListItems.controls.length)" />
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let item of kvListItems.controls; let i=index">
      <ng-container *ngIf="configuration.items != 'object'; else objectTemplate">
        <div>
          <div class="columns mb-0 is-variable is-1" [formGroupName]="i">
            <ng-container *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticView">
              <div class="column is-5">
                <input formControlName="key" placeholder="key" class="input is-small" name="type" type="text">
                <span *ngIf="kvListItems?.controls[i]?.controls['key']?.invalid" class="help is-danger">
                  <sup>*</sup>required
                </span>
              </div>
              <div class="column is-6">
                <input *ngIf="configuration.items == 'integer'" class="input is-small" type="text"
                  formControlName="value" [minValue]="configuration?.minimum" [maxValue]="configuration?.maximum"
                  autocomplete="off" appIntegerOnly>
                <input *ngIf="configuration.items == 'float'" class="input is-small" type="text" formControlName="value"
                  [minValue]="configuration?.minimum" [maxValue]="configuration?.maximum" autocomplete="off"
                  appFloatOnly>
                <input *ngIf="configuration.items == 'string'" class="input is-small" type="text"
                  formControlName="value" [attr.maxLength]="configuration?.length">
                <div *ngIf="configuration.items == 'enumeration'" class="select is-small">
                  <select formControlName="value">
                    <option *ngFor="let option of configuration?.options" [value]="option">
                      {{option}}
                    </option>
                  </select>
                </div>
              </div>
            </ng-container>
            <ng-template #staticView>
              <div class="column is-5">
                <span class="help">
                  {{kvListItems?.controls[i]?.controls['key'].value}}
                </span>
              </div>
              <div class="column is-5">
                <span class="help">{{kvListItems?.controls[i]?.controls['value']?.value}}</span>
              </div>
            </ng-template>
            <div class="column is-1 pl-2 pt-2 my-2 has-text-right"
              *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
              <span class="icon">
                <button class="delete is-small" (click)="removeListItem(i)"></button>
              </span>
            </div>
          </div>
          <div>
            <span *ngIf="kvListItems?.controls[i]?.controls['value']?.hasError('minValue')" class="help is-danger">
              <sup>*</sup>Value should not be less than {{configuration?.minimum}}.
            </span>
            <span *ngIf="kvListItems?.controls[i]?.controls['value']?.hasError('maxValue')" class="help is-danger">
              <sup>*</sup>Value should not be greater than {{configuration?.maximum}}.
            </span>
          </div>
        </div>
      </ng-container>
      <ng-template #objectTemplate>
        <ng-container *ngIf="!isListView">
          <div class="card mt-0 card-shadow" [ngClass]="{'error': item.invalid || items[i].status == false}">
            <header class="card-header has-background-white card-header-shadow is-justify-content-space-between"
              id="card-header-{{configuration.key}}-{{i}}-{{from}}">
              <div class="card-header-title">
                <p class="subtitle is-size-9">{{kvListItems?.controls[i]?.controls['key'].value}}</p>
              </div>
              <div class="btn-container">
                <button class="card-header-icon tooltip has-tooltip-multiline has-tooltip-right has-tooltip-arrow"
                  [attr.data-tooltip]="item.value.value | json" (click)="toggleCard(i)">
                  <span class="icon is-small">
                    <i class="bi bi-three-dots bi-sm" aria-hidden="true"></i>
                  </span>
                </button>
                <button class="card-header-icon" (click)="toggleCard(i)">
                  <span class="icon is-small toogle-icon" title="Expand">
                    <i class="fas fa-2xs fa-angle-right" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </header>
            <div class="card-content is-hidden" id="card-content-{{configuration.key}}-{{i}}-{{from}}">
              <div class="columns mb-0 is-variable is-1" [formGroupName]="i">
                <div class="column mt-2 px-2 pt-2 pb-0 is-10">
                  <div class="field is-horizontal mb-0">
                    <div class="field-label has-text-left">
                      <label
                        class="label tooltip has-tooltip-multiline config-label has-tooltip-right has-tooltip-arrow"
                        [attr.data-tooltip]="configuration.keyDescription"
                        [ngClass]="{'is-inline-block': !rolesService.hasAccessPermission(configuration?.permissions)}">{{configuration.keyName
                        ? configuration.keyName : "Key"}}</label>
                      <span class="ml-1" *ngIf="!rolesService.hasAccessPermission(configuration?.permissions)">
                        <i class="bi bi-xs bi-info-circle info-icon" aria-hidden="true"
                          title="Insufficient privileges to modify this"></i>
                      </span>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="column is-11 p-0">
                          <ng-container
                            *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticKey">
                            <input formControlName="key" placeholder="key" class="input is-small is-fullwidth"
                              name="type" type="text">
                            <span *ngIf="kvListItems?.controls[i]?.controls['key']?.invalid" class="help is-danger">
                              <sup>*</sup>required
                            </span>
                          </ng-container>
                          <ng-template #staticKey>
                            <span class="help">
                              {{kvListItems?.controls[i]?.controls['key']?.value}}
                            </span>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="kvlist-divider">
                  <app-show-configuration [groupConfiguration]="initialProperties[i]"
                    [fullConfiguration]="initialProperties[i]" (event)="getChangedConfiguration(i, $event)"
                    (formStatusEvent)="formStatus($event, i)" [from]="from" [group]="group"></app-show-configuration>
                </div>
                <div class="column is-1 has-text-right"
                  [ngClass]="{'is-invisible': !rolesService.hasAccessPermission(configuration?.permissions)}">
                  <button class="delete my-3 is-small" (click)="removeListItem(i)"></button>
                </div>
                <div class="column is-1 has-text-right">
                  <button class="button is-small my-1 collapse-btn" (click)="toggleCard(i)"
                    [ngClass]="{'is-hidden':item.invalid || items[i].status == false}">
                    <span class="icon is-small toogle-icon" title="Collapse">
                      <i class="fas fa-xs fa-angle-up" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="configuration.items == 'object' && isListView && kvListItems.controls.length>0">
      <app-list-table [configuration]="configuration" [listItemsForm]="kvListItemsForm" [from]="'kvlist'"
        (removeItem)="removeListItem($event)" />
    </ng-container>
    <ng-container *ngIf="configuration.items != 'object'; else objectButtonPanel">
      <ng-container
        *ngIf="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != kvListItems.controls.length)">
        <div class="field">
          <p class="control">
            <button class="button is-small mb-1 px-0 pt-1 is-ghost" (click)="addListItem(false)"
              [disabled]="kvListItems.invalid || !validConfigurationForm">
              <span class="icon is-small mr-0">
                <i class="bi bi-plus bi-sm"></i>
              </span>
              <span>{{kvListItems.controls.length==0 ? 'Add item' : 'Add new item'}}</span>
            </button>
          </p>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #objectButtonPanel>
      <ng-container *ngIf="kvListItems.controls.length<=1; else buttonPanelTemplate">
        <ng-container
          *ngIf="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != kvListItems.controls.length)">
          <div class="field">
            <span class="control">
              <div class="field has-addons">
                <div class="control p-0">
                  <button class="button is-small mb-1 mt-1" (click)="addListItem(false)"
                    [disabled]="kvListItems.invalid || !validConfigurationForm">
                    <span class="icon is-small mr-0">
                      <i class="bi bi-plus bi-sm"></i>
                    </span>
                    <span>{{kvListItems.controls.length==0 ? 'Add item' : 'Add new item'}}</span>
                  </button>
                </div>
                <div class="control p-0">
                  <button class="button is-small mt-1 ml-2" (click)="openModal()">Import</button>
                </div>
                <div [id]="'export-dropdown-' + configuration?.key" class="dropdown control mt-1">
                  <div class="dropdown-trigger">
                    <button class="button is-small small-btn export-btn" aria-haspopup="true"
                      aria-controls="dropdown-menu" (click)=toggleDropdown()>
                      <span class="icon is-small">
                        <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a class="dropdown-item" (click)="openExportFileModal()">Export</a>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #buttonPanelTemplate>
        <div class="btn-panel-container is-flex-direction-row">
          <div class="btn-panel lower-btn-panel">
            <app-button-panel [isFormValid]="kvListItems.valid && validConfigurationForm" [isListView]="isListView"
              (addnewItem)="addListItem(false)" (expandAll)="expandAllItems()" (collapseAll)="collapseAllItems()"
              (importFile)="openModal()" (exportFile)="openExportFileModal()"
              [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != kvListItems.controls.length)" />
          </div>
        </div>
      </ng-template>
    </ng-template>
    <ng-container
      *ngIf="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != kvListItems.controls.length)">
    </ng-container>
  </div>
</div>
<app-file-import-modal (appendFile)="appendFileData($event)" (overrideFile)="overrideFileData($event)"
  [configuration]="configuration" />
<app-file-export-modal [data]="kvlistValues" [configuration]="configuration" [categoryName]="categoryName" />