<ng-container *ngIf="configuration.items == 'object' && kvListItems.controls.length>0">
  <div class="is-flex toggle-btn-container">
    <app-toggle-switch (currentView)="setCurrentView($event)" [isListView]="isListView" />
  </div>
</ng-container>

<div [formGroup]="kvListItemsForm" class="items-container">
  <ng-container *ngIf="configuration.items == 'object' && kvListItems.controls.length>0">
    <div *ngIf="!isListView" class="btn-panel-container is-flex-direction-row-reverse">
      <div class="btn-panel upper-btn-panel">
        <app-button-panel [isFormValid]="kvListItems.valid && validConfigurationForm" [isListView]="isListView"
          (addnewItem)="addListItem(true)" (expandAll)="expandCollapseAllItems(true)"
          (collapseAll)="expandCollapseAllItems(false)" (importFile)="openModal()" (exportFile)="openExportFileModal()"
          [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != kvListItems.controls.length)" />
      </div>
    </div>
  </ng-container>

  <!-- Show items even if not many for debugging -->
  <div *ngIf="!kvListItems.length && !isLoadingMore" class="has-text-centered p-5">
    <p>No key-value pairs to display</p>
    <div class="field is-grouped is-grouped-centered mt-4">
      <!-- Add first item button -->
      <div class="control">
        <button class="button is-small" (click)="addListItem(false)"
          *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
          Add first item
        </button>
      </div>

      <!-- Import button -->
      <div class="control">
        <button class="button is-small" (click)="openModal()"
          *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
          Import
        </button>
      </div>
    </div>
  </div>

  <!-- Always show content, remove virtual scrolling temporarily to debug -->
  <div *ngIf="kvListItems.length > 0" class="content-container">
    <ng-container *ngIf="configuration.items !== 'object'; else objectTemplate">
      <form [formGroup]="kvListItemsForm">
        <div formArrayName="kvListItems">
          <!-- Simple rendering for debugging - show all items -->
          <div *ngFor="let ctrl of kvListItems.controls; let i = index; trackBy: trackByIndex" class="kv-item mb-3"
            [formGroupName]="i">
            <div class="field">
              <div class="columns is-flex is-vcentered">
                <div class="column is-5">
                  <ng-container
                    *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticKeyView">
                    <input class="input is-small" type="text" formControlName="key" placeholder="Key"
                      autocomplete="off" />
                  </ng-container>
                  <ng-template #staticKeyView>
                    <span class="help">{{ ctrl.get('key')?.value || 'No key' }}</span>
                  </ng-template>
                </div>
                <div class="column is-6">
                  <ng-container
                    *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticValueView">
                    <input *ngIf="configuration.items === 'integer'" class="input is-small" type="text"
                      formControlName="value" autocomplete="off" appIntegerOnly />
                    <input *ngIf="configuration.items === 'float'" class="input is-small" type="text"
                      formControlName="value" autocomplete="off" appFloatOnly />
                    <input *ngIf="configuration.items === 'string' || !configuration.items" class="input is-small"
                      type="text" formControlName="value" placeholder="Value" />
                  </ng-container>
                  <ng-template #staticValueView>
                    <span class="help">{{ ctrl.get('value')?.value || 'No value' }}</span>
                  </ng-template>
                </div>
                <div class="column is-1" *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
                  <button class="delete my-1 is-small" (click)="removeListItem(i)"></button>
                </div>
              </div>
              <div *ngIf="ctrl.get('key')?.hasError('required')" class="help is-danger">
                <sup>*</sup>Key is required.
              </div>
              <div *ngIf="ctrl.get('value')?.hasError('required')" class="help is-danger">
                <sup>*</sup>Value is required.
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-template #objectTemplate>
      <ng-container *ngIf="!isListView">
        <div class="scrollable">
          <app-kvlist-card *ngFor="let ctrl of kvListItems.controls; let i = index; trackBy: trackByIndex"
            [configuration]="configuration" [listItemsForm]="kvListItemsForm" [initialProperties]="initialProperties"
            [from]="from" [group]="group" [items]="items" [item]="ctrl" [index]="i"
            (changedConfiguration)="getChangedConfiguration(i, $event)" (formState)="formStatus($event, i)"
            (removeItem)="removeListItem($event)">
          </app-kvlist-card>
        </div>
      </ng-container>

      <ng-container *ngIf="isListView">
        <div class="btn-panel-container is-flex-direction-row-reverse">
          <div class="btn-panel upper-btn-panel">
            <app-button-panel [isFormValid]="kvListItems.valid && validConfigurationForm" [isListView]="isListView"
              (addnewItem)="addListItem(true)" (expandAll)="expandAllItems()" (collapseAll)="collapseAllItems()"
              (importFile)="openModal()" (exportFile)="openExportFileModal()"
              [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != kvListItems.controls.length)" />
          </div>
        </div>

        <app-list-table [configuration]="configuration" [listItemsForm]="kvListItemsForm"
          [initialProperties]="initialProperties" [from]="from" [group]="group" [items]="items" [listType]="'kvlist'"
          [validConfigurationForm]="validConfigurationForm"
          (changedConfiguration)="getChangedConfiguration($event.index, $event.data)"
          (formState)="formStatus($event, $event.index)" (removeItem)="removeListItem($event)"
          (addItem)="addListItem($event)" (openModalEvent)="openModal()" (exportFile)="openExportFileModal()">
        </app-list-table>
      </ng-container>
    </ng-template>
  </div>

  <!-- Add button panel at bottom for simple items -->
  <ng-container *ngIf="configuration.items !== 'object'">
    <div class="btn-panel-container is-flex-direction-row-reverse mt-3">
      <div class="btn-panel">
        <app-button-panel [isFormValid]="kvListItems.valid" [isListView]="true" (addnewItem)="addListItem(false)"
          (importFile)="openModal()" (exportFile)="openExportFileModal()"
          [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions)" />
      </div>
    </div>
  </ng-container>
</div>

<!-- Import/Export Modals -->
<app-file-import-modal #fileImportModal [configuration]="configuration" (appendFile)="onAppendFile($event)"
  (overrideFile)="onOverrideFile($event)">
</app-file-import-modal>

<app-file-export-modal #fileExportModal [configuration]="configuration" [data]="exportData"
  [categoryName]="categoryName">
</app-file-export-modal>