.fa::before {
    display: inline-block;
}

.tabs {
    position: relative;
}

.columns {
    margin-top: 10px;
}

.column {
    padding-top: 0px;
}

.context-menu {
    border: none;
}

.user-col {
    vertical-align: middle;
}

.context-menu:hover {
    background-color: lightgrey
}

@media only screen and (min-width: 1024px) {
    .user-table, .card-data {
        overflow: visible;
    }
}

.tags-groups {
    white-space: nowrap;
}

.desc-col {
    max-width: 18rem;
}
