<div class="container is-fluid">
  <div class="card">
    <header>
      <div class="tabs">
        <ul>
          <li [ngClass]="{'is-active': selectedTab == 1}">
            <h6 class="is-6 has-text-weight-semibold">
              <a (click)="showDiv(1)">User Management</a>
            </h6>
          </li>
          <li [ngClass]="{'is-active': selectedTab == 2}">
            <h6 class="is-6 has-text-weight-semibold">
              <a (click)="showDiv(2)">Roles</a>
            </h6>
          </li>
          <li class="action-items">
            <div class="columns is-vcentered m-0 p-0">
              <div *ngIf="selectedTab == 1" class="column is-narrow px-0">
                <a type="button" (click)="getUsers()" class="button is-small" title="Reload" id="refresh-check">
                  <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
                </a>
              </div>
              <div class="column is-narrow px-0">
                <a id="add-user" class="is-light pl-0" (click)="openCreateUserModal()">
                  <p *ngIf="viewPort !== 'mobile'" class="add-btn">&nbsp; Add User &nbsp;</p>
                  <i class="bi bi-person-plus bi-sm" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <div class="card-content card-data">
      <div *ngIf="selectedTab == 1" id="user-management" #management>
        <div class="is-responsive">
          <table class="table is-hoverable user-table">
            <thead id="head">
              <tr>
                <th></th>
                <th class="px-0">Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Authentication Method</th>
                <th>Description</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userRecord; let i = index;">
                <td class="pr-1">
                  <span
                    [title]="'User blocked temporarily ' + user.blockUntil + ', due to multiple login attempts with invalid credentials.'">
                    <i *ngIf="user?.blockUntil" class="bi bi-person-lock has-text-danger" aria-hidden="true"></i>
                  </span>
                </td>
                <td class="px-0">
                  {{user.realName}}
                </td>
                <td>
                  {{user.userName}}
                </td>
                <td>
                  {{user.roleName}}
                </td>
                <td>{{getAccessMethod(user.accessMethod)}}</td>
                <td class="desc-col desc-text">{{user.description}}</td>
                <td class="tags-groups">
                  <span *ngIf='user.userId == 1' class="tag is-rounded">super admin</span>&nbsp;
                  <span *ngIf='user.userId == uid' class="tag is-rounded">active</span>
                </td>
                <td>
                  <div id="dropdown-{{i}}" class="dropdown is-left" *ngIf="user.userId != uid && user.userId != 1">
                    <div class="dropdown-trigger">
                      <a class="button is-small context-menu" aria-haspopup="true" aria-controls="dropdown-menu"
                        (click)="toggleDropdown(i)">
                        <span class="icon is-small">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-600"></i>
                        </span>
                      </a>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a class="dropdown-item" (click)="openUpdateUserModal(user, 'auth')">
                          <i class="bi bi-pen bi-xs" aria-hidden="true"></i>
                          Edit
                        </a>
                        <a class="dropdown-item" (click)="openUpdateUserModal(user, 'role')">
                          <i class="bi bi-person-gear bi-xs" aria-hidden="true"></i>
                          Change Role
                        </a>
                        <a class="dropdown-item" (click)="openUpdateUserModal(user, 'password')">
                          <i class="bi bi-key bi-xs" aria-hidden="true"></i>
                          Reset Password
                        </a>
                        <a *ngIf="user?.blockUntil" class="dropdown-item"
                          (click)="openModal(user.userId, user.userName, 'unblockUser', 'Are you sure, You want to unblock the user')">
                          <i class="bi bi-unlock bi-xs" aria-hidden="true"></i>
                          Unblock
                        </a>
                        <a class="dropdown-item"
                          (click)="openModal(user.userId, user.userName, 'deactivateUser', 'Are you sure, You want to deactivate the user')">
                          <i class="bi bi-trash bi-xs" aria-hidden="true"></i>
                          Deactivate
                        </a>
                        <!-- TODO: FOGL-5381
                      <a class="dropdown-item" (click)="openModal(user.userId, user.userName, 'enableUser', 'Are you sure, You want to enable the user')">
                        <i class="far fa-check-circle fa-fw fa-sm" aria-hidden="true"></i>
                        enable
                      </a> -->
                        <a class="dropdown-item"
                          (click)="openModal(user.userId, user.userName, 'clearSessions', 'Are you sure, You want to clear all active sessions for')">
                          <i class="bi bi-box-arrow-right bi-xs" aria-hidden="true"></i>
                          Log out active sessions
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="selectedTab == 2">
        <table class="table scroll is-responsive">
          <thead>
            <tr>
              <th>ID</th>
              <th>Role</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{role.id}}</td>
              <td>{{setRoleName(role.id)}}</td>
              <td class="desc-text">{{role.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-alert-dialog (userActionService)="action($event)" [childData]='childData'></app-alert-dialog>
  <app-create-user [userRoles]="roles" (notify)='onNotify()'></app-create-user>
  <app-update-user [userRoles]="roles" (notify)='onNotify()'></app-update-user>
</div>