<div class="columns">
  <div class="column is-offset-1 is-four-fifths">
    <div class="card">
      <header>
        <div class="tabs">
          <ul>
            <li [ngClass]="{'is-active': seletedTab == 1}">
              <h6 class="is-6 has-text-weight-semibold">
                <a (click)="showDiv(1)">User Management</a>
              </h6>
            </li>
            <li [ngClass]="{'is-active': seletedTab == 2}">
              <h6 class="is-6 has-text-weight-semibold">
                <a (click)="showDiv(2)">Roles</a>
              </h6>
            </li>
          </ul>
          <div>
            <a class="is-light" (click)="openCreateUserModal()">
              <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Add User&nbsp;
            </a>
          </div>
        </div>
      </header>
      <div class="card-content">
        <div *ngIf="seletedTab == 1" id="user-management" #management>
          <table class="table scroll is-responsive">
            <thead id="head">
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tr *ngFor="let user of userRecord">
              <td style="vertical-align: middle;">{{user.userId}}</td>
              <td style="vertical-align: middle;">
                {{user.userName}}
              </td>
              <td style="vertical-align: middle;">
                {{user.roleName}}
              </td>
              <td>
                <ng-container *ngIf='user.userId != uid && user.userId != 1'>
                  <a (click)="openUpdateUserModal(user, 'role')" class="button is-text">
                    change role
                  </a>
                </ng-container>
                <span *ngIf='user.userId == 1' class="tag is-rounded">super admin</span>
                <span *ngIf='user.userId == uid' class="tag is-rounded">active</span>
              </td>
              <td>
                <ng-container *ngIf='user.userId != uid && user.userId != 1'>
                  <a (click)="openUpdateUserModal(user, 'password')" class="button is-text">
                    reset password
                  </a>
                </ng-container>
              </td>
              <td>
                <ng-container *ngIf='user.userId != uid && user.userId != 1'>
                  <a (click)="openModal(user.userId, user.userName, 'deleteUser', 'Are you sure, you want to delete the user')"
                    class="button is-text">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                  </a>
                </ng-container>
              </td>
              <td>
                <span *ngIf='user.userId != uid && user.userId != 1' (click)="openModal(user.userId, user.userName, 'clearSessions', 'Are you sure, you want to clear all active sessions for')"
                  class="button is-text">logout active sessions</span>
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="seletedTab == 2">
          <table class="table scroll is-responsive">
            <thead>
              <tr>
                <th>ID</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of roles">
                <td>{{role.id}}</td>
                <td>{{role.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-alert-dialog (deleteUserService)='deleteUser($event)' (logoutAllUserSessionsService)='clearAllSessions($event)'
    [childData]='childData'></app-alert-dialog>
  <app-create-user (notify)='onNotify()'></app-create-user>
  <app-update-user (notify)='onNotify()'></app-update-user>
</div>