<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Service</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input is-small name-control" type="text" placeholder="Name" [(ngModel)]="config.value.service"
          (ngModelChange)="getValue($event)">
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Values</label>
  </div>
  <div class="field-body">
    <div class="field">
      <ng-container *ngFor="let c of config?.value?.values|keyvalue">
        <div class="field is-horizontal">
          <div class="field">
            <div class="control">
              <input class="input is-small" type="text" [ngModel]="c.key" (ngModelChange)="updateKey(c.key,$event)">
            </div>
          </div>
          &nbsp;
          <div class="field">
            <div class="control">
              <input class="input is-small" type="text" [ngModel]="c.value"
                (ngModelChange)="updateValue(c.key, $event)">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Condition</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="field is-horizontal">
        <ng-container *ngFor="let c of config?.value?.condition|keyvalue: returnZero">
          <div class="field">
            <div class="control" *ngIf="c?.key==='key'">
              <input placeholder="key" class="input is-small" type="text" [ngModel]="c.value"
                (ngModelChange)="updateCondition(c.key, $event)">
            </div>
            <div class="control" *ngIf="c?.key==='value'">
              <input placeholder="value" class="input is-small" type="text" [(ngModel)]="c.value"
                (ngModelChange)="updateCondition(c.key, $event)">
            </div>
            <div class="control" *ngIf="c?.key==='condition'">
              <div id="condition-dropdown" class="dropdown is-left">
                <div class="dropdown-trigger">
                  <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu"
                    (click)=toggleDropDown()>
                    <span>{{c?.value}}</span>
                    <span class="icon is-small">
                      <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a (click)="setCondition(condition)" *ngFor="let condition of conditions"
                      class="dropdown-item">{{condition}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          &nbsp;
        </ng-container>
      </div>
    </div>
  </div>
</div>
