<div class="dropdown is-right is-hoverable">
    <div class="dropdown-trigger">
      <a aria-haspopup="true" aria-controls="dropdown-menu" title="Updates">
        <span class="icon icon-badge-container">
          <i class="fa-regular fa-bell" aria-hidden="true"></i>
          <div class="icon-badge">{{alertCount}}</div>
        </span>
      </a>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a class="dropdown-item update-dropdown-item">
          <span>
            <!-- Show alerts -->
          </span>
        </a>
      </div>
    </div>
</div>

