tr:hover .btn-delete {
  opacity: 1;
}

.is-hoverable {
  cursor: pointer !important;
}


.btn-delete {
  border-color: transparent !important;
  opacity: 0;
}

.button.is-light {
  background-color: transparent !important
}

.is-hovered {
  cursor: pointer !important;
}

.btn-margin {
  margin: 17px 7px;
}

.fix-margin {
  margin-top: 6px;
}
