tr:hover .btn-delete {
  opacity: 1;
}

.is-hoverable {
  cursor: pointer !important;
}

.btn-delete {
  border-color: transparent !important;
  opacity: 0;
}

.dropdown-trigger .button.is-light {
  background-color: transparent !important
}