<div id="dropdown" class="dropdown is-right" id="system-alert-dd">
  <div class="dropdown-trigger">
    <a class="button is-small system-alert" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleDropdown()">
      <span class="icon icon-badge-container">
        <i class="bi bi-bell bi-lg" aria-hidden="true"></i>
        <div class="icon-badge">{{alertCount}}</div>
      </span>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <ng-container *ngFor="let alert of systemAlerts; let i=index;">
        <div class="columns dropdown-item pb-0">
          <a class="column is-vertical-center is-1">
            <i [ngClass]="applyClass(alert?.urgency)" class="bi bi bi-exclamation-triangle"></i>          
          </a>
          <div class="column">
            <div class="message-text">
              {{alert.message}}
            </div>
          </div>
        </div>
        <div class="columns mb-0 mr-1">
          <!-- TODO: Show timestamp -->
          <!-- <div class="column is-1">
          </div>
          <div class="column is-pulled-right">
            <span class="help">1 m ago</span>
          </div> -->
          <div class="column pt-0 pb-0" *ngIf="rolesService.hasEditPermissions()">
            <div class="field is-grouped is-pulled-right">          
              <p class="control">
                <button class="button is-tiny is-outlined is-link" (click)="performAction(alert)">{{getButtonText(alert?.message)}}</button>
              </p>
              <p class="control">
                <button class="button is-tiny" (click)="deleteAlert(alert?.key)" [appDisableUntilResponse]="reenableButton">Hide</button>
              </p>
            </div>
          </div>
        </div>
        <hr *ngIf="i !== (systemAlerts.length -1)" class="dropdown-divider">
      </ng-container>
    </div>
  </div>
</div>

