<!-- <div class="dropdown is-right is-hoverable">
    <div class="dropdown-trigger">
      <a aria-haspopup="true" aria-controls="dropdown-menu" title="Updates">
        <span class="icon icon-badge-container">
          <i class="fa-regular fa-bell" aria-hidden="true"></i>
          <div class="icon-badge">{{alertCount}}</div>
        </span>
      </a>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a class="dropdown-item update-dropdown-item">
          <span>
            
          </span>
        </a>
      </div>
    </div>
  </div> -->

<div id="dropdown" class="dropdown is-left">
  <div class="dropdown-trigger">
    <a class="button is-small context-menu" aria-haspopup="true" aria-controls="dropdown-menu">
      <span class="icon icon-badge-container">
        <i class="fa-regular fa-bell" aria-hidden="true"></i>
        <div class="icon-badge">{{alertCount}}</div>
      </span>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item">
        <i class="bi bi-pen bi-xs" aria-hidden="true"></i>
        Edit
      </a>
      <a class="dropdown-item">
        <i class="bi bi-person-gear bi-xs" aria-hidden="true"></i>
        Change Role
      </a>
      <a class="dropdown-item">
        <i class="bi bi-key bi-xs" aria-hidden="true"></i>
        Reset Password
      </a>
    </div>
  </div>
</div>

