<div id="dropdown" class="dropdown is-right" id="system-alert-dd">
  <div class="dropdown-trigger">
    <a class="button is-small system-alert" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleDropdown()">
      <span class="icon icon-badge-container">
        <i class="fa-regular fa-bell" aria-hidden="true"></i>
        <div class="icon-badge">{{alertCount}}</div>
      </span>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a *ngFor="let alert of systemAlerts" class="dropdown-item">
        <i [ngClass]="applyClass(s?.urgency)" class="bi bi-exclamation-triangle"></i>
        {{alert.message}}
      </a>
    </div>
  </div>
</div>

