.add-branch {
height: 0;
width: 0;
position: absolute;
margin-left: 5px;
margin-top: -5px;
cursor: pointer;
margin: 0px !important;
padding: 0px !important;
border-radius: 0px !important;
border: none !important;
background: none !important;
outline: none !important;
color:  gray;
}

.borderless-btn {
height: 0;
width: 0;
cursor: pointer;
margin: 0px !important;
padding: 0px !important;
border-radius: 0px !important;
border: none !important;
background: none !important;
outline: none !important;
}


.root-node {
position: absolute;
height: 0px !important;
margin: 4px 0px 0px -10px;
cursor: pointer;
padding: 0px 0px 10px 0px; 
border-radius: 0px !important;
border: none !important;
background: none !important;
color:  lightgray;
z-index: 5;
outline: none !important;
}

.remove-node {
  cursor: pointer;
}
.area {
  width: 100%; 
}
#dropZone {
  margin: 5px 6px 0px 10px;
  border: 1px dashed #bbb;
  -webkit-border-radius: 3px;
  border-radius: 1px;
  padding: 5px;
  text-align: left;
  color: #bbb;
}


.cdk-drag-placeholder {
    display: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

    background: #fff;
    opacity: 0.3;
}

.drop-inside {
    border: 1px solid black;
}

.drop-before {
    border-top: 1px solid black;
}

.drop-after {
    border-bottom: 1px solid black;
}

.node-title {
  margin: 8px;
  background:whitesmoke;
  cursor: grab;
}

.node-children {
    position: relative;
    transition: height 0.2s;
    margin-left: 40px;
}
.item-notes { 
  margin-left:20px;
  color:#aaa;
 }