<div class="app-navbar">
    <app-navbar (toggle)="toggleSidebar()"></app-navbar>
</div>
<ng-sidebar-container>
    <ng-sidebar *ngIf="!isLoginView" #sidebar [(opened)]="_opened" sidebarClass="column is-2 sidebar">
        <app-side-menu (toggle)="toggleSidebar()"></app-side-menu>
    </ng-sidebar>
    <div ng-sidebar-content [ngClass]="{'column is-offset-2 is-10 fixed-overflow':!isLoginView}">
        <app-alert></app-alert>
        <app-progress-bar></app-progress-bar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</ng-sidebar-container>
