<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
  [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
</ng-progress>
<div class="steps" id="stepsDemo">
  <div class="step-item is-active is-success" id="1">
    <div class="step-marker">1</div>
    <div class="step-details">
      <p>Service Name &amp; Direction</p>
    </div>
  </div>
  <div class="step-item" id="2">
    <div class="step-marker">2</div>
    <div class="step-details">
      <p>Choose Plugin</p>
    </div>
  </div>
  <div class="step-item" id="3">
    <div class="step-marker">3</div>
    <div class="step-details">
      <p>Review Configuration</p>
    </div>
  </div>
  <div class="step-item" id="4">
    <div class="step-marker">4</div>
    <div class="step-details">
      <p>Start Service</p>
    </div>
  </div>
  <div class="steps-content">
    <form [formGroup]="serviceForm" validate>
      <div class="box step-content  is-active" id="c-1">
        <div class="field is-horizontal form-group">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" id="name" type="text" placeholder="name" formControlName="name" required (input)="validateServiceName($event)">
                <small *ngIf="!isValidName" class="help is-danger level-left">Service name is required</small>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal form-group">
          <div class="field-label is-normal">
            <label class="label">Direction</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="type" formControlName="type">
                    <option value='north'>North</option>
                    <option value='south'>South</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box step-content has-text-centered" id="c-2">
        <div class="field is-horizontal form-group">
          <div class="field-label is-normal">
            <label class="label">Plugin</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="type" formControlName="plugin" (change)="validatePluginValue($event)" required>
                    <option value='select' disabled>Select</option>
                    <option *ngFor="let p of plugins" [value]="p.name"> {{ p.name }}</option>
                  </select>
                </div>
                <small *ngIf="!isValidPlugin" class="help is-danger level-left">Please select a valid plugin</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box step-content" id="c-3">
        <div *ngIf="isServiceAdded">
          <app-view-config-item [categoryConfigurationData]="configurationData"></app-view-config-item>
        </div>
        <p *ngIf="!isServiceAdded" [ngClass]="{'has-text-centered': '!isServiceAdded'}" class="has-text-weight-bold">
          <span class="tag is-danger">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </span> {{addServiceMsg}}
        </p>
      </div>

      <div class="box step-content has-text-centered" id="c-4">
        <p *ngIf="isServiceEnabled" [ngClass]="{'has-text-centered': '!isServiceEnabled'}" class="has-text-weight-bold">
          <span class="tag is-success">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          </span> {{ enableServiceMsg }}
        </p>

        <p *ngIf="!isServiceEnabled && enableServiceMsg != ''" class="has-text-weight-bold">
          <span class="tag is-danger">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </span> {{ enableServiceMsg }}
        </p>
      </div>
    </form>
  </div>
  <div class="steps-actions">
    <div class="steps-action">
      <button (click)="movePrevious()" data-nav="previous" class="button is-text" id="previous" disabled>Previous</button>
    </div>
    <div class="steps-action">
      <button (click)="moveNext()" data-nav="next" class="button is-text" id="next">Next</button>
    </div>
  </div>
</div>
