  .field-body .field {
    margin-bottom: 5px;
  }

  .cursor-default {
    cursor: default !important;
  }

  .cursor-move {
    cursor: move !important;
  }

  .cdk-drag {
    margin-bottom: 5px;
  }

  div.close-btn {
    padding: 0 0 0 8px !important;
  }

  #refresh-check {
    margin-left: 3px;
  }

  .field-label {
    text-align: left;
  }

  .is-static {
    padding-top: 0px !important;
  }

  .name-field {
    height: inherit;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .accordion.card:last-child {
    border: none;
  }

  .filter-list.cdk-drop-list-dragging .accordion.card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .btn-delete {
    border: transparent !important;
  }

  .control-pad {
    padding-left: 18px;
  }

  .breadcrumb {
    margin-bottom: 0px !important;
  }

  .disabled {
    opacity: .7;
    pointer-events: none;
  }

  .filters {
    padding-top: 0;
  }

  .disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: underline !important;
  }

  .footer-padding {
    padding-top: 1rem;
  }

  .static-field {
    padding: 3px 0px 0px 0px !important;
    height: 0%;
    vertical-align: inherit !important;
  }

  .filter-row {
    margin-bottom: 0;
  }

  .accordion.card {
    margin: 0% !important;
  }

  ::ng-deep .ng-select .ng-select-container,
  ::ng-deep .ng-select.ng-select .ng-select-container {
    height: 30px !important;
    font-size: 0.8em;
    min-height: 28px !important;
  }

  ::ng-deep ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
    color: #848181 !important;
    font-size: 0.8rem !important;
    max-height: 200px !important;
  }

  .step-content {
    overflow: inherit !important;
  }

  .icon-row {
    margin-top: 9px !important;
  }

  .add-filter-div {
    cursor: not-allowed;
  }