.context-menu {
  border: none;
}

.dropdown-content {
 max-width: max-content !important;
}

.is-disable{
  pointer-events: none;
  opacity: .65;
  }

  .dropdown {
    width: auto !important;
  }

  pre {
    white-space: pre-wrap;
  }
