<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <button class="button pagination-previous" (click)="onPrev()" [disabled]="page === 1">{{ page ==1 ? '': page-1 }}&nbsp;<i class="fa fa-caret-left" aria-hidden="true"></i></button>
  <button class="button pagination-next" (click)="onNext()" [disabled]="lastPage()"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; {{ page == totalPage ? '' : page + 1 }}</button>  
  <ul class="pagination-list is-center" *ngIf="totalPage != 1">
    <li><a class="{{(page === 1) ? 'button is-primary' : 'pagination-link'}}" (click)="onFirst()">1</a></li>
    <li [hidden]='middlePg == 0'><span class="pagination-ellipsis">&hellip;</span></li>
    <li [hidden]='middlePg == 0'><a class="{{(page === middlePg) ? 'button is-primary' : 'pagination-link'}}" (click)="onPage(middlePg)">{{middlePg}}</a></li>
    <li [hidden]='middlePg == 0'><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="{{(page === totalPage) ? 'button is-primary' : 'pagination-link'}}" (click)="onLast()">{{totalPage}}</a></li>
  </ul>
</nav>   