<div>
  <div class="navbar-item">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li *ngIf="from=='south'"><a [routerLink]="['/flow/editor/south']">South</a>
        </li>
        <li *ngIf="from=='north'"><a [routerLink]="['/flow/editor/north']">North</a>
        </li>
        <!-- <li [ngClass]="{'is-active' : !source || !isAddFilterWizard}" *ngIf="source">
          <a [routerLink]="['/south/flow']">
            {{source ? source : 'Add'}}
          </a>
        </li> -->
        <li class="is-active" *ngIf="source  && isAddFilterWizard">
          <a href="#" aria-current="page">
            Add Filter
          </a>
        </li>
      </ul>
    </nav>
    <ng-container *ngIf="source && rolesService.hasEditPermissions() && !isAddFilterWizard">
      <button class="button is-small is-link" (click)="save()">Save</button>
    </ng-container>
  </div>
  <ng-container *ngIf="!isAddFilterWizard">
    <div class="rete" #rete></div>
  </ng-container>
  <ng-contafiner *ngIf="source && isAddFilterWizard">
    <div class="box animated slideInRight">
      <app-add-filter-wizard (notify)="onNotify($event)" [serviceName]="source" [from]="from"></app-add-filter-wizard>
    </div>
  </ng-contafiner>
  <!-- Quick View -->
  <app-quickview>
    <ng-container *ngIf="showPluginConfiguration">
      <app-configuration-group *ngIf="category" [category]="category" [from]="'south'" [sourceName]="serviceName"
        (changedConfigEvent)="getChangedConfig($event)"
        (changedAdvanceConfigEvent)="getChangedAdvanceConfiguration($event)"
        (formStatusEvent)="validConfigurationForm = $event"></app-configuration-group>
      <div class="columns" *ngIf="rolesService.hasEditPermissions()">
        <div class="column">
          <div class="field is-grouped is-pulled-right">
            <p class="control">
              <button [disabled]="checkFormState()" [appDisableUntilResponse]="reenableButton"
                class="button is-small is-link" (click)="saveConfiguration()">Save</button>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="showFilterConfiguration">
      <app-configuration-group *ngIf="filterCategory" [category]="filterCategory" [sourceName]="quickviewFilterName"
        [categoryType]="'filter'" (changedConfigEvent)="getChangedFilterConfig($event)"
        (formStatusEvent)="validFilterConfigForm = $event">
      </app-configuration-group>
      <div class="columns" *ngIf="rolesService.hasEditPermissions()">
        <div class="column">
          <div class="field is-grouped is-pulled-right">
            <p class="control">
              <button [disabled]="checkFilterFormState()" [appDisableUntilResponse]="reenableButton"
                class="button is-small is-link" (click)="saveFilterConfiguration()">Save</button>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="showLogs">
      <app-system-log [sourceName]="serviceName"></app-system-log>
    </ng-container>
  </app-quickview>
</div>

<app-confirmation-dialog id="delete-service-dialog" *ngIf="rolesService.hasEditPermissions()">
  <header class="modal-card-head">
    <span class="modal-card-title is-size-6">Delete Service</span>
    <button class="delete" aria-label="close" (click)="closeModal('delete-service-dialog')"></button>
  </header>
  <section class="modal-card-body">
    Deleting {{deleteServiceName}} service can not be undone. Continue?
  </section>
  <footer class="modal-card-foot">
    <button class="button is-small" (click)="closeModal('delete-service-dialog')">Cancel</button>
    <button class="button is-small is-danger" (click)="deleteService()"
      [appDisableUntilResponse]="reenableButton">Delete</button>
  </footer>
</app-confirmation-dialog>

<app-confirmation-dialog id="delete-filter-dialog" *ngIf="rolesService.hasEditPermissions()">
  <header class="modal-card-head">
    <span class="modal-card-title is-size-6">Delete Filter</span>
    <button class="delete" aria-label="close" (click)="closeModal('delete-filter-dialog')"></button>
  </header>
  <section class="modal-card-body">
    Deleting {{filterName}} filter can not be undone. Continue?
  </section>
  <footer class="modal-card-foot">
    <button class="button is-small" (click)="closeModal('delete-filter-dialog')">Cancel</button>
    <button class="button is-small is-danger" (click)="deleteFilterFromPipeline()"
      [appDisableUntilResponse]="reenableButton">Delete</button>
  </footer>
</app-confirmation-dialog>