<div>
    <div class="navbar-item" *ngIf="source!=='nodelist'">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a [routerLink]="['/south/flow']" [queryParams]="{ source: 'nodelist' }">South</a></li>
                <li class="is-active">
                    <a href="#" aria-current="page">
                        {{source ? source : 'Add'}}
                    </a>
                </li>
            </ul>
        </nav>
        <ng-container *ngIf="source && rolesService.hasEditPermissions()">
            <button class="button is-small is-link" (click)="save()">Save</button>
        </ng-container>
    </div>
    <div class="rete" #rete></div>
    <app-quickview>
        <ng-container *ngIf="showPluginConfiguration">
            <app-configuration-group *ngIf="category" [category]="category" [from]="'south'"
                [sourceName]="serviceName" 
                (changedConfigEvent)="getChangedConfig($event)"
                (changedAdvanceConfigEvent)="getChangedAdvanceConfiguration($event)"
                (formStatusEvent)="validConfigurationForm = $event"></app-configuration-group>
            <div class="columns" *ngIf="rolesService.hasEditPermissions()">
                <div class="column">
                    <div class="field is-grouped is-pulled-right">
                        <p class="control">
                            <button [disabled]="checkFormState()" [appDisableUntilResponse]="reenableButton"
                                class="button is-small is-link" (click)="saveConfiguration()">Save</button>
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="showFilterConfiguration">
            <app-filter-list #filtersListComponent [service]="serviceName" [sourceName]="serviceName" [filterPipeline]="filterPipeline" (formStatus)="filterFormStatus($event)"></app-filter-list>
            <div class="columns" *ngIf="rolesService.hasEditPermissions()">
                <div class="column">
                    <div class="field is-grouped is-pulled-right">
                        <p class="control">
                            <button [disabled]="checkFilterFormState()" [appDisableUntilResponse]="reenableButton"
                                class="button is-small is-link" (click)="saveFilterConfiguration()">Save</button>
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="showLogs">
            <app-system-log [sourceName]="serviceName"></app-system-log>
        </ng-container>
    </app-quickview>
</div>

<app-confirmation-dialog id="delete-service-dialog" *ngIf="rolesService.hasEditPermissions()">
    <header class="modal-card-head">
      <span class="modal-card-title is-size-6">Delete Service</span>
      <button class="delete" aria-label="close" (click)="closeModal('delete-service-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Deleting this service can not be undone. Continue?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-small" (click)="closeModal('delete-service-dialog')">Cancel</button>
      <button class="button is-small is-danger" (click)="deleteService()" [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
  </app-confirmation-dialog>

<app-confirmation-dialog id="delete-filter-dialog" *ngIf="rolesService.hasEditPermissions()">
    <header class="modal-card-head">
      <span class="modal-card-title is-size-6">Delete Filter</span>
      <button class="delete" aria-label="close" (click)="closeModal('delete-filter-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Deleting this filter can not be undone. Continue?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-small" (click)="closeModal('delete-filter-dialog')">Cancel</button>
      <button class="button is-small is-danger" (click)="deleteFilterFromPipeline()" [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
  </app-confirmation-dialog>