.rete {
  width: 82vw;
  height: 85vh;
  padding: 0.5rem;
}

.navbar-item {
  justify-content: space-between;
  align-items: normal;
}

.breadcrumb {
  display: inline-block;
}

hr {
  background-color: #fff !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fff;
}

.help-icon {
  margin: 12px 7px !important;
}

.notification-hr {
  margin: 0.7rem !important;
}

:host ::ng-deep [rete-context-menu] {
  width: auto;
  height: auto;
  font-size: smaller;

  context-menu-search input.search {
    background: grey;
  }

  context-menu-item.block {
    background: grey;
  }
}
