.delete {
  vertical-align: middle !important;
}

.button.is-light.like-link {
  background-color: white;
}

.button.is-light.like-link:hover {
  font-style: bold;
}

.field-label {
  text-align: left;
}

.btn-condition {
  font-weight: 600;
}

.btn-field-body {
  margin-left: -12px;
}
