<div *ngIf="!showConditionControl && sharedService.checkAuth()" class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label"></label>
  </div>
  <div class="field-body btn-field-body">
    <div class="field">
      <div class="control">
        <button (click)="addConditionControl()" class="button is-small is-light like-link is-link">
          <span class="icon is-small">
            <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
          </span>
          <span class="btn-condition">Add condition</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal" *ngIf="showConditionControl">
  <div class="field-label is-small">
    <label class="label">Condition</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="field is-horizontal">
        <div class="field">
          <div class="control">
            <input placeholder="key" class="input is-small" type="text" name='key' #key="ngModel"
              [ngModel]="conditionPayload.key" (ngModelChange)="setConditionKey($event)"
              [ngClass]="{'is-static':!sharedService.checkAuth()}" [readonly]="!sharedService.checkAuth()">
          </div>
          <div *ngIf="key.invalid && (key.dirty || key.touched)" class="help is-danger">
            <div *ngIf="key.errors?.['required']">
              Key is required.
            </div>
          </div>
        </div>
        &nbsp;
        <div class="field">
          <div class="control" *ngIf="sharedService.checkAuth();else staticConditionDiv">
            <div #conditionCtrl id="condition-dropdown-{{index}}" class="dropdown is-left">
              <div class="dropdown-trigger">
                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu"
                  (click)="toggleDropDown(conditionCtrl.id)">
                  <span>{{selectedCondition}}</span>
                  <span class="icon is-small">
                    <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a (click)="setCondition(c);toggleDropDown('condition-dropdown')" *ngFor="let c of conditions"
                    class="dropdown-item">{{c}}</a>
                </div>
              </div>
            </div>
          </div>
          <ng-template #staticConditionDiv>
            <div class="control">
              <input name="condition" class="input is-small" type="text" [(ngModel)]="selectedCondition"
                [ngClass]="{'is-static':!sharedService.checkAuth()}" [readonly]="!sharedService.checkAuth()">
            </div>
          </ng-template>
        </div>
        &nbsp;
        <div class="field">
          <div class="control">
            <input placeholder="value" class="input is-small" type="text" name='value' #val="ngModel"
              [ngModel]="conditionPayload.value" (ngModelChange)="setConditionValue($event)"
              [ngClass]="{'is-static':!sharedService.checkAuth()}" [readonly]="!sharedService.checkAuth()">
          </div>
          <div *ngIf="val.invalid && (val.dirty || val.touched)" class="help is-danger">
            <div *ngIf="val.errors?.['required']">
              value is required.
            </div>
          </div>
        </div>
        &nbsp;
        <div class="field" *ngIf="sharedService.checkAuth()">
          <button (click)="deleteControl()" class="delete is-small">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
