<div class="card mt-0 card-shadow" [ngClass]="{'error': item.invalid || items[i].status == false}"
  [formGroup]="listItemsForm">
  <header class="card-header has-background-white card-header-shadow is-justify-content-space-between"
    id="card-header-{{configuration.key}}-{{i}}-{{from}}">
    <div class="card-header-title">
      <p class="subtitle is-size-9 mb-0">{{listLabel}}</p>
    </div>
    <div class="key-container">
      <div class="is-flex is-justify-content-center is-align-items-center ml-1">
        <p class="help has-text-grey">{{item.value[firstKey]}}</p>
      </div>
      <div class="btn-container">
        <button class="card-header-icon tooltip has-tooltip-multiline has-tooltip-right has-tooltip-arrow"
          [attr.data-tooltip]="extractItemValue(item.value) | json" (click)="toggleCard(i)">
          <span class="icon is-small">
            <i class="bi bi-three-dots bi-sm" aria-hidden="true"></i>
          </span>
        </button>
        <button class="card-header-icon" (click)="toggleCard(i)">
          <span class="icon is-small toogle-icon" title="Expand">
            <i class="fas fa-2xs fa-angle-right" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </div>
  </header>
  <div class="card-content is-hidden" id="card-content-{{configuration.key}}-{{i}}-{{from}}">
    <div formArrayName="listItems">
      <div class="columns mb-0">
        <div class="column is-10 px-3 py-0">
          <app-show-configuration [groupConfiguration]="initialProperties[i]" [fullConfiguration]="initialProperties[i]"
            (event)="getChangedConfiguration($event)" (formStatusEvent)="formStatus($event)" [from]="from"
            [group]="group"></app-show-configuration>
        </div>
        <div class="column is-1 has-text-right"
          [ngClass]="{'is-invisible': !rolesService.hasAccessPermission(configuration?.permissions)}">
          <button class="delete my-3 is-small" (click)="removeListItem(i)"></button>
        </div>
        <div class="column is-1 has-text-right">
          <button class="button is-small my-1 collapse-btn" (click)="toggleCard(i)"
            [ngClass]="{'is-hidden':item.invalid || items[i].status == false}">
            <span class="icon is-small toogle-icon" title="Collapse">
              <i class="fas fa-xs fa-angle-up" aria-hidden="true"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>