<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Backups
        <button *ngIf="!isAlive" (click)="getBackup()" title="Reload" class="button is-small" id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </p>
      <div>
        <div class="columns fix-margin">
          <div class="column">
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button is-light is-small" aria-haspopup="true" aria-controls="dropdown-menu3">
                  <span class="icon is-small">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                  <ng-container *ngIf="rolesService.hasEditPermissions()">
                    <a class="dropdown-item" id="create-backup" (click)="requestBackup()">
                      <i class="bi bi-plus-circle plus-icon bi-sm" aria-hidden="true"></i>
                      <span> Create New</span>
                    </a>
                    <a class="dropdown-item" id="upload-backup" (click)="uploadBackup()">
                      <i class="fas fa-paperclip fa-sm fa-fw" aria-hidden="true"></i>
                      <span> Upload a Backup</span>
                    </a>
                    <hr class="dropdown-divider">
                  </ng-container>
                  <a class="dropdown-item" (click)="goToLink()">
                    <i class="far fa-question-circle fa-sm fa-fw"></i>
                    <span> Help</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="card-content backup-card-content">
      <div *ngIf="showSpinner" class="app-loading">
        &nbsp;
        <svg class="spinner" viewBox="0 0 100 100">
          <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
      <ng-container *ngIf="!showSpinner">
        <div class="has-text-centered" *ngIf="backupData != undefined && backupData.length === 0">
          <small class="no-rec">No Record</small>
        </div>
        <ng-container *ngIf="backupData != undefined && backupData.length > 0">
          <table class="table is-hoverable is-narrow is-responsive" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th>
                  <div [ngClass]="{'sort-order': backupData.length > 1}" (click)="sort()">
                    Date &amp; Time
                    <ng-container *ngIf="backupData.length > 1">
                      <i *ngIf="!ascSort" #desc class="fas fa-caret-down" aria-hidden="true"></i>
                      <i *ngIf="ascSort" #asc class="fas fa-caret-up" aria-hidden="true"></i>
                    </ng-container>
                  </div>
                </th>
                <th>
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let backup of backupData">
                <td class="align-content">
                  <small>{{ backup.date | dateparser:"YYYY-MM-DD HH:mm:ss"}}</small>
                </td>
                <td class="align-content">
                  <small>{{ backup.status }}</small>
                </td>
                <div *ngIf="backup.status != 'RUNNING'" class="dropdown is-left is-hoverable">
                  <div class="dropdown-trigger">
                    <a class="button is-small context-menu" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span class="icon">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-600"></i>
                      </span>
                    </a>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a *ngIf="backup.status != 'RUNNING'" class="dropdown-item" id="delete-backup"
                        (click)="openModal('delete-backup-dialog', backup)">
                        Delete
                      </a>
                      <a *ngIf="(backup.status == 'COMPLETED' || backup.status == 'RESTORED')" class="dropdown-item"
                        (click)="openModal('restore-backup-dialog', backup)">
                        Restore
                      </a>
                      <a *ngIf="backup.status == 'COMPLETED' || backup.status == 'RESTORED'" class="dropdown-item"
                        (click)="downloadBackup(backup)">
                        Download
                      </a>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <!-- delete-backup-dialog -->
  <app-confirmation-dialog id="delete-backup-dialog">
    <header class="modal-card-head">
      <span class="modal-card-title is-size-6">Delete Backup</span>
      <button class="delete" aria-label="close" (click)="closeModal('delete-backup-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Are you sure you want to delete the backup <b>{{backup?.date | dateparser:"YYYY-MM-DD HH:mm:ss"}}</b>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-small" (click)="closeModal('delete-backup-dialog')">Cancel</button>
      <button class="button is-small is-danger" (click)="deleteBackup(backup?.id)"
        [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
  </app-confirmation-dialog>

  <!-- restore-backup-dialog -->
  <app-confirmation-dialog id="restore-backup-dialog">
    <header class="modal-card-head">
      <span class="modal-card-title is-size-6">Restore Backup</span>
      <button class="delete" aria-label="close" (click)="closeModal('restore-backup-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Are you sure you want to restore the backup <b>{{backup?.date | dateparser:"YYYY-MM-DD HH:mm:ss"}}</b>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-small" (click)="closeModal('restore-backup-dialog')">Cancel</button>
      <button class="button is-small is-warning" (click)="restoreBackup(backup?.id)"
        [appDisableUntilResponse]="reenableButton">Restore</button>
    </footer>
  </app-confirmation-dialog>
  <app-file-upload-modal></app-file-upload-modal>
</div>