.align-content {
  vertical-align: middle;
}

.fix-margin {
  margin-top: 0px !important;
  margin-right: 2px !important;
}

.help-pad {
  margin-right: 0.7rem;
}

.is-hovered {
  cursor: pointer !important;
}

.sort-order {
  display: inline-block;
  cursor: pointer !important;
}
