<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Backup
      </p>
      <div>
        <a class="button is-light fix-pad" (click)="requestBackup()">Backup &nbsp;
          <i class="fa fa-file-archive" aria-hidden="true"></i>
        </a>
      </div>
    </header>
    <div class="card-content">
      <div *ngIf="showSpinner" class="app-loading">
        &nbsp;
        <svg class="spinner" viewBox="0 0 100 100">
          <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
      </div>
      <ng-container *ngIf="!showSpinner">
        <div class="has-text-centered" *ngIf="backupData != undefined && backupData.length === 0">
          <small class="no-rec">No Record</small>
        </div>
        <ng-container *ngIf="backupData != undefined && backupData.length > 0">
          <table class="table is-striped is-narrow scroll is-responsive" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th>Date &amp; Time</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let backup of backupData">
                <td class="align-content">
                  <small>{{ backup.date | dateparser:"YYYY-MM-DD hh:mm:ss"}}</small>
                </td>
                <td class="align-content">
                  <small>{{ backup.status }}</small>
                </td>
                <td class="align-content">
                  <a *ngIf="backup.status != 'RUNNING'" class="button is-text" (click)="openModal(backup.id, backup.date, 'Are you sure you want to delete the backup', 'deleteBackup')">delete
                  </a>
                </td>
                <td class="align-content">
                  <a *ngIf="backup.status == 'COMPLETED' || backup.status == 'RESTORED'" class="button is-text" (click)="openModal(backup.id, backup.date, 'Are you sure you want to restore the backup', 'restoreBackup')">restore
                  </a>
                </td>
                <td class="align-content">
                  <a *ngIf="backup.status == 'COMPLETED' || backup.status == 'RESTORED'" (click)="downloadBackup(backup)"
                    class="button is-text">
                    download
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <app-alert-dialog (createBackup)='requestBackup()' (restoreBackup)='restoreBackup($event)' (deleteBackup)='deleteBackup($event)'
    [childData]='childData'></app-alert-dialog>
</div>
