<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span>Audit Logs</span>
        <button *ngIf="!isAlive" (click)="getAuditLogs()" class="button is-small" id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </div>
      <div class="fix-pad auto-refresh">
        <label class="checkbox">
          <input class="checkmark" type="checkbox" [checked]='isAlive' (click)="toggleAutoRefresh($event)">
          Auto Refresh
        </label>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column">
            <label class="label is-small">Source</label>
            <div id="dropdown" class="dropdown">
              <div class="dropdown-trigger">
                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu"
                  (click)="toggleDropDown('dropdown')">
                  <span>{{source == ''? "ALL": source.toUpperCase()}}</span>
                  <span class="icon is-small">
                    <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" (click)="toggleDropDown('dropdown');filterSource('source', '')">ALL</a>
                  <a class="dropdown-item" *ngFor="let source of logSourceList"
                    (click)="toggleDropDown('dropdown');filterSource('source', source.code)">
                    {{source.code}}{{source.description
                        != '' ? ' - ' + source.description : ''}}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <label class="label is-small">Severity</label>
            <div id="severity-dropdown" class="dropdown">
              <div class="dropdown-trigger">
                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu"
                  (click)="toggleDropDown('severity-dropdown')">
                  <span>{{severity == ''? "Any": severity.toUpperCase()}}</span>
                  <span class="icon is-small">
                    <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item"
                    (click)="toggleDropDown('severity-dropdown');filterSource('severity', '')">Any</a>
                  <a class="dropdown-item" *ngFor="let severity of logSeverityList"
                    (click)="toggleDropDown('severity-dropdown');filterSource('severity', severity.name)">
                    {{severity.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="audit?.length > 0; else no_data_div">
        <table class="table is-narrow is-responsive is-hoverable" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Severity</th>
              <th>Source</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of audit">
              <td>
                <small>{{log.timestamp | dateparser: 'YYYY-MM-DD HH:mm:ss'}}</small>
              </td>
              <td><small>{{log.severity}}</small></td>
              <td><small>{{log.source}}</small></td>
              <td><small>{{log.details | json}}</small></td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="audit.length !== 0">
          <app-pagination [count]="recordCount" [page]="page" [perPage]="limit" [totalPage]='totalPagesCount'
            (onRangeChange)="resetLimitPerPage($event)" (goPrev)="onPrev()" (goNext)="onNext()" (goFirst)="onFirst()"
            (goLast)="onLast()" (goPage)="goToPage($event)">
          </app-pagination>
        </div>
      </ng-container>
      <ng-template #no_data_div>
        <div class="has-text-centered"><small class="text-secondary has-text-grey-light">No audit logs found.</small></div>
      </ng-template>
    </div>
  </div>
</div>
