table {
  overflow-x: auto;
  display: block;
}

table tbody {
  overflow-y: scroll;
  overflow-x: auto;
}

.card { overflow: visible;}
.card-content { overflow: visible; }

.card-header-title {
  padding: unset;
}

#card-title {
  padding: 0.75rem 1.5rem;
}
