<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span>Tasks</span>
        <button *ngIf="!isAlive" (click)="getLatestTasks()" class="button is-small" id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="isAlive" class="fix-pad auto-refresh">
        <label class="checkbox">
          <input class="checkmark" type="checkbox" [checked]='isAlive' (click)="toggleAutoRefresh($event)">
          Auto Refresh
        </label>
      </div>
    </header>
    <div class="card-content">
      <table class="table scroll is-responsive is-hoverable">
        <thead>
          <tr>
            <th>Process</th>
            <th>State</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasksData" [ngClass]="{'fade': (task.state == 'Complete')}">
            <td>
              <small>{{task.name}}</small>
            </td>
            <td>
              <small>{{task.state}}</small>
            </td>
            <td>
              <small>{{task.startTime != 'None' ? (task.startTime | dateparser: 'DD-MM-YYYY HH:mm:ss') :
                task.startTime}}</small>
            </td>
            <td>
              <small *ngIf="task.endTime != ''">{{task.endTime != '' ? (task.endTime | dateparser: 'DD-MM-YYYY
                HH:mm:ss')
                : task.endTime}}</small>
            </td>
            <td>
              <button *ngIf="'RUNNING' == (task.state | uppercase)" class="button is-small"
                (click)="cancelRunningTask(task.id)">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
