<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Profile
      </p>
    </header>
    <div class="card-content">
      <div id="edit_profile">
        <div class="columns">
          <div class="column is-6">
            <form #profileForm="ngForm">
              <label class="label is-small">Name</label>
              <p class="control is-fullwidth">
                <input type="text" class="input is-small" placeholder="Real Name" name='real_name'
                  [(ngModel)]="userRecord.real_name" required />
                <small
                  *ngIf="profileForm?.controls['real_name']?.hasError('required') && profileForm?.controls['real_name']?.touched"
                  class="help is-danger">Name is required</small>
              </p>
            </form>
          </div>

        </div>
        <div class="columns">
          <div class="column is-6">
            <label class="label is-small">Username</label>
            <p class="control is-fullwidth">
              <input type="text" class="input is-small is-static" name='username' [(ngModel)]="userRecord.userName"
                readonly />
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <label class="label is-small">Role</label>
            <p class="control is-fullwidth">
              <input type="text" class="input is-small is-static" name='role' [(ngModel)]="userRecord.roleName"
                readonly>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <label class="label is-small">Authentication Method</label>
            <p class="control is-fullwidth">
              <input type="text" class="input is-small is-static" name='access_method'
                [(ngModel)]="userRecord.access_method" readonly>
            </p>
          </div>
        </div>
        <div *ngIf="userRecord.roleName === 'admin'" class="columns">
          <div class="column is-6">
            <label class="label is-small">Description</label>
            <p class="control is-fullwidth">
              <textarea [disabled]='true' type="text" class="textarea is-small" placeholder="description"
                name='description' [(ngModel)]="userRecord.description"></textarea>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <a class="link-is-small" (click)="toggleModal(true)">Change Password</a>&nbsp;&nbsp;&nbsp;
            <a class="link-is-small"
              (click)="openModal(userRecord.userId, '', 'clearSessions', 'Are you sure, You want to clear your all active sessions')">Log
              Out Active Sessions</a>
          </div>
        </div>
        <div class="columns">
          <div class="column is-3">
            <div class="control">
              <button [disabled]="profileForm.invalid || profileForm.pristine" (click)="update()"
                class="button is-info is-small">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alert-dialog (userActionService)='clearAllSessions($event)' [childData]='childData'></app-alert-dialog>
<div class="modal" id="user_profile_modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5">Reset Password</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <form name="form" id="ngForm" (ngSubmit)="f.form.valid && changePassword(f, userRecord.userId)" #f="ngForm"
        novalidate>
        <div class="columns">
          <div class="column is-6">
            <label class="label is-small">Current Password</label>
            <input type="password" class="input is-small" placeholder="current password" name='currentPassword'
              [(ngModel)]="userRecord.currentPassword" #currentPassword="ngModel" required />
            <small *ngIf="f.submitted && !currentPassword.valid" class="help is-danger level-left">Wrong
              password</small>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <label class="label is-small">New Password</label>
            <input type="password" class="input is-small" placeholder="new password" name='password'
              [(ngModel)]="userRecord.password" #password="ngModel" validateEqual="confirmPassword" reverse="true"
              required />
            <small *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required(minimum
              6
              characters)</small>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <label class="label is-small">Confirm New Password</label>
            <input type="password" class="input is-small" placeholder="confirm password" name='confirmPassword'
              [(ngModel)]="userRecord.confirmPassword" #confirmPassword="ngModel" validateEqual="password" required />
            <small *ngIf="f.submitted && !confirmPassword.valid" class="help is-danger level-left">Password
              mismatch</small>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button id="update" type="submit" form="ngForm" class="button is-info is-small">Save</button>
    </footer>
  </div>
</div>
