<div id="upload_certificate_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Upload Certificate</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <div class="card-content">
        <form [formGroup]="form" (ngSubmit)="uploadCertificate()">
          <div class="columns">
            <div class="column">
              <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Key</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="file">
                      <label class="file-label">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fa fa-upload"></i>
                          </span>
                          <input type="file" accept=".key" id="key" (change)="onKeyChange($event)" #fileInput>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Certficate</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="file">
                      <label class="file-label">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fa fa-upload"></i>
                          </span>
                          <input type="file" id="cert" accept=".cert" (change)="onCertChange($event)" #fileInput>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" ng-model="overwrite" (change)="onOverwriteChange($event)">
                    Overwrite
                  </label>
                </div>
                <p class="help">Overwrite allows to replace the certificate with existing name and key</p>
              </div>
            </div>
          </div>

          <button type="submit" [disabled]="form.invalid" class="button is-small is-success">Import</button>
        </form>
      </div>
    </section>
  </div>
</div>