<div class="container is-fluid">
  <div class="steps">
    <div class="step-item is-active is-success" id="1">
      <div class="step-marker">1</div>
      <div class="step-details">
        <p>Notification Instance</p>
      </div>
    </div>
    <div class="step-item" id="2">
      <div class="step-marker">2</div>
      <div class="step-details">
        <p>Rule</p>
      </div>
    </div>
    <div hidden class="step-item" id="3">
      <div class="step-details">
        <p>Review Rule Configuration</p>
      </div>
    </div>
    <div class="step-item" id="4">
      <div class="step-marker">3</div>
      <div class="step-details">
        <p>Delivery Channel</p>
      </div>
    </div>
    <div hidden class="step-item" id="5">
      <div class="step-details">
        <p>Review Delivery Channel Configuration</p>
      </div>
    </div>
    <div class="step-item" id="6">
      <div class="step-marker">4</div>
      <div class="step-details">
        <p>Done</p>
      </div>
    </div>
    <div class="steps-content">
      <form [formGroup]="notificationForm" validate>
        <div class="box step-content  is-active" id="c-1">
          <div class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" id="name" type="text" placeholder="name" #name formControlName="name" required
                    (input)="validateNotificationName($event)">
                  <small *ngIf="!isValidName" class="help is-danger level-left">Notification instance name is
                    required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">Description</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" id="description" type="text" #desc placeholder="description"
                    formControlName="description" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box step-content" id="c-2">
          <div *ngIf="!notificationRulePlugins || notificationRulePlugins.length === 0" class="has-text-centered">
            <small class="no-rec">No notification rule plugin installed. </small>
            <small>
              <a (click)="openPluginModal(true, 'Rule')">Install from available plugins</a>
            </small>
          </div>
          <div *ngIf="notificationRulePlugins.length > 0" class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">Rule Plugin</label>
            </div>
            <div class="field-body">
              <div class="select is-multiple">
                <select multiple name="type" #selectedPlugin formControlName="rule" id="rule"
                  (change)="isPluginSelected(selectedPlugin.value, notificationRulePlugins[0].type)" required>
                  <option *ngFor="let p of notificationRulePlugins" [value]="p.name"> {{ p.name }}</option>
                </select>
              </div>
              &nbsp;
              <small *ngIf="selectedRulePluginDescription && notificationRulePlugins.length > 0"
                class="help description level-left">
                {{selectedRulePluginDescription }}</small>
              <small *ngIf="!isRulePlugin" class="help is-danger level-left">* Please select a valid plugin</small>
              <small *ngIf="!isSinglePlugin" class="help is-danger level-left">* Please select a single plugin</small>
            </div>
          </div>
          <div class="field is-horizontal form-group is-right">
            <div class="field-label is-normal">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <ng-container *ngIf="notificationRulePlugins.length">
                    <a id="avail-plugin" class="button is-text" (click)="openPluginModal(true, 'Rule')">available plugins</a>
                  </ng-container>
                  <app-plugin-modal *ngIf="pluginData?.modalState && pluginData?.type?.toLowerCase() === 'rule' "
                    (notify)="onNotify($event)" [data]="pluginData"></app-plugin-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box step-content" id="c-3">
          <app-view-config-item #ruleConfigView [categoryConfigurationData]="rulePluginConfigurationData"
          [useRuleProxy]="useRuleProxy" (onConfigChanged)="getPluginChangedConfig($event, 'rule')" [pageId]="'wizard'">
          </app-view-config-item>
        </div>
        <div class="box step-content" id="c-4">
          <div *ngIf="!notificationDeliveryPlugins || notificationDeliveryPlugins.length === 0"
            class="has-text-centered">
            <small class="no-rec">No notification delivery plugin installed. </small>
            <small>
              <a (click)="openPluginModal(true, 'Notify')">Install from available plugins</a>
            </small>
          </div>
          <div *ngIf="notificationDeliveryPlugins.length > 0" class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">Delivery Plugin</label>
            </div>
            <div class="field-body">
              <div class="select is-multiple">
                <select multiple name="type" #selectedDeliveryPlugin formControlName="delivery" id="notify"
                  (change)="isPluginSelected(selectedDeliveryPlugin.value, notificationDeliveryPlugins[0].type)"
                  required>
                  <option *ngFor="let d of notificationDeliveryPlugins" [value]="d.name"> {{ d.name }}</option>
                </select>
              </div>
              &nbsp;
              <small *ngIf="selectedDeliveryPluginDescription && notificationDeliveryPlugins.length > 0"
                class="help description level-left">
                {{selectedDeliveryPluginDescription }}</small>
              <small *ngIf="!isDeliveryPlugin" class="help is-danger level-left">* Please select a valid plugin</small>
              <small *ngIf="!isSinglePlugin" class="help is-danger level-left">* Please select a single plugin</small>
            </div>
          </div>
          <div class="field is-horizontal form-group is-right">
            <div class="field-label is-normal">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <ng-container *ngIf="notificationDeliveryPlugins.length">
                    <a id="avail-plugin" class="button is-text" (click)="openPluginModal(true, 'Notify')">available plugins</a>
                  </ng-container>
                  <app-plugin-modal *ngIf="pluginData?.modalState && pluginData?.type?.toLowerCase() === 'notify'"
                    (notify)="onNotify($event)" [data]="pluginData"></app-plugin-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box step-content" id="c-5">
          <app-view-config-item #deliveryConfigView [categoryConfigurationData]="deliveryPluginConfigurationData"
            [useDeliveryProxy]="useDeliveryProxy" (onConfigChanged)="getPluginChangedConfig($event, 'delivery')" [pageId]="'wizard'">
          </app-view-config-item>
        </div>
        <div class="box step-content" id="c-6">
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label has-text-left tooltip is-tooltip-right is-tooltip-multiline" data-tooltip="One Shot: only trigger once while in triggered state. Re-Triggered: trigger at every polling while in triggered state. Toggled: trigger once when triggered, and again when cleared.">Trigger</label>
            </div>
            <div class="field-body">
              <div id="notify-type-dropdown" class="dropdown notification-type">
                <div class="dropdown-trigger">
                  <button class="button is-fullwidth is-small" aria-haspopup="true" aria-controls="dropdown-menu"
                    (click)="toggleDropDown('notify-type-dropdown')">
                    <span>{{notificationType}}</span>
                    <span class="icon is-small">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" *ngFor="let type of notificationTypeList"
                      (click)="toggleDropDown('notify-type-dropdown');setNotificationType(type)">
                      {{type}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label has-text-left tooltip is-tooltip-right is-tooltip-multiline" data-tooltip="Enable this rule. Note that for debugging, a rule can be enabled while the notification is disabled.">Enabled</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="checkbox" type="checkbox" checked (click)="onCheckboxClicked($event)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="steps-actions">
      <div class="steps-action">
        <button (click)="movePrevious()" data-nav="previous" class="button" id="previous">Back</button>
      </div>
      <div class="steps-action">
        <button (click)="moveNext()" data-nav="next" class="button is-link" id="next">Next</button>
      </div>
    </div>
  </div>
  <app-view-logs></app-view-logs>
</div>
