.is-vertical-center {
  display: flex;
  align-items: center;
}

.description {
  flex-shrink: initial !important;
}

.dropdown.notification-type,
.retrigger-time {
  width: 15%;
}

.tooltip.has-tooltip-multiline::before {
  min-width: 16rem !important;
}

.container.is-fluid {
  margin-top: 10px;
}

.notification-type-help {
  margin: 7px;
}

.box {
  margin-bottom: 1.5rem !important;
}