[hidden] {
  display: none !important;
}

.description {
  flex-shrink:initial !important;
}

.dropdown.notification-type {
  width: auto !important;
}

.tooltip.is-tooltip-multiline::before {
  min-width: 16rem !important;
}
