.media-content {
    overflow: hidden;
}

.s-log {
  font: normal normal normal normal 14px monospace;
  box-sizing: border-box;
  visibility: visible;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 4px;
  background: white;
}

.pagination-section {
  padding: 0.5rem;
}

.card { overflow: visible;}
.card-content { overflow: visible; }
.card-header-title {
  padding: unset;
}

#card-title {
  padding: 0.75rem 1.5rem;
}
