.media-content {
    overflow: hidden;
}

.s-log {
  font: normal normal normal normal 14px monospace;
  box-sizing: border-box;
  visibility: visible;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 4px;
  background: white;
}

.pagination-section {
  padding: 0.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.card { overflow: visible;}
.card-content { overflow: visible; }
.card-header-title {
  padding: unset;
}

.card-header-title {
  padding: 0.75rem 1.5rem;
  max-height: 48px !important;
}

#refresh-check {
  margin-left: 3px;
}

.auto-refresh {
  margin-right: 30px;
  font-size: .75rem;
  color: #363636;
  font-weight: 700;
}

.checkmark {
vertical-align: middle !important;
}
