<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div id="card-title" class="card-content">
        <p class="card-header-title">System Logs
          <button *ngIf="!isAlive" (click)="getSysLogs()" class="button is-small" id="refresh-check">
            <i class="fa fa-sync" aria-hidden="true"></i>
          </button>
        </p>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column">
            <label class="label is-small">Service</label>
            <div id="dropdown" class="dropdown">
              <div class="dropdown-trigger">
                <button class="button is-fullwidth is-small" aria-haspopup="true" aria-controls="dropdown-menu"
                  (click)="toggleDropDown('dropdown')">
                  <span>{{source == ''? "All": (source == 'storage'? capitalizeInitialWord(source): source)}}</span>
                  <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" (click)="toggleDropDown('dropdown');filterData('source', 'all')">
                    All
                  </a>
                  <a class="dropdown-item" (click)="toggleDropDown('dropdown');filterData('source', 'storage')">
                    Storage
                  </a>
                  <a class="dropdown-item" *ngFor="let schedule of scheduleData"
                    (click)="toggleDropDown('dropdown');filterData('source', schedule.name)">
                    {{schedule.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <label class="label is-small">Severity</label>
            <div id="level-dropdown" class="dropdown">
              <div class="dropdown-trigger">
                <button class="button is-fullwidth is-small" aria-haspopup="true" aria-controls="dropdown-menu"
                  (click)="toggleDropDown('level-dropdown')">
                  <span>{{level == ''? "Info and above": capitalizeInitialWord(level) + ' and above'}}</span>
                  <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" (click)="toggleDropDown('level-dropdown');filterData('level', 'Info')">
                    Info and above
                  </a>
                  <a class="dropdown-item" (click)="toggleDropDown('level-dropdown');filterData('level', 'Warning')">
                    Warning and above
                  </a>
                  <a class="dropdown-item" (click)="toggleDropDown('level-dropdown');filterData('level', 'Error')">
                    Error and above
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <label class="label is-small">Search</label>
            <input type="text" class="input is-fullwidth is-small" placeholder="search text on current page" [(ngModel)]="searchTerm" />
          </div>
        </div>
      </div>
      <ng-container *ngFor="let log of logs | SearchPipe:searchTerm">
        <p class="s-log" [innerHTML]="log"> </p>
      </ng-container>
    </div>
    <ng-container *ngIf="(logs | SearchPipe: searchTerm)?.length !== 0; else no_data_div">
      <div *ngIf="totalPagesCount > 1" class="pagination-section">
        <app-pagination [count]="recordCount" [page]="page" [perPage]="limit" [totalPage]='totalPagesCount'
          (onRangeChange)="setLimit($event)" (goPrev)="onPrev()" (goNext)="onNext()" (goFirst)="onFirst()"
          (goLast)="onLast()" (goPage)="goToPage($event)">
        </app-pagination>
      </div>
    </ng-container>
    <ng-template #no_data_div>
      <div class="card-content">
        <div class="has-text-centered"><small class="text-secondary has-text-grey-light">No Matching Log Entry Found</small></div>
      </div>
    </ng-template>
  </div>
</div>