<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div id="card-title" class="card-content">
        <div class="columns is-mobile">
          <div class="column is-9">
            <h5 class="title is-5">SysLog</h5>
            <h6 class='subtitle is-6'>
              <small>Count: {{ totalCount }}</small>
            </h6>
          </div>
          <div class="column">
            <button (click)="getSysLogs()" class="button is-small">
              <i class="fa fa-sync" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns is-mobile">
          <div class="column">
            <div class="select is-fullwidth is-small">
              <select (change)="filterData($event, 'source')">
                <option selected="selected" value="all">All</option>
                <option value="storage">Storage</option>
              </select>
            </div>
          </div>
          <div class="column">
              <div class="select is-fullwidth is-small">
                <select (change)="filterData($event, 'level')">
                  <option selected="selected" value="">Info</option>
                  <option value="WARNING">Warning</option>
                  <option value="ERROR">Error</option>
                </select>
              </div>
            </div>
          <div class="column">
            <app-number-input-debounce placeholder="limit" (value)="setLimit($event)" [val]="limit"></app-number-input-debounce>
          </div>
          <div class="column">
            <app-number-input-debounce placeholder="offset" (value)="setOffset($event)" [val]="offset"></app-number-input-debounce>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let log of logs">
        <p class="s-log" [innerHTML]="log"> </p>
      </ng-container>
      <div *ngIf='totalPagesCount > 1' class="pagination-section">
        <app-pagination [count]="recordCount" [page]="page" [perPage]="limit" [totalPage]='totalPagesCount' (goPrev)="onPrev()" (goNext)="onNext()"
          (goFirst)="onFirst()" (goLast)="onLast()" (goPage)="goToPage($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
