<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Certificate Store &nbsp;
        <button (click)="getCertificates()" class="button is-small">
          <i class="fa fa-sync" aria-hidden="true"></i>
        </button>
      </p>
      <div>
        <a class="button is-light fix-pad" (click)="openUploadCertModal()">Import &nbsp;
          <i class="fa fa-upload" aria-hidden="true"></i>
        </a>
      </div>
    </header>
    <div class="card-content columns">
      <div class="column">
        <table class="table is-striped is-narrow scroll is-responsive" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>Key</th>
              <th>Extension</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of keys">
              <td class="showInCenter">{{getName(key)}}</td>
              <td class="showInCenter">{{key.split(".")[1]}}</td>
              <td class="showInCenter"><a *ngIf="getName(key) != 'foglamp'"
                  (click)="openDeleteModal(key, 'Are you sure, you want to delete the key', 'deleteKey')"
                  class="button is-text">
                  delete
                </a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table is-striped is-narrow scroll is-responsive" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>Certificate</th>
              <th>Extension</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cert of certificates">
              <td class="showInCenter">{{getName(cert)}}</td>
              <td class="showInCenter">{{cert.split(".")[1]}}</td>
              <td class="showInCenter"><a *ngIf="getName(cert) != 'foglamp'"
                  (click)="openDeleteModal(cert, 'Are you sure, you want to delete the certificate', 'deleteCertificate')"
                  class="button is-text">
                  delete
                </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-alert-dialog (deleteCertificate)='deleteCertificate($event)' [childData]='childData'></app-alert-dialog>
  <app-upload-cert (notify)='onNotify()'></app-upload-cert>
</div>