<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Certificate Store &nbsp;
        <button (click)="getCertificates()" title="Reload" class="button is-small" id="refresh-check">
          <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
        </button>
      </p>
      <div *ngIf="rolesService.hasEditPermissions()">
        <a class="button is-light fix-pad" (click)="openUploadCertModal()">
          <p *ngIf="viewPort !== 'mobile' " class="add-btn">Import &nbsp;</p>
          <i class="bi bi-upload bi-xs" aria-hidden="true"></i>
        </a>
      </div>
    </header>
    <div class="card-content columns">
      <div class="column">
        <table class="table is-narrow scroll is-responsive is-hoverable" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>Key</th>
              <th>Extension</th>
              <ng-container *ngIf="allowDelete">
                <th></th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of keys">
              <td class="showInCenter">{{getName(key)}}</td>
              <td class="showInCenter">{{key.split(".")[1]}}</td>
              <ng-container *ngIf="allowDelete">
                <td class="showInCenter">
                  <a (click)="openModal('delete-key-dialog', key)" class="button is-text text-btn">
                    delete
                  </a>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <table class="table is-narrow scroll is-responsive is-hoverable" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>Certificate</th>
              <th>Extension</th>
              <ng-container *ngIf="allowDelete">
                <th></th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cert of certificates">
              <td class="showInCenter">{{getName(cert)}}</td>
              <td class="showInCenter">{{cert.split(".")[1]}}</td>
              <ng-container *ngIf="allowDelete">
                <td class="showInCenter">
                  <a (click)="openModal('delete-cert-dialog', cert)"
                    class="button is-text text-btn">
                    delete
                  </a>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <app-confirmation-dialog id="delete-key-dialog">
    <header class="modal-card-head">
      <span class="modal-card-title is-size-6">Delete Key</span>
      <button class="delete" aria-label="close" (click)="closeModal('delete-key-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Are you sure, You want to delete the key <b>{{getName(certName)}}</b>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-small" (click)="closeModal('delete-key-dialog')">Cancel</button>
      <button class="button is-small is-danger" (click)="deleteCertificate('key')" [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
  </app-confirmation-dialog>

  <app-confirmation-dialog id="delete-cert-dialog">
    <header class="modal-card-head">
      <span class="modal-card-title is-size-6">Delete Certificate</span>
      <button class="delete" aria-label="close" (click)="closeModal('delete-cert-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Are you sure, You want to delete the certificate <b>{{getName(certName)}}</b>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-small" (click)="closeModal('delete-cert-dialog')">Cancel</button>
      <button class="button is-small is-danger" (click)="deleteCertificate('cert')" [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
  </app-confirmation-dialog>
  <app-upload-cert (notify)='onNotify()'></app-upload-cert>
</div>
