<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label lbl-child">Duration</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control" *ngIf="rolesService.hasControlAccess(); else staticDuration">
        <input class="input is-small name-control" name="duration" placeholder="duration" [ngModel]="config?.duration"
          appIntegerOnly (ngModelChange)="setDuration($event)"
          [ngClass]="{'is-static':!rolesService.hasControlAccess()}" [readonly]="!rolesService.hasControlAccess()">
      </div>
      <ng-template #staticDuration>
        <div class="control" *ngIf="config.duration; else noDuration">
          <input class="input is-small name-control" name="duration" [ngModel]="config?.duration"
            (ngModelChange)="config.duration" appIntegerOnly [ngClass]="{'is-static':!rolesService.hasControlAccess()}"
            [readonly]="!rolesService.hasControlAccess()">
        </div>
        <ng-template #noDuration>
          <div class="control">
            <span *ngIf="!rolesService.hasControlAccess()" class="has-text-grey-light is-size-7">None</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
<app-add-step-condition #delayCondition [from]='step' [index]="controlIndex" [condition]="config?.condition">
</app-add-step-condition>