<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Duration</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control" *ngIf="sharedService.checkAuth(); else staticDuration">
        <input class="input is-small name-control" type="text" name="duration" placeholder="duration"
          [ngModel]="config?.duration" appNumberOnly (ngModelChange)="setDuration($event)"
          [ngClass]="{'is-static':!sharedService.checkAuth()}" [readonly]="!sharedService.checkAuth()">
      </div>
      <ng-template #staticDuration>
        <div class="control" *ngIf="config.duration; else noDuration">
          <input class="input is-small name-control" type="text" name="duration" [ngModel]="config?.duration"
            (ngModelChange)="config.duration" appNumberOnly [ngClass]="{'is-static':!sharedService.checkAuth()}"
            [readonly]="!sharedService.checkAuth()">
        </div>
        <ng-template #noDuration>
          <div class="control">
            <span *ngIf="!sharedService.checkAuth()" class="has-text-grey-light is-size-7">None</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
<app-add-step-condition #delayCondition [from]='step' [index]="controlIndex" [condition]="config?.condition">
</app-add-step-condition>
