<section class="is-success">
  <div class="has-text-centered">
    <div class="column is-4 is-offset-4" *ngIf="ottToken && sslCertificateError">
      <article class="message is-warning alert-box">
        <div class="message-body">
          You are trying to connect over HTTPS. To secure an instance, you must provide your own valid TLS certificate
          for production operations.A self-signed certificate is included within Fledge, and you will need to configure
          your browser to accept it as valid. To do this, click this <a class="alert-link"
            (click)="openSSLCertWarningPage()"><u><b>link</b></u></a> and in that page accept the certificate.
        </div>
      </article>
    </div>
    <div class="column is-4 is-offset-4" *ngIf="!ottToken">
      <div class="box">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="field">
            <div class="control has-icons-left">
              <input type="text" class="input" name="username" [(ngModel)]="model.username" #username="ngModel"
                placeholder="username" required />
              <span class="icon is-small is-left">
                <i class="fa fa-sm fa-user"></i>
              </span>
            </div>
            <div *ngIf="f.submitted && !username.valid" class="help is-danger level-left">Username is required</div>
          </div>

          <div class="field">
            <div class="control has-icons-left">
              <input type="password" class="input" name="password" [(ngModel)]="model.password" #password="ngModel"
                placeholder="password" autocomplete="password" required />
              <span class="icon is-small is-left">
                <i class="fa fa-sm fa-lock"></i>
              </span>
            </div>
            <div *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required</div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-small is-info">Log In</button>
            </div>
          </div>
        </form>
      </div>
      <div class="has-text-grey">
        <a (click)="openLoginWithCertificateModal()">Login with Certificate</a>
        .&nbsp;
        <a (click)="forgotPassword()">Forgot Password?</a>
      </div>
      <div class="has-text-grey">
        <a class="grey-link" (click)="setupInstance()">Setup Instance</a>
      </div>
    </div>
  </div>
  <app-certificate-base-login></app-certificate-base-login>
</section>
