.box {
  height: 100%;
}

.columns {
  padding: 0% !important;
}

.dropdown-content {
  width: auto;
  height: auto;
  max-height: 70vh;
  overflow-y: scroll;
  padding-right: .5rem;
}

.columns:not(:last-child) {
   margin-bottom: 0% !important;
}

.dropdown {
  width: auto !important;
}

.app-loading {
  height: auto;
}

.dropdown-columns {
  margin-top: 10px;
}

.dropdown-column {
  padding-top: 0px;
}
