.box {
  height: 100%;
}

.columns {
  padding: 0% !important;
}

.dropdown-content {
  width: auto;
  height: auto;
  min-height: 30vh;
  max-height: 70vh;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  padding-right: .5rem;
}

.columns:not(:last-child) {
   margin-bottom: 0% !important;
}
