<div class="container" [ngClass]="{'is-fluid': sourceName, 'custom-max-width': from?.includes('control-pipeline')}"
  [id]="from">
  <nav *ngIf="sourceName && from !== 'rule-modal' && from !== 'delivery-modal'" class="breadcrumb"
    aria-label="breadcrumbs">
    <ul>
      <li class="is-active"><a>{{sourceName}}</a></li>
      <li class="is-active">
        <a href="#" aria-current="page">Configuration</a>
      </li>
    </ul>
  </nav>
  <div class="configuration_group_wrapper">
    <nav [id]="'group_navigation_'+from + '_' + sourceName" class="groupNav dragscroll mouse-scroll" role="tablist">
      <div [id]="'nav_contents_'+from + '_' + sourceName" class="nav">
        <div class="tabs" *ngIf="from !== 'config-manager'"
          [ngClass]="{'is-fullwidth': sourceName && groupTabs?.length > 1 && from !== 'notifications' && developerTabState(groupTabs), 'is-boxed': !sourceName}">
          <ul>
            <li *ngFor="let g of groups" [ngClass]="{'is-active': selectedGroup.key == g.group.key}">
              <h6 class="is-6 is-small-font">
                <a (click)="selectTab(g.group)" [ngClass]="{'invalid-tab': g.status == false}">
                  <span class="group-desc">
                    {{g.group.name}}
                    <i *ngIf="g.group?.description" class="bi bi-xs bi-info-circle info-icon" aria-hidden="true"
                      [title]="g.group?.description"></i>
                  </span>
                </a>

              </h6>
            </li>
            <!-- Advanced and security group -->
            <li *ngFor="let g of dynamicCategoriesGroup" [ngClass]="{'is-active': selectedGroup.key == g.group.key}">
              <h6 class="is-6 is-small-font">
                <a (click)="selectTab(g.group)" [ngClass]="{'invalid-tab': g.status == false}">
                  {{g.group.name}}
                </a>
              </h6>
            </li>
            <ng-container *ngIf="!['notifications', 'additional-services'].includes(from)">
              <li [ngClass]="{'is-active': selectedGroup?.key == 'Developer'}"
                *ngIf="developerFeaturesService.getDeveloperFeatureControl() && pages.includes(from) && rolesService.hasEditPermissionsOnPage(from)">
                <h6 class="is-6 is-small-font">
                  <a (click)="selectTab({key: 'Developer', name: 'Developer'})">Developer</a>
                </h6>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </nav>
    <button (click)="left()" id="leftScroll" class="advancer advancer_left" type="button">
      <i class="fas fa-angle-left fa-xs"></i>
    </button>
    <button (click)="right()" id="rightScroll" class="advancer advancer_right" type="button">
      <i class="fas fa-angle-right fa-xs"></i>
    </button>
  </div>
  <ng-container *ngIf="groups.length == 0 && dynamicCategoriesGroup.length == 0; else group">
    <div class="has-text-centered">
      <small class="no-rec">No configuration to update.</small>
    </div>
  </ng-container>
  <ng-template #group>
    <!-- if user coming from config-manager component don't show the group border -->
    <div [ngClass]="{'highlight': from !== 'config-manager', 'custom-quickview-configuration': sourceName}">
      <ng-container *ngFor="let g of groups; let i=index;">
        <ng-container *ngIf="from == 'config-manager';else showGroup">
          <ng-container *ngIf="['bucket', 'list', 'kvlist'].includes(g?.type); else showConfigTemplate">
            <div class="card mt-0 mb-1 card-shadow ml-1 custom-width">
              <header class="card-header has-background-white card-header-shadow">
                <div class="card-header-title">
                  <div class="subtitle is-size-9">
                    <span [title]="g.group.description">
                      {{g.group.name ? g.group.name : g.key}}
                    </span>
                    <i *ngIf="rolesService?.hasEditPermissions() && !rolesService?.hadEditPermissionsOnConfigItem(g.config?.permissions)"
                      class="bi bi-xs bi-info-circle info-icon pull-right" aria-hidden="true"
                      title="Insufficient privileges to modify this"></i>
                  </div>
                </div>
                <div *ngIf="!configFormValues.hasOwnProperty(g.config.key) && isEmpty(g.config.value)
                && isCollapsed(i)" class="is-align-self-center">
                  <span class="help is-italic has-text-grey mt-0">No Items</span>
                </div>
                <div *ngIf="configFormValues.hasOwnProperty(g.config.key) && isCollapsed(i)"
                  class="is-align-self-center">
                  <span class="help is-italic has-text-grey mt-0">Pending Changes</span>
                </div>
                <div class="is-align-self-center">
                  <button class="card-header-icon" (click)="toggleCard(i)">
                    <span class="icon is-small toogle-icon" id="card-span-{{i}}" title="'Expand'">
                      <i id="card-icon-{{i}}" class="fas fa-2xs fa-chevron-right" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </header>
              <div class="card-content is-hidden" id="card-content-{{i}}">
                <ng-container
                  *ngIf="isEmpty(g.config.value) && !rolesService?.hasAccessPermission(g.config?.permissions); else content">
                  <span class="help is-italic has-text-grey mt-0">No Items</span>
                </ng-container>
                <ng-template #content>
                  <div class="content">
                    <app-bucket-configuration *ngIf="g.type == 'bucket'" [dataModel]="g.config"
                      (changedConfig)="getChangedConfiguration($event)" (formStatusEvent)="formStatus($event)"
                      [from]="from" [group]="g.group.key"></app-bucket-configuration>

                    <app-list-type-configuration *ngIf="g?.type == 'list'" [configuration]="g.config"
                      [categoryName]="g.category" [group]="g.group.key" [from]="from"
                      (changedConfig)="getChangedConfiguration($event)" (formStatusEvent)="formStatus($event)">
                    </app-list-type-configuration>

                    <app-kv-list-type-configuration *ngIf="g?.type == 'kvlist'" [configuration]="g.config"
                      [categoryName]="g.category" [group]="g.group.key" [from]="from"
                      (changedConfig)="getChangedConfiguration($event)" (formStatusEvent)="formStatus($event)">
                    </app-kv-list-type-configuration>
                  </div>
                </ng-template>
              </div>
            </div>
          </ng-container>
          <ng-template #showConfigTemplate>
            <app-show-configuration *ngIf="!['bucket', 'list', 'kvlist'].includes(g?.type)"
              [groupConfiguration]="g.config" [group]="g.group.key" [from]="from" [selectedGroup]="selectedGroup.key"
              [fullConfiguration]="category.config" (event)="getChangedConfiguration($event)"
              (formStatusEvent)="formStatus($event)"></app-show-configuration>
          </ng-template>
        </ng-container>
        <ng-template #showGroup>
          <app-bucket-configuration *ngIf="g.type == 'bucket' && selectedGroup.key == g.group.key"
            [dataModel]="g.config" (changedConfig)="getChangedConfiguration($event)"
            (formStatusEvent)="formStatus($event)" [from]="from" [group]="g.group.key"></app-bucket-configuration>

          <app-list-type-configuration *ngIf="g?.type == 'list'" [hidden]="selectedGroup.key !== g.group.key"
            [configuration]="g.config" [group]="g.group.key" [from]="from" [categoryName]="g.category"
            (changedConfig)="getChangedConfiguration($event)" (formStatusEvent)="formStatus($event)">
          </app-list-type-configuration>

          <app-kv-list-type-configuration *ngIf="g?.type == 'kvlist'" [hidden]="selectedGroup.key !== g.group.key"
            [configuration]="g.config" [group]="g.group.key" [from]="from" [categoryName]="g.category"
            (changedConfig)="getChangedConfiguration($event)" (formStatusEvent)="formStatus($event)">
          </app-kv-list-type-configuration>

          <app-show-configuration *ngIf="!['bucket', 'list', 'kvlist'].includes(g?.type)"
            [hidden]="selectedGroup.key !== g.group.key" [groupConfiguration]="g.config" [group]="g.group.key"
            [from]="from" [selectedGroup]="selectedGroup.key" [fullConfiguration]="category.config"
            (event)="getChangedConfiguration($event)" (formStatusEvent)="formStatus($event)"></app-show-configuration>
        </ng-template>
      </ng-container>
      <!-- Advanced and security group configuration -->
      <ng-container *ngFor="let g of dynamicCategoriesGroup">
        <ng-container *ngIf="g.category == category?.name+'Advanced'; else SecurityGroup">
          <ng-container *ngIf="advancedGroups.length == 0; else tabsTemplate">
            <app-show-configuration [hidden]="selectedGroup.key !== g.group.key" [groupConfiguration]="g.config"
              [group]="g.group.key" [selectedGroup]="selectedGroup.key" [fullConfiguration]="g.config" [from]="from"
              (event)="getChangedAdvanceConfiguration($event)" (formStatusEvent)="formStatus($event)">
            </app-show-configuration>
          </ng-container>
          <ng-template #tabsTemplate>
            <div class="columns" [hidden]="selectedGroup.key !== g.group.key">
              <div class="column is-2 subtab-menu">
                <div class="tabs">
                  <ul class="is-flex-direction-column">
                    <li *ngFor="let advancedGroup of advancedGroups" class="custom-width"
                      [ngClass]="{'is-active': selectedAdvancedGroup.key == advancedGroup.group.key}">
                      <h6 class="is-6 is-small-font">
                        <a class="is-justify-content-flex-start pl-1"
                          (click)="selectAdvancedSubTab(advancedGroup.group)"
                          [ngClass]="{'invalid-tab': advancedGroup.status == false}">
                          <span>
                            {{advancedGroup.group.name}}
                            <i class="fas fa-xs fa-angle-right" aria-hidden="true"
                              [ngClass]="{'is-invisible' : selectedAdvancedGroup.key != advancedGroup.group.key}"></i>
                          </span>
                        </a>
                      </h6>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="column is-10">
                <ng-container *ngFor="let advancedGroup of advancedGroups">
                  <app-show-configuration *ngIf="!['list', 'kvlist'].includes(advancedGroup?.type)"
                    [hidden]="selectedAdvancedGroup?.key !== advancedGroup?.group.key"
                    [groupConfiguration]="advancedGroup?.config" [group]="advancedGroup?.group.key"
                    [selectedGroup]="selectedAdvancedGroup?.key" [fullConfiguration]="advancedGroup?.config"
                    [from]="from" (event)="getChangedAdvanceConfiguration($event)"
                    (formStatusEvent)="formStatus($event)">
                  </app-show-configuration>
                  <app-list-type-configuration *ngIf="advancedGroup?.type == 'list'"
                    [hidden]="selectedAdvancedGroup?.key !== advancedGroup?.group.key"
                    [configuration]="advancedGroup?.config" [group]="advancedGroup?.group.key" [from]="from"
                    [categoryName]="advancedGroup?.category" (changedConfig)="getChangedAdvanceConfiguration($event)"
                    (formStatusEvent)="formStatus($event)">
                  </app-list-type-configuration>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #SecurityGroup>
          <ng-container *ngIf="g.category == category?.name+'Security'; else pluginGroup">
            <app-show-configuration [hidden]="selectedGroup.key !== g.group.key" [groupConfiguration]="g.config"
              [group]="g.group.key" [selectedGroup]="selectedGroup.key" [fullConfiguration]="g.config" [from]="from"
              (event)="getChangedSecurityConfiguration($event)" (formStatusEvent)="formStatus($event)">
            </app-show-configuration>
          </ng-container>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!['notifications', 'additional-services'].includes(from)">
        <app-plugin-persist-data *ngIf="selectedGroup.key == 'Developer' && pages.includes(from)"
          [serviceStaus]="serviceStatus" [serviceName]="category?.name" [pluginName]="plugin">
        </app-plugin-persist-data>
      </ng-container>
      <app-tab-navigation #tabNaigation
        *ngIf="groupTabs && !['notifications', 'config-manager', 'additional-services'].includes(from)"
        [tabs]="groupTabs" (selectedTabEvent)="selectedGroup = $event"></app-tab-navigation>
    </div>
  </ng-template>
</div>