<div class="tabs">
  <ul>
    <li *ngFor="let g of groups" [ngClass]="{'is-active': selectedGroup == g.group}">
      <h6 class="is-6 has-text-weight-semibold">
        <a (click)="selectTab(g.group)">
          {{g.group}}
        </a>
      </h6>
    </li>
  </ul>
</div>
<div class="highlight">
  <ng-container *ngFor="let g of groups">
    <app-show-configuration [hidden]="selectedGroup !== g.group" [groupConfiguration]="g.config" [group]="g.group"
      [selectedGroup]="selectedGroup" [fullConfiguration]="category?.config" [parent]="form"
      (event)="show($event)"></app-show-configuration>
  </ng-container>
</div>
