<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Category</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <input class="input is-small name-control" type="text" placeholder="Name" [value]="config?.category">
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Item</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <input class="input is-small name-control" type="text" placeholder="Name" [value]="config?.item">
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Value</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <input class="input is-small name-control" type="text" placeholder="Name" [value]="config?.value">
      </div>
    </div>
  </div>
</div>
