<div id="north-task-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" style="flex-grow:0;">
      <p *ngIf="task != undefined" class="modal-card-title is-size-6">{{task.name}}</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <ng-container *ngIf="!isWizard">
        <div class="box">
          <app-view-config-item #taskConfigView *ngIf="category" [categoryConfigurationData]="category"
          [useProxy]="useProxy" [pageId]="'modal'"></app-view-config-item>
          <div *ngIf="childConfiguration != null" class="field is-horizontal is-pulled-right" style="margin-bottom: 0%;">
            <button class="button is-small is-text" (click)="getAdvanceConfig(childConfiguration)">{{advanceConfigButtonText}}</button>
          </div>
          <br />
          <div [hidden]="!isAdvanceConfig">
            <app-config-children (onConfigChanged)="getChangedConfig($event)"></app-config-children>
          </div>
          <form name="task-form" id="taskForm" #fg="ngForm" (ngSubmit)="saveScheduleFields(fg)" novalidate>
            <div class="columns">
              <div class="column">
                <div class="field is-horizontal">
                  <div class="field-label has-text-left">
                    <label class="label">Enabled</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <input class="checkbox" name="enabled" type="checkbox" [checked]="enabled" [value]="enabled"
                        [(ngModel)]="enabled">
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label has-text-left">
                    <label class="label">Exclusive</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <input class="checkbox" name="exclusive" type="checkbox" [checked]="exclusive" [value]="exclusive"
                        [(ngModel)]="exclusive">
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label has-text-left">
                    <label class="label">Interval</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <input name="repeatDays" class="input is-small" type='number' appNumberOnly min="0" max="365"
                        placeholder="days" [(ngModel)]="repeatDays">
                    </div>
                    <div class="field">
                      <input class="input is-small" name="repeatTime" type="text" [pattern]='regExp' placeholder="hh:mm:ss"
                        mask="00:00:00" [(ngModel)]="repeatTime" required (change)="getTimeIntervalValue($event)">
                      <span *ngIf="fg?.controls['repeatTime']?.invalid" class="help is-danger">
                        <sup>*</sup>Repeat hours must be in range 00:00:00 - 23:59:59.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button id="ss" class="is-hidden button is-small is-link is-pulled-right" form="taskForm">Save</button>
          </form>
          <hr>
          <div class="columns">
            <div class="column has-text-centered">
              <span class="label is-size-6 add-application"><a (click)="openAddFilterModal(true)">Applications <i class="fa fa-plus-circle"
                    aria-hidden="true"></i></a></span>
            </div>
          </div>
          <div *ngIf="filterPipeline != undefined" class="view-content columns">
            <div class="column">
              <div class="filter-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
                <div class="accordion card" *ngFor="let filter of filterPipeline; let i = index" [attr.id]="i" cdkDrag
                  [cdkDragDisabled]="filterPipeline.length < 2" [ngClass]="{'cursor-pointer': filterPipeline.length < 2}">
                  <header class="card-header" cdkDragHandle [ngClass]="{'cursor-default': filterPipeline.length < 2,'cursor-move': filterPipeline.length >= 2 }">
                    <p class="card-header-title">
                      <i class="fa fa-bars"></i>&nbsp;{{filter}}
                    </p>
                    <a (click)="toggleAccordion(i, filter)" class="card-header-icon">
                      <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </a>
                  </header>
                  <div class="card-content" hidden>
                    <div class="content">
                      <app-view-config-item #filterConfigView *ngIf="filterConfiguration" [categoryConfigurationData]="filterConfiguration"
                        [useFilterProxy]="useFilterProxy" [formId]="item"></app-view-config-item>
                      <div class="field is-pulled-right">
                        <button class="button is-light btnDelete" (click)="deleteFilterReference(filter)"><span class="icon is-medium"><i
                              class="fa fa-trash-alt fa-lg" aria-hidden="true"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <div class="field is-grouped is-pulled-right">
                <p class="control">
                  <button class="button is-small" (click)="toggleModal(false)">Cancel</button>
                </p>
                <p class="control">
                  <button class="button is-small is-link" (click)="proxy()">Save</button>
                </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="field">
            <div class="field has-text-right">
              <button *ngIf="task != undefined" (click)="openDeleteModal(task.name,'Warning: Deleting this instance can not be undone. Continue', 'deleteTask')"
                class="button is-small">Delete Instance</button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isWizard">
        <div class="box animated slideInRight">
          <app-add-filter-wizard (notify)="onNotify($event)" [serviceName]="task.name"></app-add-filter-wizard>
        </div>
      </ng-container>
    </section>
  </div>
  <app-alert-dialog (deleteTask)='deleteTask($event)' [deleteTaskData]='deleteTaskData'></app-alert-dialog>
  <app-filter-alert *ngIf="isFilterOrderChanged || isFilterDeleted" (discardChanges)="discardChanges()"
    [filerDialogData]='confirmationDialogData'></app-filter-alert>
</div>
