<div id="north-task-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <span *ngIf="task" class="modal-card-title title-name">{{task.name}} <span *ngIf="isAddFilterWizard">- Add
          Filter</span>
          <span *ngIf="!isAddFilterWizard"><i class="bi bi-info-circle info-icon" aria-hidden="true" [title]="task?.plugin.name"></i></span>
        <ng-container *ngIf="task?.processName === 'north_C'; else nTask">
          <p class="help has-text-grey modal-subtitle">North Service</p>
        </ng-container>
        <ng-template #nTask>
          <p class="help has-text-grey modal-subtitle">North Task</p>
        </ng-template>
      </span>
      <button class="delete" aria-label="close" [routerLink]="['/north']"></button>
    </header>
    <section class="modal-card-body">
      <ng-container *ngIf="!isAddFilterWizard">
        <div class="box">
          <app-configuration-group #pluginConfigComponent *ngIf="category" [category]="category"
            [plugin]="task?.plugin.name" [serviceStatus]="task['enabled']" [from]="'north'"
            (changedAdvanceConfigEvent)="getChangedAdvanceConfiguration($event)"
            (changedConfigEvent)="getChangedConfig($event)" (formStatusEvent)="validConfigurationForm = $event">
          </app-configuration-group>

          <div class="columns column-container">
            <div class="column enable-text">
              <form name="task-form" id="taskForm" #fg="ngForm" novalidate>
                <div class="columns">
                  <div class="column">
                    <div class="field is-horizontal">
                      <div class="field-label has-text-left">
                        <label class="label">Enabled</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <input class="checkbox" name="enabled" type="checkbox" [checked]="enabled" [value]="enabled"
                            [(ngModel)]="enabled" [disabled]="!rolesService.hasEditPermissions()">
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="task?.processName !== 'north_C'">
                      <div class="field is-horizontal">
                        <div class="field-label has-text-left">
                          <label class="label">Exclusive</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <input class="checkbox" name="exclusive" type="checkbox" [checked]="exclusive"
                              [value]="exclusive" [(ngModel)]="exclusive"
                              [disabled]="!rolesService.hasEditPermissions()">
                          </div>
                        </div>
                      </div>
                      <div class="field is-horizontal">
                        <div class="field-label has-text-left">
                          <label class="label">Interval</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <input name="repeatDays" class="input is-small"
                              [ngClass]="{'is-static': !rolesService.hasEditPermissions()}" type='number' appNumberOnly
                              min="0" max="365" placeholder="days" [(ngModel)]="repeatDays"
                              [readOnly]="!rolesService.hasEditPermissions()">
                          </div>
                          <div class="field">
                            <input class="input is-small" [ngClass]="{'is-static': !rolesService.hasEditPermissions()}"
                              name="repeatTime" type="text" [pattern]='regExp' placeholder="HH:mm:ss" mask="00:00:00"
                              [(ngModel)]="repeatTime" required (change)="getTimeIntervalValue($event)"
                              [readOnly]="!rolesService.hasEditPermissions()">
                            <span *ngIf="fg?.controls['repeatTime']?.invalid" class="help is-danger">
                              <sup>*</sup>Repeat hours must be in range 00:00:00 - 23:59:59.
                            </span>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column has-text-centered">
              <span class="label is-size-6 add-application" *ngIf="rolesService.hasEditPermissions(); else staticLabel">
                <a (click)="openAddFilterModal(true)">Applications
                  <span class="icon has-tooltip-right has-tooltip-arrow tooltip" data-tooltip="Add Filters">
                    <i class="bi bi-plus-circle plus-icon bi-md" aria-hidden="true"></i>
                  </span>
                </a>
              </span>
              <ng-template #staticLabel>
                <span class="label is-size-6">Applications</span>
              </ng-template>
            </div>
          </div>
          <app-filter-list #filtersListComponent [service]="task?.name" [filterPipeline]="filterPipeline"
            (formStatus)="filterFormStatus($event)"></app-filter-list>
          <hr *ngIf="rolesService.hasEditPermissions()">
          <div class="columns margin-bottom" *ngIf="rolesService.hasEditPermissions()">
            <div class="column">
              <div class="field is-grouped is-pulled-right">
                <p class="control">
                  <button class="button is-small" [routerLink]="['/north']">Cancel</button>
                </p>
                <p class="control">
                  <button [disabled]="checkFormState()" class="button is-small is-link" (click)="save()" [appDisableUntilResponse]="reenableButton">Save</button>
                </p>
              </div>
            </div>
          </div>
          <hr>
          <!-- Note: task here is old variable name retained; if processName is north_C task represents a Northbound service -->
          <div>
            <div *ngIf="task?.processName === 'north_C' && task?.enabled" class="field is-horizontal service-info">
              <div class="field-label has-text-left service-info-text">
                <label class="label">Service Info</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <ng-container *ngIf="task.protocol && task.address && task.managementPort">
                    <small>{{task.protocol}}://{{task.address}}:{{task.managementPort}}</small>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="field is-grouped is-pulled-left icon-group">
              <div class="control">
                <span
                  class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-pulled-left is-hovered help-icon"
                  data-tooltip="Help" (click)="goToLink({name: category?.config?.plugin?.value, type: 'North'})">
                  <i class="far fa-question-circle"></i>
                </span>
              </div>
              <div class="control">
                <span
                  class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-pulled-left is-hovered help-icon"
                  data-tooltip="Show logs" (click)="navToSyslogs(task)">
                  <i class="far fa-file-alt"></i>
                </span>
              </div>
            </div>
            <div class="field has-text-right" *ngIf="rolesService.hasEditPermissions()">
              <p class="buttons is-pulled-right">
                <!-- <button *ngIf="task != undefined"
                  (click)="openDeleteModal(task.name, 'Deleting this ' + btnTxt + ' can not be undone. Continue?')"
                  class="button is-small">Delete {{btnTxt}}</button> -->
                <button *ngIf="task != undefined" (click)="openModal('delete-task-dialog')"
                  class="button is-small">Delete
                  {{btnTxt}}</button>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isAddFilterWizard">
        <div class="box animated slideInRight">
          <app-add-filter-wizard (notify)="onNotify()" [serviceName]="task?.name"></app-add-filter-wizard>
        </div>
      </ng-container>
    </section>
  </div>
  <app-filter-alert *ngIf="unsavedChangesInFilterForm" (discardChanges)="discardUnsavedChanges()"
    [filerDialogData]='confirmationDialogData'></app-filter-alert>
</div>
<app-confirmation-dialog id="delete-task-dialog" *ngIf="rolesService.hasEditPermissions()">
  <header class="modal-card-head">
    <span class="modal-card-title is-size-6">Delete {{btnTxt}}</span>
    <button class="delete" aria-label="close" (click)="closeModal('delete-task-dialog')"></button>
  </header>
  <section class="modal-card-body">
    {{'Deleting this ' + btnTxt + ' can not be undone. Continue?'}}
  </section>
  <footer class="modal-card-foot">
    <button class="button is-small" (click)="closeModal('delete-task-dialog')">Cancel</button>
    <button class="button is-small is-danger" (click)="onDelete(task)" [appDisableUntilResponse]="reenableButton">Delete</button>
  </footer>
</app-confirmation-dialog>