<div id="notification-instance-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <span *ngIf="notification" class="modal-card-title title-name">{{notification.name}}
        <span><i class="bi bi-info-circle info-icon" aria-hidden="true"
            [title]="'Rule Plugin: ' + notification.rule + '&#013;Action Plugin: ' + notification.channel"></i></span>
        <p class="help has-text-grey modal-subtitle">Notification Instance</p>
      </span>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <div class="box">
        <app-configuration-group #notificationConfigView *ngIf="category" [category]="category" [from]="'notifications'"
          (changedConfigEvent)="getChangedNotificationConfig($event)"
          (formStatusEvent)="validConfigurationForm = $event">
        </app-configuration-group>
        <hr *ngIf="notification != undefined" class="hr-text" [attr.data-content]="'Rule - ' + notification.rule">
        <app-configuration-group #ruleConfigView *ngIf="ruleConfiguration" [category]="ruleConfiguration"
          [from]="'rule-modal'" (changedConfigEvent)="getChangedRuleConfig($event)"
          (formStatusEvent)="validConfigurationForm = $event">
        </app-configuration-group>
        <hr *ngIf="notification != undefined" class="hr-text"
          [attr.data-content]="'Delivery Channel - ' + notification.channel">
        <app-configuration-group #deliveryConfigView *ngIf="deliveryConfiguration" [category]="deliveryConfiguration"
          [from]="'delivery-modal'" (changedConfigEvent)="getChangedDeliveryConfig($event)"
          (formStatusEvent)="validConfigurationForm = $event">
        </app-configuration-group>
        <div class="columns" *ngIf="rolesService.hasEditPermissions()">
          <div class="column">
            <div class="field is-grouped pt-2 is-pulled-right">
              <p class="control">
                <button class="button is-small" (click)="toggleModal(false)">Cancel</button>
              </p>
              <p class="control">
                <button class="button is-small is-link" (click)="save()"
                  [appDisableUntilResponse]="reenableButton">Save</button>
              </p>
            </div>
          </div>
        </div>
        <hr class="hr-text" data-content="">
        <ng-container *ngIf="notification != undefined">
          <p class="buttons is-pulled-left">
            <span class="icon is-small has-tooltip-right has-tooltip-arrow tooltip is-pulled-right is-hovered help-icon"
              data-tooltip="Help" (click)="goToLink()">
              <i class="far fa-question-circle"></i>
            </span>
          </p>
          <p class="buttons is-pulled-right" *ngIf="rolesService.hasEditPermissions()">
            <button (click)="openModal('delete-notification-dialog')" class="button is-small"
              [disabled]="!notification.notificationEnabled ? 'disabled' : null">Delete Instance</button>
          </p>
        </ng-container>
      </div>
    </section>
  </div>
  <app-confirmation-dialog id="delete-notification-dialog" *ngIf="rolesService.hasEditPermissions()">
    <header class="modal-card-head">
      <span class="modal-card-title is-size-6">Delete Instance</span>
      <button class="delete" aria-label="close" (click)="closeModal('delete-notification-dialog')"></button>
    </header>
    <section class="modal-card-body">
      {{'Deleting this notification instance can not be undone. Continue?'}}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-small" (click)="closeModal('delete-notification-dialog')">Cancel</button>
      <button class="button is-small is-danger" (click)="deleteNotification(notification.name)"
        [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
  </app-confirmation-dialog>
</div>