.box {
  box-shadow: 0 0 0 0 !important;
}

.is-hidden {
  display: none;
}

.align {
  vertical-align: middle;
}

.field-body {
  flex-grow : 2 !important;
}

a { color: black; }

@media screen and (min-width: 769px) {
  .modal-card {
    width: 80%;
  }
}

.hr-text {
  height: 1.5em;
}

.help-icon {
  cursor: pointer !important;
  padding-top: 1rem;
}

.modal-card-head {
  padding: 12px !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.modal-subtitle {
  margin-top: 0.35rem !important;
}

