.box {
  box-shadow: 0 0 0 0 !important;
}

.is-hidden {
  display: none;
}

.align {
  vertical-align: middle;
}

label{
  width: 12vw !important;
  margin-right: 2vw;
}

[hidden] {
  display: none !important;
}

a { color: black; }

@media screen and (min-width: 769px) {
  .view-content {
    display: block !important;
  }
}

hr {
  background-color: #fff !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fff;
}


