<div id="update_user_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p *ngIf="showRoleSection" class="modal-card-title is-size-5">Update User Role</p>
      <p *ngIf="!showRoleSection" class="modal-card-title is-size-5">Update User Password</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false, f)"></button>
    </header>
    <section class="modal-card-body">
      <div class="card-content">
        <form name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
          <div class="columns">
            <div class="column is-6">
              <label class="label">Username</label>
              <p class="control is-fullwidth">
                <input [disabled]='true' type="text" class="input" placeholder="username" name='username' [(ngModel)]="userRecord.username"
                  #username="ngModel" minlength="4" maxlength="8" required />
              </p>
            </div>
          </div>
          <div *ngIf="showRoleSection" class="columns">
            <div class="column is-6">
              <label class="label">Role</label>
              <div class="select is-fullwidth">
                <select name='role_id' [(ngModel)]="userRecord.role_id" #role_id="ngModel">
                  <option *ngFor="let role of userRole" [ngValue]='role.id'>{{role.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div *ngIf="!showRoleSection" class="columns">
            <div class="column is-6">
              <p class="control is-fullwidth">
                <input type="password" class="input" placeholder="password" name='password' [(ngModel)]="userRecord.password" #password="ngModel"
                  validateEqual="confirmPassword" reverse="true" required />
              </p>
              <small *ngIf="f.submitted && !password.valid" class="help is-danger level-left">Password is required(minium 6 character)</small>
            </div>
          </div>
          <div *ngIf="!showRoleSection" class="columns">
            <div class="column is-6">
              <p class="control is-fullwidth">
                <input type="password" class="input" placeholder="confirm password" name='confirmPassword' [(ngModel)]="userRecord.confirmPassword"
                  #confirmPassword="ngModel" validateEqual="password" required />
              </p>
              <small *ngIf="f.submitted && !confirmPassword.valid" class="help is-danger level-left">Password mismatch</small>
            </div>
          </div>   
          <div class="columns">
            <div class="column">
              <div class="control">
                <button id="update" type="submit" class="button is-success">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>