<div id="pipeline-filter-modal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
      <span *ngIf="pipelineName != undefined" class="modal-card-title is-size-6">{{pipelineName}} - Add Filter
        <p class="help is-6 has-text-grey">Control Pipeline</p>
      </span>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <app-add-filter-wizard (notify)="onNotify($event)" [serviceName]="pipelineName" [from]="'control-pipeline'"></app-add-filter-wizard>   
    </section>
  </div>
</div>
  