<div class="container is-fluid">
  <div class="navbar-item">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a [routerLink]="['/control-dispatcher']" [queryParams]="{tab: 'acls'}">ACLs</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">
            {{editMode ? name : 'Add' }}
          </a>
        </li>
      </ul>
    </nav>
    <button *ngIf="editMode" (click)="refresh()" class="button is-small" id="refresh-check">
      <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
    </button>
  </div>
  <div class="card">
    <div class="card-content step-content">
      <form #aclForm="ngForm">
        <span (click)="goToLink('access-control-lists')"
          class=" icon is-small is-tooltip-left tooltip is-pulled-right is-hovered help-icon" data-tooltip="Help">
          <i class="far fa-question-circle"></i>
        </span>
        <div class="column is-four-fifths">
          <div class="field is-horizontal acl-name-field">
            <div class="field-label">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input name="name" class="input" type="text" placeholder="Name" required [(ngModel)]="name" appRestrictSpecialChar
                    [ngClass]="{'is-static static-acl':editMode, 'is-small':sharedService.checkAuth() && !editMode}"
                    [readonly]="!sharedService.checkAuth()">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Services</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <div class="control box">
                        <div class="columns">
                          <div class="column service-control">
                            <div class="field is-horizontal">
                              <div class="field-label is-small">
                                <label class="label" *ngIf="sharedService.checkAuth()">Names</label>
                                <label class="label" *ngIf="!sharedService.checkAuth()">{{serviceNameList.length > 1 ?
                                  'Names' : 'Name' }}</label>
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <div class="control" *ngIf="sharedService.checkAuth(); else staticService">
                                    <ng-select placeholder="Select service name" [items]="services" [multiple]="true"
                                      bindLabel="name" groupBy="type" (add)="addServiceName($event.name)"
                                      [ngModel]="serviceNameList" (remove)="removeServiceName($event.label)"
                                      (clear)="clearServiceNames()" [ngModelOptions]="{standalone: true}">
                                    </ng-select>
                                  </div>
                                  <ng-template #staticService>
                                    <input class="input is-small" type="text" [value]="show(serviceNameList, true)"
                                      [ngClass]="{'is-static':!sharedService.checkAuth(), 'has-text-grey-light is-size-7': serviceNameList.length  === 0}"
                                      [readonly]="!sharedService.checkAuth()">
                                  </ng-template>
                                </div>
                              </div>
                            </div>
                            <div class="field is-horizontal">
                              <div class="field-label is-small">
                                <label class="label" *ngIf="sharedService.checkAuth()">Types</label>
                                <label class="label" *ngIf="!sharedService.checkAuth()">{{serviceTypeList.length > 1 ?
                                  'Types' : 'Type' }}</label>
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <div class="control" *ngIf="sharedService.checkAuth(); else staticServiceType">
                                    <ng-select placeholder="Select service type" [items]="serviceTypes" bindLabel="type"
                                      [multiple]="true" (add)="addServiceType($event)" [ngModel]="serviceTypeList"
                                      [ngModelOptions]="{standalone: true}" (remove)="removeServiceType($event.label)"
                                      (clear)="clearServiceTypes()">
                                    </ng-select>
                                  </div>
                                  <ng-template #staticServiceType>
                                    <input class="input is-small" type="text" [value]="show(serviceTypeList)"
                                      [ngClass]="{'is-static':!sharedService.checkAuth(), 'has-text-grey-light is-size-7': serviceTypeList.length === 0}"
                                      [readonly]="!sharedService.checkAuth()">
                                  </ng-template>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column is-1">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal url-control">
            <div class="field-label">
              <label class="label">URLs</label>
            </div>
            <div class="field-body" *ngIf="aclURLsList.length > 0; else staticURL">
              <div class="field">
                <ng-container class="steps-list" *ngFor="let control of aclURLsList">
                  <div class="control box">
                    <div class="columns">
                      <div class="column acl-control">
                        <div class="field is-horizontal">
                          <div class="field-label is-small">
                            <label class="label">URL</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <input #url name="url" class="input is-small" type="url" placeholder="URL" required
                                  name="url-{{control.index}}" (input)="setURL(control.index, url?.value)"
                                  [value]="!sharedService.checkAuth() && !control.url ? 'None': control.url"
                                  [ngClass]="{'is-static':!sharedService.checkAuth()}"
                                  [readonly]="!sharedService.checkAuth()">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-small">
                            <label class="label">ACLs</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control" *ngIf="sharedService.checkAuth(); else staticACLService">
                                <ng-select placeholder="Select service type" [items]="serviceTypes" [multiple]="true"
                                  (add)="addACLServiceType($event, control.index)" [ngModel]="control?.acl"
                                  [ngModelOptions]="{standalone: true}" bindLabel="type"
                                  (remove)="removeACLServiceType($event.label, control.index)"
                                  (clear)="clearACLServiceTypes(control.index)">
                                </ng-select>
                              </div>
                              <ng-template #staticACLService>
                                <input class="input is-small" type="text" [value]="show(control?.acl)"
                                  [ngClass]="{'is-static':!sharedService.checkAuth(), 'has-text-grey-light is-size-7': control?.acl.length === 0}"
                                  [readonly]="!sharedService.checkAuth()">
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column is-1 close-btn-div">
                        <ng-container *ngIf="sharedService.checkAuth()">
                          <button (click)="deleteURLControl(control.index)" class="button is-small btn-delete">
                            <span class="icon is-small">
                              <i class="far fa-trash-alt"></i>
                            </span>
                          </button>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-template #staticURL>
              <div class="field-body" *ngIf="!sharedService.checkAuth()">
                <div class="field has-text-grey-light is-size-7">None</div>
              </div>
            </ng-template>
            <div class="field-body" *ngIf="sharedService.checkAuth() && aclURLsList.length  === 0">
              <template [ngTemplateOutlet]="btnTemplate"></template>
            </div>
          </div>
          <div class="field is-horizontal" *ngIf="sharedService.checkAuth() && aclURLsList.length > 0">
            <div class="field-label">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <template [ngTemplateOutlet]="btnTemplate"></template>
            </div>
          </div>
          <!-- TODO: Usage information loop for available users list -->
          <div class="field is-horizontal" *ngIf="this.editMode">
            <div class="field-label">
              <label class="label">Usage</label>
            </div>
            <div class="field-body">
              <div class="field" *ngIf="userServices && userServices; else noUsageMsg">
                <div class="field is-horizontal" *ngIf="userServices?.length > 0">
                  <div class="field-label is-small">
                    <label class="label">{{userServices?.length > 1? 'Services': 'Service'}}</label>
                  </div>
                  <div class=" field-body">
                    <div class="control" *ngFor="let item of userServices; last as isLast">
                      <span class="is-size-7">{{item}}</span>
                      <span *ngIf="!isLast" class="is-size-7">,&nbsp;</span>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal" *ngIf="userScripts?.length > 0">
                  <div class="field-label is-small">
                    <label class="label">{{userScripts?.length > 1? 'Scripts': 'Script'}}</label>
                  </div>
                  <div class=" field-body">
                    <div class="control" *ngFor="let item of userScripts; last as isLast">
                      <a class="is-size-7" [routerLink]="['/control-dispatcher/script', item]"
                        routerLinkActive="router-link-active">{{item}}</a>
                      <span *ngIf="!isLast" class="is-size-7">,&nbsp;</span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #noUsageMsg>
                <div class="field">
                  <div class="control">
                    <span class="has-text-grey-light is-size-7">No details available</span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div *ngIf="sharedService.checkAuth()" class="column is-four-fifths">
          <div class="columns">
            <div class="column is-2"></div>
            <div class="column">
              <div class="field is-grouped control-pad" *ngIf="editMode">
                <p class="control">
                  <button (click)="openModal('confirmation-dialog')" type="button"
                    class="button is-small is-danger is-outlined">Delete</button>
                </p>
              </div>
            </div>
            <div class="column">
              <div class="field is-grouped is-pulled-right">
                <p class="control">
                  <button [routerLink]="['/control-dispatcher']" [queryParams]="{tab: 'acls'}"
                    class="button is-small">Cancel</button>
                </p>
                <p class="control">
                  <button [disabled]="!aclForm.valid || !aclForm.dirty" (click)="onSubmit(aclForm)" type="button"
                    class="button is-small is-link">Save</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #btnTemplate>
  <div class="field is-grouped">
    <div class="control">
      <button (click)="addURLControl()" class="button is-small">
        <span class="icon is-small">
          <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
        </span>
        <span>{{aclURLsList?.length === 0? 'Add URL': 'Add new URL'}}</span>
      </button>
    </div>
  </div>
</ng-template>

<app-confirmation-dialog id="confirmation-dialog">
  <header class="modal-card-head">
    <p class="modal-card-title is-size-6">Delete</p>
    <button type="button" class="delete" aria-label="close" (click)="closeModal('confirmation-dialog')"></button>
  </header>
  <section class="modal-card-body">
    Are you sure, you want to delete the ACL <b>{{name}}</b>?
  </section>
  <footer class="modal-card-foot">
    <button class="button is-small" (click)="closeModal('confirmation-dialog')">Cancel</button>
    <button class="button is-small is-danger" (click)="deleteAcl(name)">Delete</button>
  </footer>
</app-confirmation-dialog>
