.step-content {
  overflow: inherit !important;
}

.field-body .field {
  margin-bottom: 5px;
}

.menu {
  padding-left: 5px !important;
}

.menu-label {
  margin: 0px !important;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.field-label {
  text-align: left;
}

:host ::ng-deep ng-select .ng-dropdown-panel {
  z-index: 40 !important;
}

:host ::ng-deep ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 200px !important;
}

:host ::ng-deep ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
  color: #848181 !important;
  font-size: 0.8rem !important;
}
