.step-content {
  overflow: inherit !important;
}

.field:not(:last-child) {
  margin-bottom: 5px !important;
}

.field-label {
  text-align: left;
}

.control-pad {
  padding-left: 18px;
}

.btn-delete {
  border: transparent !important;
}

div.close-btn-div {
  padding-top: 0px !important;
}

::ng-deep ng-select .ng-dropdown-panel {
  z-index: 40 !important;
}

::ng-deep ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 200px !important;
}

::ng-deep ng-select .ng-dropdown-panel .ng-dropdown-panel-items {
  color: #848181 !important;
  font-size: 0.8rem !important;
}

::ng-deep .ng-select .ng-select-container,
::ng-deep .ng-select.ng-select-multiple .ng-select-container {
  min-height: 5px;
  font-size: 0.8em;
}
