<div id="fileUpload" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-6">Upload Backup</p>
      <button class="delete" aria-label="close" (click)="formReset()"></button>
    </header>
    <section class="modal-card-body">
      <div class="file has-name is-boxed is-small is-centered"
      (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
        <label class="file-label">
          <input class="file-input" type="file" (change)="attachBackupFile($event)">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Browse/Drag & drop file
            </span>
          </span>
          <span class="file-name">
            {{fileName}}
          </span>
        </label>
      </div>
    </section>

    <footer class="modal-card-foot">
      <button class="button is-small" (click)="formReset()">Cancel</button>
      <button [disabled]="!fileName || progress || !file"  class="button is-small is-info" (click)="uploadBackup()">Upload</button>
      <progress *ngIf="progress" class="progress is-small is-primary" max="100"></progress>
    </footer>
  </div>
</div>
