:host ::ng-deep ngx-codemirror .CodeMirror-wrap {
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  
  :host ::ng-deep ngx-codemirror.readonly-editor .CodeMirror-wrap {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a;
    cursor: not-allowed;
  }
  
  :host ::ng-deep ngx-codemirror.dark-bg-color .CodeMirror-wrap {
    background-color: #2b2b2b !important;
  }
  
  :host ::ng-deep ngx-codemirror.readonly-editor .CodeMirror-cursors {
    visibility: hidden !important;
  }
  
  :host ::ng-deep ngx-codemirror.readonly-editor .CodeMirror-lines {
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a;
    cursor: not-allowed;
  }
  
  .CodeMirror-scroll {
    overflow: auto;
    height: 100%;
    /* This is needed to prevent an IE[67] bug where the scrolled content
       is visible outside of the scrolling box. */
    position: relative;
    outline: none;
  }