<ng-container *ngIf="configuration.items == 'object' && listItems.controls.length>0">
  <div class="is-flex toggle-btn-container">
    <app-toggle-switch (currentView)="setCurrentView($event)" />
  </div>
</ng-container>
<div [formGroup]="listItemsForm" class="items-container">
  <ng-container *ngIf="configuration.items == 'object' && listItems.controls.length>0">
    <div *ngIf="!isListView" class="btn-panel-container is-flex-direction-row-reverse">
      <div class="btn-panel upper-btn-panel">
        <app-button-panel [isFormValid]="listItems.valid && validConfigurationForm" [isListView]="isListView"
          (addnewItem)="addListItem(true)" (expandAll)="expandAllItems()" (collapseAll)="collapseAllItems()"
          (importFile)="openModal()" (exportFile)="openExportFileModal()"
          [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length)" />
      </div>
    </div>
  </ng-container>
  <div
    [ngClass]="{'custom-viewport': configuration.items == 'object', 'scrollable': (listItems.controls?.length > 0 && configuration.items == 'object')}">
    <ng-container *ngFor="let item of listItems.controls; let i = index">
      <ng-container *ngIf="configuration.items != 'object'; else objectTemplate">
        <div formArrayName="listItems" class="field">
          <div>
            <div class="columns is-flex is-vcentered">
              <div class="column is-11">
                <ng-container *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticView">
                  <input *ngIf="configuration.items == 'integer'" class="input is-small" type="text"
                    formControlName="{{i}}" [minValue]="configuration?.minimum" [maxValue]="configuration?.maximum"
                    autocomplete="off" appIntegerOnly>
                  <input *ngIf="configuration.items == 'float'" class="input is-small" type="text"
                    formControlName="{{i}}" [minValue]="configuration?.minimum" [maxValue]="configuration?.maximum"
                    autocomplete="off" appFloatOnly>
                  <input *ngIf="configuration.items == 'string'" class="input is-small" type="text"
                    formControlName="{{i}}" [attr.maxLength]="configuration?.length">
                </ng-container>
                <ng-template #staticView>
                  <span class="help">
                    {{listItems?.controls[i]?.value}}
                  </span>
                </ng-template>
              </div>
              <div class="column is-1 has-text-right"
                *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
                <button class="delete my-1 is-small" (click)="removeListItem(i)"></button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <span *ngIf="listItems?.controls[i]?.hasError('minValue')" class="help is-danger">
            <sup>*</sup>Value should not be less than {{configuration?.minimum}}.
          </span>
          <span *ngIf="listItems?.controls[i]?.hasError('maxValue')" class="help is-danger">
            <sup>*</sup>Value should not be greater than {{configuration?.maximum}}.
          </span>
        </div>
      </ng-container>
      <ng-template #objectTemplate>
        <ng-container *ngIf="!isListView">
          <app-list-card [configuration]="configuration" [listItemsForm]="listItemsForm"
            [initialProperties]="initialProperties" [from]="from" [group]="group" [listLabel]="listLabel"
            [firstKey]="firstKey" [items]="items" [item]="item" [index]="i"
            (changedConfig)="getChangedConfiguration(i, $event)" (formStatusEvent)="formStatus($event, i)"
            (removeItem)="removeListItem($event)" />
        </ng-container>
      </ng-template>
    </ng-container>
  </div>
  <ng-container *ngIf="configuration.items == 'object' && isListView">
    <app-list-table [configuration]="configuration" [listItemsForm]="listItemsForm" [from]="'list'"
      [validConfigurationForm]="validConfigurationForm" (removeItem)="removeListItem($event)"
      (addItem)="addListItem(true)" (openModalEvent)="openModal()" (exportFile)="openExportFileModal()" />
  </ng-container>
  <ng-container *ngIf="configuration.items != 'object'; else objectButtonPanel">
    <ng-container
      *ngIf="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length)">
      <div class="field">
        <p class="control">
          <button class="button is-small px-0 pt-1 is-ghost" (click)="addListItem(false)"
            [disabled]="listItems.invalid || !validConfigurationForm">
            <span class="icon is-small mr-0">
              <i class="bi bi-plus bi-sm"></i>
            </span>
            <span>{{listItems.controls.length==0 ? 'Add item' : 'Add new item'}}</span>
          </button>
        </p>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #objectButtonPanel>
    <ng-container *ngIf="listItems.controls.length==0; else buttonPanelTemplate">
      <ng-container
        *ngIf="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length)">
        <div class="field">
          <span class="control">
            <div class="field has-addons">
              <div class="control p-0">
                <button class="button is-small mt-1" (click)="addListItem(false)"
                  [disabled]="listItems.invalid || !validConfigurationForm">
                  <span class="icon is-small mr-0">
                    <i class="bi bi-plus bi-sm"></i>
                  </span>
                  <span>Add item</span>
                </button>
              </div>
              <div class="control p-0">
                <button class="button is-small mt-1 ml-2" (click)="openModal()">Import</button>
              </div>
              <div [id]="'export-dropdown-' + configuration?.key" class="dropdown control mt-1">
                <div class="dropdown-trigger">
                  <button class="button is-small small-btn export-btn" aria-haspopup="true"
                    aria-controls="dropdown-menu" (click)=toggleDropdown()>
                    <span class="icon is-small">
                      <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" (click)="openExportFileModal()">Export</a>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #buttonPanelTemplate>
      <div class="btn-panel-container is-flex-direction-row">
        <div class="btn-panel lower-btn-panel">
          <app-button-panel [isFormValid]="listItems.valid && validConfigurationForm" [isListView]="isListView"
            (addnewItem)="addListItem(false)" (expandAll)="expandAllItems()" (collapseAll)="collapseAllItems()"
            (importFile)="openModal()" (exportFile)="openExportFileModal()"
            [isAddButtonVisible]="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length)" />
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
<app-file-import-modal (appendFile)="appendFileData($event)" (overrideFile)="overrideFileData($event)"
  [configuration]="configuration" />
<app-file-export-modal [data]="listValues" [configuration]="configuration" [categoryName]="categoryName" />