<div [formGroup]="listItemsForm">
  <ng-container *ngIf="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length) && configuration.items == 'object' && listItems.controls.length>0">
    <div class="btn-panel-container">
      <div class="btn-panel upper-btn-panel">
        <app-button-panel (addnewItem)="addListItem(true)" (expandAll)="expandAllItems()" (collapseAll)="collapseAllItems()"/>
      </div>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of listItems.controls; let i = index">
    <ng-container *ngIf="configuration.items != 'object'; else objectTemplate">
      <div formArrayName="listItems" class="field">
        <div>
          <div class="columns is-flex is-vcentered">
            <div class="column is-11">
              <ng-container *ngIf="rolesService.hasAccessPermission(configuration?.permissions); else staticView">
                <input *ngIf="configuration.items == 'integer'" class="input is-small" type="text" formControlName="{{i}}"
                  [minValue]="configuration?.minimum" [maxValue]="configuration?.maximum" appIntegerOnly>
                <input *ngIf="configuration.items == 'float'" class="input is-small" type="text" formControlName="{{i}}"
                  [minValue]="configuration?.minimum" [maxValue]="configuration?.maximum" appFloatOnly>
                <input *ngIf="configuration.items == 'string'" class="input is-small" type="text" formControlName="{{i}}"
                  [attr.maxLength]="configuration?.length">
              </ng-container>
              <ng-template #staticView>
                <span class="help">
                  {{listItems?.controls[i]?.value}}
                </span>
              </ng-template>
            </div>
            <div class="column is-1 has-text-right" *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
              <button class="delete my-1 is-small" (click)="removeListItem(i)"></button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span *ngIf="listItems?.controls[i]?.hasError('minValue')" class="help is-danger">
          <sup>*</sup>Value should not be less than {{configuration?.minimum}}.
        </span>
        <span *ngIf="listItems?.controls[i]?.hasError('maxValue')" class="help is-danger">
          <sup>*</sup>Value should not be greater than {{configuration?.maximum}}.
        </span>
      </div>
    </ng-container>
    <ng-template #objectTemplate>
      <div class="card mt-0 card-shadow">
        <header class="card-header has-background-white card-header-shadow is-justify-content-space-between" 
          id="card-header-{{configuration.key}}-{{i}}">
          <div class="card-header-title">
            <p class="subtitle is-size-9 mb-0">{{listLabel}}</p>
          </div>
          <div class="is-flex is-justify-content-center is-align-items-center">
            <p class="help has-text-grey">{{item.value[firstKey].value}}</p>
          </div>
          <div class="btn-container">
            <button class="card-header-icon tooltip has-tooltip-multiline has-tooltip-right has-tooltip-arrow" [attr.data-tooltip]="extractSingleListValue(item.value) | json" (click)="toggleCard(i)">
              <span class="icon is-small">
                <i class="bi bi-three-dots bi-sm" aria-hidden="true"></i>
              </span>
            </button>
            <button class="card-header-icon" (click)="toggleCard(i)">
              <span class="icon is-small toogle-icon" title="Expand">
                <i class="fas fa-2xs fa-angle-right" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </header>
        <div class="card-content is-hidden" id="card-content-{{configuration.key}}-{{i}}">
          <div formArrayName="listItems">
            <div class="columns mb-0">
              <div class="column is-10 px-3 pb-1 pt-0">
                <app-show-configuration [groupConfiguration]="initialProperties[i]"
                  [fullConfiguration]="initialProperties[i]" (event)="getChangedConfiguration(i, $event)"
                  (formStatusEvent)="formStatus($event)" [from]="from" [group]="group"></app-show-configuration>
              </div>
              <div class="column is-1 has-text-right" *ngIf="rolesService.hasAccessPermission(configuration?.permissions)">
                <button class="delete my-4 is-small" (click)="removeListItem(i)"></button>
              </div>
              <div class="column is-1 has-text-right">
                <button class="button is-small my-2 collapse-btn" (click)="toggleCard(i)"
                [ngClass]="{'is-hidden':item.invalid || !validConfigurationForm}">
                  <span class="icon is-small toogle-icon" title="Collapse">
                    <i class="fas fa-xs fa-angle-up" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <span *ngIf="listItems?.controls[i]?.hasError('minValue')" class="help is-danger">
            <sup>*</sup>Value should not be less than {{configuration?.minimum}}.
          </span>
          <span *ngIf="listItems?.controls[i]?.hasError('maxValue')" class="help is-danger">
            <sup>*</sup>Value should not be greater than {{configuration?.maximum}}.
          </span>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="rolesService.hasAccessPermission(configuration?.permissions) && (!configuration.listSize || configuration.listSize != listItems.controls.length)">
    <ng-container *ngIf="configuration.items != 'object' || listItems.controls.length==0; else objectButtonPanel">
      <div class="field">
        <p class="control">
          <button class="button is-small" (click)="addListItem()"
            [ngClass]="{'px-0 pt-1 is-ghost': configuration.items != 'object', 'mt-1': configuration.items == 'object'}">
            <span class="icon is-small mr-0">
              <i class="bi bi-plus bi-sm"></i>
            </span>
            <span>Add new item</span>
          </button>
        </p>
      </div>
    </ng-container>
    <ng-template #objectButtonPanel>
      <div class="btn-panel lower-btn-panel">
        <app-button-panel (addnewItem)="addListItem(false)" (expandAll)="expandAllItems()" (collapseAll)="collapseAllItems()"/>
      </div>
    </ng-template>
  </ng-container>
</div>