<div class="container is-fluid">
    <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
      [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
      [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
    </ng-progress>
    <div class="field">
      <h5>Select graphs</h5>
      <div class="control">
        <div class="select is-multiple">
          <select multiple size="4" (ngModelChange)="showGraph($event)" [(ngModel)]="selectedGraphs">
            <option *ngFor="let statistic of statistics" [ngValue]='statistic'>{{ statistic.key }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="tile" *ngFor="let statistic of graphsToShow">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h5 class="title">{{ statistic.key }} Statistics History</h5>
          <h6 class="subtitle">{{statistic.description}}</h6>
          <br/>
          <chart [type]="statistic.chartType" [data]="statistic.chartValue" [options]="chartOptions"></chart>
          <br/>
          <h6>Total since startup:<b> {{statistic.value}} </b></h6>
        </article>
      </div>
    </div>
