<div class="container is-fluid">
    <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
      [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
      [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
    </ng-progress>

    <div class="tile" *ngFor="let statistic of statistics">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h3 class="title">{{ statistic.key }} Statistics History</h3>
          <h4 class="subtitle">{{statistic.description}}</h4>
          <br/>
          <chart [type]="statistic.chartType" [data]="statistic.chartValue" [options]="chartOptions"></chart>
          <br/>
          <h6>Total since startup:<b> {{statistic.value}} </b></h6>
        </article>
      </div>
    </div>
