<div id="modal-box" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section *ngIf="childData" class="modal-card-body">
      {{childData.message}}
      <span *ngIf="childData.name != ''" class="has-text-black has-text-weight-semibold">&nbsp;{{childData.name}}</span>
      <span>?</span>
    </section>
    <section *ngIf="shutDownServiceData" class="modal-card-body">
      {{shutDownServiceData.message}}?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="triggerAction()">Yes</button>
      <button class="button" (click)="toggleModal(false)">No</button>
    </footer>
  </div>
</div>