<div id="update_schedule_modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Update Schedule</p>
      <button class="delete" aria-label="close" (click)="toggleModal(false)"></button>
    </header>
    <section class="modal-card-body">
      <div class="card-content">
        <form [formGroup]="form" (ngSubmit)="f.form.valid && updateSchedule()" #f="ngForm" novalidate>
          <div class="columns">
            <div class="column">
              <div class="field">
                <div class="form-group">
                  <label class="label">Name</label>
                  <p class="control is-fullwidth">
                    <input type="text" class="input" formControlName="name" placeholder="name" required/>
                  </p>
                  <small *ngIf="!form.controls.name.valid" class="help is-danger level-left">Name is required</small>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Exclusive</label>
                <div class="control">
                  <input type="checkbox" checked formControlName="exclusive">
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Process</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select formControlName="process_name">
                        <option  [selected]="process == process_name" *ngFor="let process of scheduleProcess">{{process}}</option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Type</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)]="selectedTypeValue" (change)="selected_schedule_type = setScheduleTypeKey(selectedTypeValue)" formControlName="type">
                        <option  [selected]="type.name == type"  *ngFor="let type of scheduleType">{{type.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Repeat (Interval)</label>
                <div class="columns">
                  <div class="column is-fullwidth">
                    <input id="repeat_day" class="input" type='number' appNumberOnly min="0" max="365" placeholder="days" formControlName="repeatDay" required>
                    <input id="repeat_time" class="input" type='text' placeholder="hh:mm:ss" formControlName="repeat" mask='00:00:00' required>
                  </div>
                </div>
                <small *ngIf="form.controls.repeatDay.invalid" class="help is-danger level-left">&nbsp; Repeat days must be in range 0 - 365</small>
                <small *ngIf="form.controls.repeat.invalid" class="help is-danger level-left">&nbsp; Repeat hours must be in range 00:00:00 - 23:59:59</small>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div *ngIf="selected_schedule_type == 2" class="field">
                <label class="label">Day &nbsp;<span class="tooltip is-tooltip-right" data-tooltip="ISO Days (1-7 Mon-Sun)"><i class="fa fa-info-circle"></i></span></label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)]="selectedDay" (change)="selected_day_index = getSelectedDayIndex(selectedDay)" formControlName="day">
                         <option  [selected]="d == day" *ngFor="let d of days">{{d}}</option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div *ngIf="selected_schedule_type == 2" class="field">
                <label class="label">Time</label>
                <p class="control is-fullwidth">
                  <input class="input" type='text' placeholder="hh:mm:ss" mask='00:00:00' formControlName="time">
                </p>
                <small *ngIf="!form.controls.time.valid" class="help is-danger level-left">&nbsp; Time must be in range 00:00:00 - 23:59:59</small>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <div class="control">
                  <button id="save" class="button is-success">Save</button>
                  <button type="button" id="cancel" class="button is-danger" (click)="toggleModal(false)">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>