<div class="modal is-lightweight" id="debugger-readings-box" cdkDrag>
  <div class="modal-card buffer-reading-card">
    <header class="modal-card-head p-2">
      <span class="modal-card-title is-size-6">
        <small> {{debuggerData?.node}} Buffer Data </small>
      </span>
      <div class="mx-1">
        <a class="icon is-clickable has-text-grey" (click)="toggleJsonView()"
          [title]="showRawJson ? 'Switch to Detailed View' : 'Switch to JSON View'">
          <i class="bi" [ngClass]="showRawJson ? 'bi-list-nested' : 'bi-filetype-json'"></i>
        </a>
      </div>
      <button class="delete is-small" aria-label="close" (click)="toggleModal(false)"></button>
    </header>

    <section class="modal-card-body m-0 p-0">
      <app-debugger *ngIf="debuggerData?.debug" [debuggerData]="debuggerData" [from]="'debugger-readings'"
        [serviceName]="debuggerData.serviceName" [showRawJson]="showRawJson" (toggleJson)="toggleJsonView()">
      </app-debugger>
    </section>
    <footer class="modal-card-foot buttons p-2 is-justify-content-flex-end">
      <buffer-action-buttons></buffer-action-buttons>
    </footer>
  </div>
</div>