<div class="container is-fluid">
  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
              [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
              [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
  </ng-progress>
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <div class="media">
          <div class="media-content">
            <strong class="is-medium">Audit Logs</strong>
          </div>
        </div>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <div class="select is-fullwidth">
              <select (change)="filterSource('source', $event)">
                <option selected="selected">Source</option>
                <option *ngFor="let source of logSourceList" [value]='source.code'>{{source.code}}</option>
              </select>
            </div>
          </div>
          <div class="column">
            <div class="select is-fullwidth">
              <select (change)="filterSource('severity', $event)">
                <option selected="selected">Severity</option>
                <option *ngFor="let severity of logSeverityList" [value]='severity.name'>{{severity.name}}</option>
              </select>
            </div>
          </div>
          <div class="column is-fullwidth">
            <number-input-debounce placeholder="limit" (value)="setLimit($event)"></number-input-debounce>
            <p *ngIf='isInvalidLimit' class='help is-danger'>Limit must be in range 1 - 1000</p>
          </div>
          <div class="column is-fullwidth">
            <number-input-debounce placeholder="offset" (value)="setOffset($event)"></number-input-debounce>
            <p *ngIf='isInvalidOffset' class='help is-danger'>Offset must be in range 1 - 2147483647</p>
          </div>
        </div>
      </div>
      <table class="table is-bordered is-striped is-fullwidth" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>Source</th>
            <th>Severity</th>
            <th>Timestamp&nbsp;&nbsp;
              <span class="tooltip is-tooltip-right" data-tooltip="DD-MM-YYYY HH:mm:ss">
                <i class="fa fa-info-circle"></i>
              </span>
            </th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of audit">
            <td>{{log.source}}</td>
            <td>
              <small> {{log.severity}}</small>
            </td>
            <td>
              <span class="tag is-rounded"> {{log.timestamp | dateparser: 'DD-MM-YYYY HH:mm:ss'}}</span>
            </td>
            <td>
              <small> {{log.details | json}}</small>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf='totalPagesCount > 1'>
        <app-pagination [count]="recordCount" [page]="page" [perPage]="limit" [totalPage]='totalPagesCount' (goPrev)="onPrev()" (goNext)="onNext()"
          (goFirst)="onFirst()" (goLast)="onLast()" (goPage)="goToPage($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>