/* You can add global styles to this file, and also import other style files */
html, body, #app {
  height: 100%;
}

html, .footer {
  background-color: #f5f5f5 !important;
}

#app {
  min-height: 100%;
}

table.scroll {
  overflow-x: auto;
  display: block;
}

table.scroll tbody {
  overflow-y: scroll;
  overflow-x: auto;
}

.fixed-overflow {
  overflow-x: hidden;
}

.ng-sidebar[_ngcontent-c3] {
  z-index: 10 !important;
  padding-top: 0px;
}

.app-navbar {
  box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
  }

.card {
        margin-top: 10px;
}
.card-header{
        background-color: whitesmoke;
}
.card-content{
       overflow: auto;
}

.dropdown-list[_ngcontent-c8] {
  position: relative !important;
}

#card-title {
  overflow: hidden;
}
