/* You can add global styles to this file, and also import other style files */

html,
body,
#app {
  height: 100%;
}

html {
  overflow-y: hidden;
}

html,
.footer {
  background-color: #f5f5f5 !important;
}

@media only screen and (min-height: 769px) {
  aside {
            overflow-y: hidden !important;
  }
}

aside.column.is-2 {
  padding: 0%;
}

#app {
  min-height: 100%;
}

table.scroll {
  overflow-x: auto;
  display: block;
}

table.scroll tbody {
  overflow-y: scroll;
  overflow-x: auto;
}

.fixed-overflow {
  overflow-x: hidden;
}

.sidebar {
  z-index: 10 !important;
  padding-top: 0px;
}

.app-navbar {
  box-shadow: 0 2px 3px hsla(0, 0%, 7%, .1), 0 0 0 1px hsla(0, 0%, 7%, .1);
}

.card {
  margin-top: 10px;
}

.card-header {
  background-color: whitesmoke;
}

.card-content {
  overflow: auto;
}

.dropdown-list[_ngcontent-c8] {
  position: relative !important;
}

#card-title {
  overflow: hidden;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
}

.logo {
  width: 100px;
  height: 100px;
  background: url(./assets/favicon.ico) center center no-repeat;
}

.cat-desc {
  background-color: whitesmoke;
  font-weight: bold;
}

.cat-desc a {
  font-weight: bold;
}

.child-panel {
  display: none;
}

.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
  background: transparent;
  font-weight: bold;
  box-shadow: inset 0 0 0px;
  color: #707070;
}

.node-content-wrapper:hover {
  background: transparent;
  box-shadow: inset 0 0 0px;
  color: #707070;
}

.foglamp-logo {
  width: 34px;
  height: 20px;
  background: url(./assets/foglamp.png) center center no-repeat;
}

.navbar-menu {
  box-shadow: none !important;
}

.fix-pad {
  padding-top: 1.0rem;
}

@media only screen and (max-width: 768px) {
  .modal-card {
    padding-top: 4.00rem !important;
  }
}

.no-rec {
  color: darkgray;
}

.tag-syslog {
  border-radius: 2px !important;
  font-size: .75rem !important;
  height: 1.3em !important;
  line-height: 1.3 !important;
  padding-left: 0.25em !important;
  padding-right: .25em !important;
}

@media screen and (min-height: 955px) {
  table.scroll {
    max-height: 72vh;
  }
}

@media screen and (min-height: 800px) and (max-height: 955px) {
  table.scroll {
    max-height: 70vh;
  }
}

@media screen and (min-height: 600px) and (max-height: 800px) {
  table.scroll {
    max-height: 62vh;
  }
}

@media screen and (max-height: 600px) {
  table.scroll {
    max-height: 49vh;
  }
}



/**
Custom css for bulma dropdown
Card Modal dropdown issue(overlapping issue) https://github.com/jgthms/bulma/issues/936
Bulma Burger Dropdown rendering under other elements https://github.com/jgthms/bulma/issues/1655
*/
.dropdown {
  width: 100%;
}

.dropdown-trigger {
  width: 100%
}

.dropdown-trigger > .button {
  display: flex;
  width: 100%;
  justify-content: space-between
}

a.dropdown-item:hover {
  background-color: #3273dc;
  color: #fff;
}

.dropdown-content {
  max-height: 21rem;
  overflow: auto;
}

#avail-plugin{
  padding: 0%;
}
