<div class="reading-details">
    <ng-container *ngIf="readingsCount && readingsCount!==0; else zeroReadingTemplate">
        <small class="reading has-tooltip-top has-tooltip-arrow"
          data-tooltip="Reading count"  data-show="quickview" data-target="quickviewDefault"
          (click)="showReadingsPerAsset()">{{readingCount}}</small>
        <small class="asset has-tooltip-top has-tooltip-arrow"
          data-tooltip="Asset count"  data-show="quickview" data-target="quickviewDefault"
          (click)="showReadingsPerAsset()">{{assetCount}}</small>
    </ng-container>
    <ng-template #zeroReadingTemplate>
        <small class="reading has-tooltip-top has-tooltip-arrow"
          data-tooltip="Reading count">{{readingCount}}</small>
        <small class="asset has-tooltip-top has-tooltip-arrow"
          data-tooltip="Asset count">{{assetCount}}</small>
    </ng-template>
</div>