<ng-container *ngIf="dispatcherServiceEnabled === false">
  <article class="message is-warning">
    <div class="message-body">
      <span *ngIf="dispatcherServiceInstalled === false">Dispatcher service is not installed.</span>
      <span *ngIf="dispatcherServiceInstalled && dispatcherServiceAdded === false">Dispatcher service is not
        added.</span>
      <span *ngIf="dispatcherServiceAdded && dispatcherServiceEnabled === false">Dispatcher service is not
        enabled.</span>
      &nbsp;<a *ngIf="rolesService.hasEditPermissions() && (dispatcherServiceInstalled === false || dispatcherServiceAdded === false || dispatcherServiceEnabled === false)"
        routerLink="/settings/manage-services"><strong>Configure</strong></a>
      <button (click)="getInstalledServicesList()" class="button is-small" id="refresh-check">
        <span class="icon">
          <i class="fa fa-sm fa-sync" aria-hidden="true" title="Recheck"></i>
        </span>
      </button>
    </div>
  </article>
</ng-container>