 <nav class="nav has-shadow" >
    <div class="nav-left">
      <a class="nav-item is-tab" to="/dashboard">
        Dashboard
      </a>
    </div>
    <div class="nav-right">    
     <div class="field level-right">
         Welcome
        <!--<button  class="button" (click)=logOut()>Logout</button>-->
      </div>
    </div>
 </nav>
 <section class="section">
  <!-- <div class="container">
    {{ xdata | json }}   
  </div> -->

 <div class="panel">
        <p class="panel-heading">Values</p>
        <div *ngFor="let entry of (xdata | keys)" class="panel-block">
          <p class="control">
              <label class="label">{{ entry.key }}</label> 
          </p>
          <p class="control">
              <input value="{{ entry.value }}" class="input" type="text" disabled>
          </p>
        </div>
        <div class="field is-grouped panel-heading">
          <p class="control">
            <a class="button is-primary" (click)=start()> Start </a>
          </p>
          <p class="control">
            <a class="button is-danger" (click)=stop()> Stop </a>
          </p>
        </div>
      </div>
</section>
<!--<button class="button is-primary" (click)=start()>Start</button>
<button class="button is-danger" (click)=stop()>Stop</button>
 -->
