<div class="tabs is-boxed">
  <ul>
    <li *ngFor="let g of groups" [ngClass]="{'is-active': seletedTab == g.group}">
      <h6 class="is-6 has-text-weight-semibold">
        <a (click)="selectTab(g.group)">
          {{g.group.includes('Advanced')? 'Advanced Configuration' :
          (g.group.includes('Security')? 'Security Configuration' : g.group)}}
        </a>
      </h6>
    </li>
    <!-- Developer tab to show plugin data -->
    <li [ngClass]="{'is-active': seletedTab == 'developer'}"
      *ngIf="developerFeaturesService.getDeveloperFeatureControl() && pages.includes(from)">
      <h6 class="is-6 has-text-weight-semibold">
        <a (click)="seletedTab = 'developer'">Developer</a>
      </h6>
    </li>
  </ul>
</div>
<div>
  <p class="highlight">
    <ng-container *ngFor="let g of groups">
      <app-view-config-item [hidden]="seletedTab !== g.group"
        [categoryConfigurationData]="{ key: g.category, value : g.values}" [useChildrenProxy]="useCategoryChildrenProxy"
        [formId]="g.group" [groupConfiguration]="category" [group]="seletedTab">
      </app-view-config-item>
    </ng-container>
    <app-plugin-persist-data *ngIf="seletedTab == 'developer' && pages.includes(from)" [serviceStaus]="serviceStatus"
      [serviceName]="category?.key" [pluginName]="plugin">
    </app-plugin-persist-data>
  </p>
</div>
