<div class="tabs is-boxed">
  <ul>
    <li *ngFor="let g of groups" [ngClass]="{'is-active': selectedGroup == g.group}">
      <h6 class="is-6 has-text-weight-semibold">
        <a (click)="selectTab(g.group)">
          {{g.group}}
        </a>
      </h6>
    </li>
    <!-- Developer tab to show plugin data -->
    <li [ngClass]="{'is-active': selectedGroup == 'developer'}"
      *ngIf="developerFeaturesService.getDeveloperFeatureControl() && pages.includes(from) && rolesService.hasEditPermissions()">
      <h6 class="is-6 has-text-weight-semibold">
        <a (click)="selectedGroup = 'developer'">Developer</a>
      </h6>
    </li>
  </ul>
</div>
<div>
  <p class="highlight">
    <ng-container *ngFor="let g of groups">
      <ng-container
        *ngIf="(g.category == categoryKey+'Advanced') || (g.category == categoryKey+'Security'); else configGroup">
        <app-show-configuration [hidden]="selectedGroup !== g.group" [groupConfiguration]="g.config" [group]="g.group"
          [selectedGroup]="selectedGroup" [fullConfiguration]="g.config" (event)="getChangeConfiguration($event)"
          (formStatusEvent)="formStatus($event)"></app-show-configuration>
      </ng-container>
      <ng-template #configGroup>
        <app-show-configuration [hidden]="selectedGroup !== g.group" [groupConfiguration]="g.config" [group]="g.group"
          [selectedGroup]="selectedGroup" [fullConfiguration]="category.config" (event)="getChangeConfiguration($event)"
          (formStatusEvent)="formStatus($event)"></app-show-configuration>
      </ng-template>
    </ng-container>


    <app-plugin-persist-data *ngIf="selectedGroup == 'developer' && pages.includes(from)" [serviceStaus]="serviceStatus"
      [serviceName]="category?.key" [pluginName]="plugin">
    </app-plugin-persist-data>
  </p>
</div>
