@media screen and (min-width: 769px) {
  label{
    width: 12vw !important;
    margin-right: 2vw;
  }
}

.config-div {
  margin-top: 1vw;
}

.tooltip.is-tooltip-multiline::before {
  min-width: 16rem !important;
}
