@media screen and (min-width: 769px) {
  .field-body {
    flex-grow : 2 !important;
  }
}

.config-div {
  margin-top: 1vw;
}

.tooltip.is-tooltip-multiline::before {
  min-width: 16rem !important;
}

.highlight {
  border: 1px solid transparent;
  border-color: #dbdbdb;
  border-top-color: transparent!important;
  border-radius: 4px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  position: relative;
  padding: 1rem;
}

.tabs {
  margin-bottom: 0px !important;
}
