<div class="container is-fluid">
  <div class="navbar-item">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a [routerLink]="['/developer/options']">Developer</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">
            Additional Services
          </a>
        </li>
      </ul>
    </nav>
    <button class="button is-small" id="refresh-check" title="Reload" (click)="additionalServicesUtils.getAllServiceStatus(false, 'additional-services')">
      <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
    </button>
  </div>
    <div class="card">
      <div class="card-content" [ngClass]="{'change-overflow': viewPort !== 'mobile'}">
        <div *ngIf="showLoading" class="has-text-centered has-text-grey">
          Loading...
        </div>
        <ng-container *ngIf="!showLoading">
          <div class="has-text-centered" *ngIf="availableServicePkgs.length === 0 && installedServicePkgs.length === 0">
            <small class="no-rec">No service packages are available with the configured archives repository.</small>
          </div>
          <table class="table is-responsive service-table is-hoverable mb-0">
            <tbody>
              <ng-container *ngFor="let s of installedServicePkgs; let i = index;">
              <tr [ngClass]="{'remove-border': (installedServicePkgs.length - 1) === i}">
                <td class="align-content content-pad py-1">
                  <small>{{s.type == "BucketStorage" ? "Bucket Storage" : s.type }}</small>
                  <p class="help has-text-grey modal-subtitle mt-0">{{s.name}}</p>
                </td>
                <td class="py-3">
                  <div *ngIf="s?.state" class="tags has-addons">
                    <span class="tag is-light" [ngClass]="applyClass(s?.state)">{{s?.state}}</span>
                  </div>
                </td>
                <td class="py-1">
                  <a *ngIf="s?.name && rolesService?.hasEditPermissions()" class="button cog-icon"
                    (click)="openServiceModal(s)">
                    <span class="icon mt-2">
                      <i class="bi bi-gear-wide-connected" aria-hidden="true" title="Service Configuration"></i>
                    </span>
                  </a>
                </td>
                <td class="py-1">
                  <a *ngIf="!s.added && rolesService?.hasEditPermissions()" (click)="openServiceModal(s)"
                    class="button is-text text-btn">
                    Add
                  </a>
                  <app-additional-services-context-menu *ngIf="s?.name" [service]="s" [index]="i"
                    (notify)="onNotifyEvent($event)" (click)="setService(s)"></app-additional-services-context-menu>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let s of availableServicePkgs; let j = index;">
              <tr [ngClass]="{'dashed-border': (j === 0 && installedServicePkgs.length > 0)}">
                <td class="align-content content-pad">
                  <small>{{s.type == "BucketStorage" ? "Bucket Storage" : s.type }}</small>
                </td>
                <td></td>
                <td></td>
                <td class="align-content content-pad">
                  <a (click)="openServiceModal(s)" class="button is-text text-btn">
                    Add
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>

<app-confirmation-dialog id="delete-confirmation-dialog">
  <header class="modal-card-head">
    <p class="modal-card-title is-size-6">Delete</p>
    <button type="button" class="delete" aria-label="close" (click)="closeModal('delete-confirmation-dialog')"></button>
  </header>
  <section class="modal-card-body">
    Deleting {{service?.name}} service can not be undone. Continue?
  </section>
  <footer class="modal-card-foot">
    <button type="button" class="button is-small" (click)="closeModal('delete-confirmation-dialog')">Cancel</button>
    <button type="button" class="button is-small is-danger" (click)="deleteService(service?.name)"
      [appDisableUntilResponse]="reenableButton">Delete</button>
  </footer>
</app-confirmation-dialog>
<app-confirmation-dialog id="confirmation-dialog">
  <header class="modal-card-head">
    <p class="modal-card-title is-size-6">{{ ["shutdown", "disabled"].includes(service?.state) ? "Enable" : "Disable" }}
    </p>
    <button type="button" class="delete" aria-label="close" (click)="closeModal('confirmation-dialog')"></button>
  </header>
  <section class="modal-card-body">
    Are you sure, You want to {{ ["shutdown", "disabled"].includes(service?.state) ? "enable" : "disable" }} the service
    {{service?.name}}?
  </section>
  <footer class="modal-card-foot">
    <button type="button" class="button is-small" (click)="closeModal('confirmation-dialog')">Cancel</button>
    <button type="button" class="button is-small"
      [ngClass]="{'is-info': ['shutdown', 'disabled'].includes(service?.state), 'is-danger': !['shutdown', 'disabled'].includes(service?.state)}"
      (click)="stateUpdate()" [appDisableUntilResponse]="reenableButton">{{ ["shutdown",
      "disabled"].includes(service?.state) ? "Enable" : "Disable" }}</button>
  </footer>
</app-confirmation-dialog>