<div class="container is-fluid">
  <div class="steps">
    <div class="step-item is-active is-success" id="1">
      <div class="step-marker">1</div>
      <div class="step-details">
        <p>Plugin &amp; Service Name</p>
      </div>
    </div>
    <div class="step-item" id="2">
      <div class="step-marker">2</div>
      <div class="step-details">
        <p>Review Configuration</p>
      </div>
    </div>
    <div class="step-item" id="3">
      <div class="step-marker">3</div>
      <div class="step-details">
        <p>Done</p>
      </div>
    </div>
    <div class="steps-content">
      <form [formGroup]="serviceForm" validate>
        <div class="box step-content  is-active" id="c-1">
          <div *ngIf="showSpinner" class="app-loading">
            &nbsp;
            <svg class="spinner" viewBox="0 0 100 100">
              <circle class="path" cx="50%" cy="50%" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
          </div>
          <ng-container *ngIf="!showSpinner">
            <div *ngIf="!plugins || plugins.length === 0" class="has-text-centered">
              <small class="no-rec">
                No south plugin installed.
              </small>
              <small>
                <a (click)="openPluginModal(true)">Install from available plugins</a>
              </small>
            </div>
          </ng-container>
          <div *ngIf="plugins.length > 0" class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">South Plugin</label>
            </div>
            <div class="field-body">
              <div class="select is-multiple">
                <select multiple name="type" #selectedPlugin formControlName="plugin" id="pluginSelect"
                  (change)="getDescription(selectedPlugin.value)" required>
                  <option *ngFor="let p of plugins" [value]="p.name"> {{ p.name }}</option>
                </select>
              </div>
              &nbsp;
              <small *ngIf="selectedPluginDescription && isValidPlugin && isSinglePlugin"
                class="help description level-left">{{
                selectedPluginDescription }}</small>
              <small *ngIf="!isValidPlugin" class="help is-danger level-left">* Please select a valid plugin</small>
              <small *ngIf="!isSinglePlugin" class="help is-danger level-left">* Please select a single plugin</small>
            </div>
          </div>
          <div class="field is-horizontal form-group is-right">
            <div class="field-label is-normal">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <ng-container *ngIf="plugins.length">
                    <a id="avail-plugin" class="button is-text" (click)="openPluginModal(true)">available plugins</a>
                  </ng-container>
                  <app-plugin-modal *ngIf="pluginData.modalState" (notify)="onNotify($event)" [data]="pluginData">
                  </app-plugin-modal>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="plugins.length > 0" class="field is-horizontal form-group">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" id="name" type="text" placeholder="name" formControlName="name" required
                    (input)="validateServiceName($event)">
                  <small *ngIf="!isValidName" class="help is-danger level-left">Service name is required</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box step-content" id="c-2">
          <app-view-config-item [categoryConfigurationData]="configurationData" [useProxy]="useProxy"
            (onConfigChanged)="getChangedConfig($event)" [pageId]="'wizard'"></app-view-config-item>
        </div>
        <div class="box step-content" id="c-3">
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Enabled</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="checkbox" type="checkbox" checked (click)="onCheckboxClicked($event)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="steps-actions">
      <div class="steps-action">
        <button (click)="movePrevious()" data-nav="previous" class="button" id="previous">Back</button>
      </div>
      <div class="steps-action">
        <button (click)="moveNext()" data-nav="next" class="button is-link" id="next"
          [disabled]="plugins.length === 0">Next</button>
      </div>
    </div>
  </div>
</div>
