.hidden {
  display: none;
}

.description {
  flex-shrink: initial !important;
}

.container.is-fluid {
  margin-top: 10px;
}

.help-icon {
  cursor: pointer !important;
}

.enabled-field {
  flex-grow: 0.5;
}

.box {
  margin-bottom: 1.5rem !important;
}