<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="true"
  [direction]="'leftToRightIncreased'" [color]="'#1B95E0'" [trickleSpeed]="300" [thick]="true" [ease]="'linear'">
</ng-progress>
<div class="steps">
  <div class="step-item is-active is-success" id="1">
    <div class="step-marker">1</div>
    <div class="step-details">
      <p>Plugin &amp; Service Name</p>
    </div>
  </div>
  <div class="step-item" id="2">
    <div class="step-marker">2</div>
    <div class="step-details">
      <p>Review Configuration</p>
    </div>
  </div>
  <div class="step-item" id="3">
    <div class="step-marker">3</div>
    <div class="step-details">
      <p>Done</p>
    </div>
  </div>
  <div class="steps-content">
    <form [formGroup]="serviceForm" validate>
      <div class="box step-content  is-active" id="c-1">
        <div *ngIf="!plugins || plugins.length === 0" class="has-text-centered">
          <small class="no-rec">No south plugin found</small>
        </div>
        <div *ngIf="plugins.length > 0" class="field is-horizontal form-group">
          <div class="field-label is-normal">
            <label class="label">South Plugin</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="select is-multiple">
                  <select multiple name="type" formControlName="plugin" (change)="isSinglePlugin = true" required>
                    <option *ngFor="let p of plugins" [value]="p.name"> {{ p.name }}</option>
                  </select>
                </div>
                <small *ngIf="!isValidPlugin" class="help is-danger level-left">Please select a valid plugin</small>
                <small *ngIf="!isSinglePlugin" class="help is-danger level-left">Please select a single plugin</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="plugins.length > 0" class="field is-horizontal form-group">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" id="name" type="text" placeholder="name" formControlName="name" required (input)="validateServiceName($event)">
                <small *ngIf="!isValidName" class="help is-danger level-left">Service name is required</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box step-content" id="c-2">
        <app-view-config-item [categoryConfigurationData]="configurationData" [useProxy]="useProxy" (onConfigChanged)="getChangedConfig($event)"></app-view-config-item>
      </div>
      <div class="box step-content" id="c-3">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Enabled</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="checkbox" type="checkbox" checked (click)="onCheckboxClicked($event)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="steps-actions">
    <div class="steps-action">
      <button (click)="movePrevious()" data-nav="previous" class="button" id="previous">Back</button>
    </div>
    <div class="steps-action">
      <button (click)="moveNext()" data-nav="next" class="button is-link" id="next" [disabled]="plugins.length === 0">Next</button>
    </div>
  </div>
</div>
