<div class="container is-fluid">
  <div class="navbar-item">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a [routerLink]="['/setting']">Settings</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">Manage Services</a>
        </li>
      </ul>
    </nav>
    <button class="button is-small" id="refresh-check" title="Reload" (click)="checkSelectedServiceStatus()">
      <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
    </button>
  </div>
    <div id="connection" class="card">
      <div class="card-content">
        <table *ngIf="servicesData.length > 0" class="table is-responsive is-hoverable is-narrow service-table" cellpadding="0" cellspacing="0">
          <tbody>
            <tbody>
              <tr *ngFor="let service of servicesData">
                <td class="align-content content-pad">
                  <small>{{service?.type !== 'BucketStorage' ? service?.type : 'Bucket Storage'}} Service</small>
                  <p class="help has-text-grey modal-subtitle mt-0">{{service?.name}}</p>
                </td>
                <td>
                  <div *ngIf="service?.name" class="tags has-addons">
                    <span class="tag" [ngClass]="applyClass(service?.status)">{{service?.status}}</span>
                  </div>
                </td>
                <td>
                  <a *ngIf="service?.name" class="button cog-icon" (click)="openServiceModal(service?.type)">
                    <span class="icon">
                      <i class="bi bi-gear-wide-connected" aria-hidden="true" title="Service Configuration"></i>
                    </span>
                  </a>
                </td>
                <td>
                  <div *ngIf="sharedService.checkAuth() && service?.name" id="dropdown-{{i}}" class="dropdown is-left is-hoverable">
                    <div class="dropdown-trigger">
                      <a class="button is-small context-menu" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="icon">
                          <i class="fas fa-ellipsis-v fa-xs fa-fw text-gray-600"></i>
                        </span>
                      </a>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                      <div class="dropdown-content">
                        <a *ngIf="sharedService.checkAuth() && service?.status !== 'shutdown'" class="dropdown-item"
                          (click)="setService(service);openModal('confirmation-dialog')">
                          <span>Disable</span>
                        </a>
                        <a *ngIf="sharedService.checkAuth() && service?.status === 'shutdown'" class="dropdown-item"
                          (click)="setService(service);openModal('confirmation-dialog')">
                          <span>Enable</span>
                        </a>
                        <a *ngIf="sharedService.checkAuth()" class="dropdown-item"
                          (click)="setService(service);openModal('delete-confirmation-dialog')">
                          <span>Delete</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <a *ngIf="!service?.name" (click)="openServiceModal(service?.type)" class="button is-text text-btn">
                    {{service?.btntxt}}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <app-manage-service-modal (notify)="onNotify()" [serviceData]="serviceData"></app-manage-service-modal>
  <app-confirmation-dialog id="delete-confirmation-dialog">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-6">Delete</p>
      <button type="button" class="delete" aria-label="close" (click)="closeModal('delete-confirmation-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Deleting this service can not be undone. Continue?
    </section>
    <footer class="modal-card-foot">
      <button type="button" class="button is-small" (click)="closeModal('delete-confirmation-dialog')">Cancel</button>
      <button type="button" class="button is-small is-danger" (click)="deleteService()" [appDisableUntilResponse]="reenableButton">Delete</button>
    </footer>
  </app-confirmation-dialog>
  <app-confirmation-dialog id="confirmation-dialog">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-6">{{service?.status === 'shutdown' ? 'Enable' : 'Disable'}}</p>
      <button type="button" class="delete" aria-label="close" (click)="closeModal('confirmation-dialog')"></button>
    </header>
    <section class="modal-card-body">
      Are you sure, You want to {{service?.status === 'shutdown' ? 'enable' : 'disable'}} the service {{service?.name}}?
    </section>
    <footer class="modal-card-foot">
      <button type="button" class="button is-small" (click)="closeModal('confirmation-dialog')">Cancel</button>
      <button type="button" class="button is-small" [ngClass]="{'is-info': service?.status === 'shutdown', 'is-danger': service?.status !== 'shutdown'}" (click)="stateUpdate()" [appDisableUntilResponse]="reenableButton">{{service?.status === 'shutdown' ? 'Enable' : 'Disable'}}</button>
    </footer>
  </app-confirmation-dialog>
