.btn-delete {
    border-color: transparent !important;
    opacity: 0;
}

tr:hover .btn-delete {
    opacity: 1;
}

.context-menu {
    border: none;
}

.is-hoverable.service-table tr:hover .context-menu {
    background-color: #fafafa; 
}

.cog-icon {
    background: none;
    border: none;
    font-size: 0.85rem;
}

.service-table {
    width: 50%;
}

#refresh-check {
    margin-left: 3px;
}
  
.breadcrumb {
    margin-bottom: 0px !important;
}

.tbl-border {
    border-bottom: 1px dashed silver;
}

.card-content {
    overflow: visible;
}

