<div class="container is-fluid">
  <div class="navbar-item">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a [routerLink]="['/setting']">Settings</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">Manage Services</a>
        </li>
      </ul>
    </nav>
    <button class="button is-small" id="refresh-check" title="Reload">
      <i class="fa fa-sm fa-sync" aria-hidden="true"></i>
    </button>
  </div>
    <div class="card">
      <div class="card-content">
        <table class="table is-responsive is-hoverable is-narrow mb-0" style="border-bottom: 1px dashed silver">
          <tbody>
             <tr *ngFor="let s of installedServicePkgs">
              <td class="align-content content-pad">
                <small>{{s.type == "BucketStorage" ? "Bucket Storage" : s.type }}</small>
                <p class="help has-text-grey modal-subtitle mt-0">{{s.name}}</p>
              </td>
              <td>
                {{ s.state }}
              </td>

              <td>
                {{ s.added ? "" : "Add" }}
              </td>
              <td>
                <div *ngIf="s.added">
                {{ ["shutdown", "disabled"].includes(s.state) ? "Enable" : "Disable" }}
                </div>
              </td>

                
             </tr>
            </tbody>
        </table>
        <table class="table is-responsive is-hoverable is-narrow">
          <tbody>
             <tr *ngFor="let s of availableServicePkgs">
              <td class="align-content content-pad">
                <small>{{s.type == "BucketStorage" ? "Bucket Storage" : s.type }}</small>
              </td>
                <td class="align-content content-pad">
                  Install
                </td>     
             </tr>
            </tbody>
        </table >
</div>
</div>
</div>