* {
  box-sizing: border-box
}

.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
  top: 15%;
  height: 73vh;
}

.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 36%;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: none;
  padding-top: 6px;
}

.prev {
  left: 0px;
  padding-right: 2px;
}

.next {
  right: 0;
  padding-left: 2px;
}

.prev:hover,
.next:hover {
  background-color: grey;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.margin-top {
  margin-top: 20px;
}