<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Step</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div #ctlDiv [id]="'step-dropdown-' + controlIndex" class="dropdown is-left">
          <div class="dropdown-trigger">
            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu"
              (click)="toggleDropDown(ctlDiv.id)">
              <span>{{selectedStep? selectedStep: 'Choose step type'}}</span>
              <span class="icon is-small">
                <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a (click)="selectStep(step);toggleDropDown(ctlDiv.id)" *ngFor="let step of scriptSteps"
                class="dropdown-item">{{step}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <app-add-write [step]="'write'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'write'"
    (event)="getControl($event)">
  </app-add-write>

  <app-add-operation [step]="'operation'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'operation'"
    (event)="getControl($event)">
  </app-add-operation>

  <app-add-operation [step]="'script'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'script'"
    (event)="getControl($event)">
  </app-add-operation>
</div>
