<div class="field is-horizontal">
  <div class="field-label is-small">
    <label class="label">Step</label>

  </div>
  <div class="field-body">
    <div class="field">
      <div class="control" *ngIf="constrolStatus?.update=== 'false'; else staticStep">
        <div #ctlDiv [id]="'step-dropdown-' + controlIndex" class="dropdown is-left">
          <div *ngIf="sharedService.checkAuth()" class="dropdown-trigger">
            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu"
              (click)="toggleDropDown(ctlDiv.id)">
              <span>{{selectedStep? (selectedStep | titlecase): 'Choose step type'}}</span>
              <span class="icon is-small">
                <i class="fa fa-sm fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a (click)="selectStep(step);toggleDropDown(ctlDiv.id)" *ngFor="let step of scriptSteps"
                class="dropdown-item">{{step | titlecase}}</a>
            </div>
          </div>
        </div>
      </div>
      <ng-template #staticStep>
        <div class="control">
          <input name="step" class="input is-small is-static" type="text" [value]="selectedStep| titlecase" readonly>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="field">
  <app-add-write [step]="'write'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'write'"
    (event)="getControl($event)" [config]="setStepConfig('write')" [update]="update">
  </app-add-write>

  <app-add-operation [step]="'operation'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'operation'"
    (event)="getControl($event)" [config]="setStepConfig('operation')" [update]="update">
  </app-add-operation>

  <app-add-script [step]="'script'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'script'"
    (event)="getControl($event)" [config]="setStepConfig('script')" [update]="update">
  </app-add-script>

  <app-add-configure [step]="'configure'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'configure'"
    (event)="getControl($event)" [config]="setStepConfig('configure')" [update]="update">
  </app-add-configure>

  <app-add-delay [step]="'delay'" [controlIndex]="controlIndex" *ngIf="selectedStep === 'delay'"
    (event)="getControl($event)" [config]="setStepConfig('delay')" [update]="update"></app-add-delay>
</div>
