<div class="container is-fluid">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <div class="media">
          <div class="media-content">
            <strong class="is-medium">Settings</strong>
          </div>
        </div>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column is-2">
            <label class="label">&nbsp;</label>
            <div class="select is-fullwidth">
              <select id="protocol" [ngModel]="protocol">
                  <option>http</option>
                  <option>https</option>
                </select>
            </div>
          </div>
          <div class="column">
            <label class="label is-fullwidth">Host</label>
            <input id="host" class="input" type="text" placeholder="0.0.0.0" [ngModel]="host">
          </div>
          <div class="column">
            <label class="label is-fullwidth">Port</label>
            <input id='service_port' class="input" type="number" maxlength="4" placeholder="8081" [ngModel]="service_port">
          </div>
          <div class="column">
            <label class="label is-fullwidth">Management Port</label>
            <input id="management_port" class="input" type="number" maxlength="5" placeholder="0" [ngModel]="management_port">
          </div>
        </div>
        <div class="columns">
          <div class="column"> 
              <div class="field">
                <button class="button is-primary is-pulled-left" (click)="resetEndPoint()">Set the URL &amp; Restart</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>